[2018-02-19 05:48] jahandaniyal commented on #358
Hi @HitRam , I found couple of other issues with Layout Editor where the UI breaks even when the user doesn't make any changes to the nodes. I also found the same issue as in #334 so instead of writing it again, I have referenced #334 in the issue description (Case 2).

[2018-02-19 06:56] bruce-wayne99 commented on #317
@adbharadwaj , @tmmurali Sir,
-  Yes, there might be confusion for the user. So, I will unite them into one button .
-  Yes, I am changing the database to record the edits made  but I have not considered regarding sending the notifications.
- I would like to keep a pull request for the work I have done till now so that we can think about further extending it.

[2018-02-19 13:38] manishkk commented on #322
@jlaw9 same question as @adbharadwaj do we really need this feature for tags?
Anyway, should I go ahead and start implementing it for other features like sharing/unsharing?

[2018-02-19 16:09] manishkk commented on #322
@adbharadwaj I started working on implementing sharing and here's the current workflow. I plan to change the alert to a better looking modal or simply disabling the share button in case no graph has been selected.

![Share multiple graphs](https://media.giphy.com/media/AiFn0ulRcnYftNbrZM/giphy.gif)

[2018-02-19 23:00] adbharadwaj commented on #322
@manishkk Can you state how you are planning to handle the corner cases?

[2018-02-19 23:07] adbharadwaj commented on #317
@tmmurali
1. I agree that we should have one edit button.
2. Yes, the notifications will be automatically generated once the notification framework is merged. IN the notification framework, we currently have a wrapper function on update data access layer function which will trigger the notification, irrespective which element on the UI or API triggers the update.

@bruce-wayne99   Do not worry abo

[2018-02-19 23:12] adbharadwaj commented on #336
@tmmurali  That's a valid concern.

@jahandaniyal Can you come up with a plan to handle this issue using Option 1 (adding a parent column)? I want to make sure that you understand how to make this change before implementing it.

[2018-02-19 23:18] adbharadwaj commented on #363
@lohani2280 Don't forget to mention this issue in your pull request. It helps us track which issues have been solved.

[2018-02-19 23:27] adbharadwaj commented on #305
@tmmurali Usually open-source projects close the related issue after tagging them as duplicate in the parent issue. Here is the documentation by GitHub on how to do it - [About duplicate issues and pull requests](https://help.github.com/articles/about-duplicate-issues-and-pull-requests/). Another common strategy is to add a duplicate label so that contributors can quickly identify an issue as dupl

[2018-02-19 23:31] #277 closed

[2018-02-19 23:33] adbharadwaj commented on #352
👍

[2018-02-20 02:46] tmmurali commented on #305
Let us take both steps, as seems to the case in the link you included.

On Mon, Feb 19, 2018 at 6:27 PM, Aditya Bharadwaj <notifications@github.com>
wrote:

[2018-02-20 07:01] lohani2280 commented on #363
@tmmurali  @adbharadwaj @mitchwagner Thanks for responding. I'll send the patch very soon.

[2018-02-20 09:43] manishkk commented on #322
@adbharadwaj What do you mean by corners cases here? Do you mean corner cases for tags only or corner cases for tags, unshare/share and remove together.

[2018-02-20 17:08] manishkk commented on #361
@jlaw9 @tmmurali
I faced the same issue but couldn't reliably recreate the same issue after I tried it a few times and then I refreshed all the cookies and logged in again and it worked fine for me.

[2018-02-20 18:13] manishkk opened #365 "Rename existing graph name"
In case of duplicate graphs, renaming existing graph name can help us.

[2018-02-20 22:35] adbharadwaj commented on #365
Can you explain in detail? I am not sure what the bug or issue is!

[2018-02-20 22:46] jahandaniyal commented on #362
@adbharadwaj  Hi, I basically needed these small changes for building locally on windows :

1. To activate the virtual environment I use `venv\Scripts\activate`
2. I start the elastic search service from the installed directory.
`cd C:\Program Files\Elastic\Elasticsearch\6.2.0\bin`
`elasticsearch.exe`
Perhaps adding path to ENV_VARIABLE would be good.
3. During installation I manually executed the

[2018-02-20 23:01] manishkk commented on #365
@adbharadwaj It's an enhancement.
In general case also Graph Search should have a feature by which we can rename existing graphs under my graph tab.

Not only in case of duplicate graphs but for giving a meaningful name to existing graph, this feature is required. Suppose I started a graph with graph name "first" but now I want to give some meaningful name to that graph, which is not possible now.

[2018-02-21 04:28] bruce-wayne99 commented on #317
@adbharadwaj, @tmmurali  Sir,
 I have made a pull request for this issue please look at it

[2018-02-21 13:34] jlaw9 commented on #361
I get this issue every time I try to upload a graph through the UI when I'm logged in ((same error message as the screenshot in @sanket0211 message, reproduced on Chrome and Firefox, before and after clearing cookies). If I change the link given on the UI from `http://www.graphspace.com/graphs/ID` to `http://graphspace.com/graphs/ID`, the graph loads just fine.

If I'm not logged in, I do not have

[2018-02-21 14:44] tmmurali commented on #361
@adbharadwaj Any idea what is causing this issue? Should be a simple fix, I think.

[2018-02-21 18:41] jlaw9 commented on #322
For tags I was thinking of something like is implemented in #317, but the edit button would be for tags only. So it would be similar to the share button you added @manishkk. Maybe you can just hide the button until some graphs are selected.

The use case I was thinking for tags is the following: a user uploads 500+ graphs with a specific tag. They later want to change and/or add new tags to this g

[2018-02-21 18:48] jlaw9 commented on #322
Another point is that we should probably change the "Visibility" column to a "groups" or "sharing" column so you can easily see what groups a graph is shared with on the main page allowing you to see before/after the bulk-edit of sharing.

[2018-02-21 22:40] manishkk commented on #365
Similar issue as #317
so closing this issue.
@adbharadwaj

[2018-02-21 22:40] #365 closed

[2018-02-22 07:18] sanket0211 opened #367 "Home Page UI - The Footer overlaps some of the text at the bottom of the page."
This bug has been seen in Firefox and chrome with 100%zoom(default).

[2018-02-25 20:26] jajodiaraghav opened #369 "Error on uploading Graph"
I get the following error on trying to upload a new graph
![capture](https://user-images.githubusercontent.com/18749480/36646050-431a7fd6-1a98-11e8-9c71-c6174de76209.PNG)

[2018-02-26 00:30] tmmurali commented on #369
Are you logged in or posting anonymously (i.e., as a public user)?

On Sun, Feb 25, 2018 at 3:26 PM, Raghav Jajodia <notifications@github.com>
wrote:

[2018-02-26 04:32] jajodiaraghav commented on #369
I am logging in as a new user. Strangely, None of the first 3 users mentioned in readme file exists. Also, There are no graphs present in my local instance.

[2018-02-26 04:48] adbharadwaj commented on #369
@jajodiaraghav Please refer to the following [closed issue](https://github.com/Murali-group/GraphSpace/issues/335). You have not install elasticsearch. Local installations will not have any data (users or graphs). It is also documented [here](https://github.com/Murali-group/GraphSpace/wiki/Common-installation-roadblocks-faced-by-new-contributors).

Also, here are few things to keep in mind while c

[2018-02-26 04:48] #369 closed

[2018-02-26 04:48] adbharadwaj commented on #369
Also renaming the issue for future search purpose.

[2018-02-26 04:49] adbharadwaj commented on #367
Can you share a screenshot?

[2018-02-26 04:52] adbharadwaj commented on #361
@tmmurali @jlaw9 @manishkk @jahandaniyal it seems that the session is different for `http://www.graphspace.com` and `http://graphspace.com`.  One solution will be to use the host domain of the current session instead of using the configured hostname in the settings file.

[2018-02-26 05:54] sanket0211 commented on #367
@adbharadwaj Sir,
Following is the screenshot.
![ui_bug](https://user-images.githubusercontent.com/9818825/36655224-4701b98a-1ae7-11e8-84fb-10a2ebea4ab6.png)
On the right side you can see that we cannot scroll-down more than that, but still the bottom part of the screen is not visible (i.e the descriptions of "search graphs", "organize graphs", "RESTFull APIs").

[2018-02-26 05:56] sanket0211 commented on #270
#332

[2018-02-26 05:58] sanket0211 commented on #270
Similar to #332.

[2018-02-26 06:06] sanket0211 commented on #361
@adbharadwaj Sir @tmmurali @jlaw9 @manishkk @jahandaniyal,
I came across this website - https://www.a2hosting.com/kb/developer-corner/apache-web-server/adding-or-removing-the-www-prefix-in-domain-urls.
Would this help?

[2018-02-26 06:51] adbharadwaj commented on #361
@sanket0211 That is one solution. Can you investigate the reason behind different session for different subdomains in django?

[2018-02-26 06:53] adbharadwaj commented on #270
Closing since its a duplicate issue.
Duplicate of #332

[2018-02-26 06:53] #270 closed

[2018-02-26 06:54] adbharadwaj commented on #367
@sanket0211  Thanks. What is causing this issue?

[2018-02-26 07:23] jahandaniyal commented on #336
For reading the graph description I would like to suggest using the existing REST api to fetch graph (id=<parent_id>) and then filter the data, since we only want the graph description and not the json data for parent.  Or, I can create another endpoint for fetching only the graph description?

[2018-02-26 08:11] adbharadwaj commented on #365
👍

[2018-02-26 08:18] adbharadwaj commented on #336
@jahandaniyal I didn't really understand when will the `ParentGraphAlreadyExists` error be raised?

We cannot use a default value of 0 because 0 will mean that parent exists. We will have to use NULL as default.

I don't we need to make changes to `GET graphs` REST api.

[2018-02-26 08:22] adbharadwaj commented on #322
@manishkk I meant corner cases for tags, unshare/share and remove separately.

[2018-02-26 08:32] adbharadwaj commented on #362
I think what we can do is create a wiki page for it. @jahandaniyal Can you use this page to document the installation instructions.

https://github.com/Murali-group/GraphSpace/wiki/Installing-GraphSpace-on-Windows-machine

[2018-02-26 09:13] jahandaniyal commented on #336
@adbharadwaj Thanks for clearing my doubts. Regarding `ParentGraphAlreadyExists `, I was thinking of adding an extra layer of check in the server-side itself for the case when User tries to fork any graph more than once. In the current implementation we are handling this case in the UI itself.

[2018-02-26 10:05] sanket0211 commented on #367
@adbharadwaj Sir,
The following had created the issue:
1. The position of header and footer are absolute, thus the total screen size was reduced for other HTML components. The other components of HTML were created not taking into consideration the reduced screen size due to the header and footer.

I have submitted the patch with corrected UI - #370
I have just reduced the top-padding of the footer

[2018-02-26 10:30] jahandaniyal commented on #362
@adbharadwaj I have updated the page. Please have a look!
@lohani2280 Thanks for updating the Documentation info on README.md. I hope you don't mind If I add your changes to this page as well?

[2018-02-26 10:42] lohani2280 commented on #362
Hey @jahandaniyal  please go on! . There is nothing to mind. Its a very good initiative to create a wiki page and mention the instructions to run GraphSpace locally on Windows.

[2018-02-26 14:58] tmmurali commented on #362
@adbharadwaj We should have a master page for installation that contains or links to OS-specific instructions. At the moment, README.md contains info for Linux and Mac OS X while the Windows instructions are on the Wiki. We need to centralise and make all OSes "equal".

README.md is also very long. We should move installation instructions to a separate page.

[2018-02-26 15:01] tmmurali commented on #336
@jahandaniyal @adbharadwaj are we allowing forking/cloning through the REST API?

[2018-02-26 20:07] sanket0211 commented on #361
@adbharadwaj Sir,
I guess the session cookie is not being shared across multiple domains. Check out this https://stackoverflow.com/questions/2116860/django-session-cookie-domain-with-multiple-domains. Here they have mentioned ways of sharing session cookie across multiple domains and sub-domains. We can try it.

[2018-03-01 11:48] jahandaniyal commented on #336
@tmmurali We will be using the existing ` POST Graph` API for forking. We could have added a new API only for forking but too many APIs doing similar tasks will only increase redundancy in the source code.

[2018-03-01 13:39] tmmurali commented on #336
Thanks. What is the syntax for the fork command?

On Thu, Mar 1, 2018 at 6:48 AM, Daniyal Jahan Warsi <
notifications@github.com> wrote:

[2018-03-01 14:00] sanket0211 commented on #332
@adbharadwaj Sir,
Need to close this issue. The pull request has been merged by prof. @tmmurali.

[2018-03-01 18:08] jlaw9 opened #371 "Improve performance on large networks"
A network I posted with 170 nodes and ~5000 edges takes ~30 seconds to load and causes the browser to hang a couple of times. Selecting nodes also takes a couple of seconds. This graph is a little larger than other graphs on GraphSpace, but still seems like something cytoscape JS should be able to handle.

Upon inspecting the CYJS and JSON exported from graphspace, it appears the edge styles are l

[2018-03-01 18:20] jlaw9 commented on #371
The cytoscape js [cola graph example](http://js.cytoscape.org/demos/colajs-graph/) has some great examples of selectors in the [cy-style.json](https://github.com/cytoscape/cytoscape.js/blob/master/documentation/demos/colajs-graph/cy-style.json) file.

[2018-03-01 18:32] jahandaniyal commented on #336
The syntax will be like `POST graphs` - http://www.graphspace.org/static/api.html#graphs_post.
A Javascript example would be similar to  `apis.graphs.add( data, successCallback(), errorCallback())`. Where `data` is `{'keys':'values'}` consisting of the graph's data.
Another aspect that i'm considering is whether to allow user to fork graph by only specifying the `graph_id`. The existing `POST grap

[2018-03-01 18:43] tmmurali commented on #336
The forking user must specify the id of the original graph, otherwise how will GraphSpace record that it is a fork.

Overloading post functionality seems to be bad design. We need to be more explicit about it being
a fork operation. @adbharadwaj can you comment?

[2018-03-01 19:26] jahandaniyal commented on #336
Prof. @tmmurali I agree that it is a bad idea to mess around with existing REST APIs. .
But we are adding a new field(`parent_graph_id`) to the graph table in the database. Now, when a user forks a graph we need to create a new graph for that user with the `parent_id=<value>` field set and to create a new Graph we already have the existing `POST graph` API. The current POST conditionally handles t

[2018-03-02 20:33] adbharadwaj commented on #341
Things to be fixed
- Text has to be changed
- Find a good way to store notification message templates
    - Config file
    - Jinja templates
- UI changes
    - Add margin to notification page
    - Show latest 5 notifications as dropdown of bell icon
    - Numbers should be aligned to the right on side menu
    - Makes changes to bootstrap table default functionality like "Showing 1 to 1 of 1 row

[2018-03-02 21:03] #332 closed

[2018-03-02 21:11] #363 closed

[2018-03-02 21:20] adbharadwaj opened #372 "Refactor README.md file"
README.md is also very long right now. We want to move OS-specific installation instructions to a separate page and rather provide hyperlinks to installation instructions on README page.

I suggest we should add a table of content which will hyperlink to wiki documentation.

[2018-03-02 21:21] adbharadwaj commented on #372
I also feel that we should remove the part about three dummy users.  It creates a lot of confusion among first-time contributors.

[code]

[2018-03-02 21:43] adbharadwaj commented on #336
@jahandaniyal I agree with @tmmurali  that initiating a fork via `POST graph` API is not a good idea. Infact, I wouldnt want to allow users to set the `parent_id` field using `POST\UPDATE graph` api.

Using a new ENDPOINT will be the right solution here. However, so far none of our API endpoints use verbs. Refer to [RESTful API Designing guidelines](https://hackernoon.com/restful-api-designing-gui

[2018-03-02 21:43] adbharadwaj commented on #362
@tmmurali We probably need to create a table of content on README.md which will link to different pages on wiki.

I am going to close this issue and initiate a new issue on what should be included on the README page.

https://github.com/Murali-group/GraphSpace/issues/372

[2018-03-02 21:43] #362 closed

[2018-03-02 21:47] adbharadwaj commented on #361
I like the last solution i.e., setting the session cookie domain to start with a "." character.
[code]
@sanket0211 Can you send a fix for this issue? Also attach a GIF which shows that the issue has been fixed.

[2018-03-03 04:29] tmmurali commented on #372
I agree both to refactoring the installation docs and the dummy users. We
should also remove the users from GraphSpace.

On Fri, Mar 2, 2018 at 4:21 PM, Aditya Bharadwaj <notifications@github.com>
wrote:

[2018-03-03 14:46] sanket0211 commented on #372
@adbharadwaj Sir and Prof. @tmmurali,
I agree with you about refactoring README.md. I am taking up this issue and shall submit a patch with the new README.md with the hyperlinks to wiki documentation.
Currently, I suppose the wiki documentation is lacking in information regarding installation. We can shift the installation instructions written in README.md to the wiki page and give hyperlinks to i

[2018-03-04 07:53] sanket0211 commented on #367
@adbharadwaj Sir,
Here is the gif of the issue:
![out](https://user-images.githubusercontent.com/9818825/36943397-bc395016-1fae-11e8-9c49-5161ff6b6154.gif)

I have attached the gif of the crrected UI along with the patch I have submitted - #370

Thank you.

[2018-03-04 20:28] sanket0211 commented on #372
@adbharadwaj Sir ad Prof. @tmmurali,
I have submitted a patch - #373 with the new README and also created the wiki pages:
1. https://github.com/Murali-group/GraphSpace/wiki/Running-GraphSpace-Locally
2. https://github.com/Murali-group/GraphSpace/wiki/Running-GraphSpace-on-Apache
Please have a look and let me know if any changes are required.

Thank you.

[2018-03-09 13:26] bruce-wayne99 opened #374 "Unable to setup Realtime notification feature of Graphspace"
Getting `kafka.errors.NoBrokersAvailable: NoBrokersAvailable` error on running `sh install.sh` for installing **GraphSpace** while trying to setup #315 locally.
Screenshot:
![kafka_error](https://user-images.githubusercontent.com/25129274/37209522-987209e0-23cb-11e8-8db7-ef1e568119b9.png)

[2018-03-19 19:54] JingVT opened #375 "Login button is invisible in local installation of GraphSpace in Chrome 65.0.3325.162 and Ubuntu 16.0.4."
I installed the GraphSpace-2.0 in the Ubuntu 16.0.4 OS. The login button is invisible in Chrome 65.0.3325.162.
Screenshot:
![local_graphspace_chrome_error](https://user-images.githubusercontent.com/33851894/37618773-aff55c92-2b8d-11e8-8d13-87d4d539395a.png)

The reason is probably GraphSpace is not compatible with the latest version of Chrome. I would like to work on this issue. The idea is removi

[2018-03-21 02:43] melvin15may opened #376 "A better way to implement Kafka consumers"
As the number of kafka consumer grows, we should think of moving them to a separate app. Right now kafka consumers run in the background as a separate thread. This makes it extremely difficult to pinpoint errors.

[2018-03-21 04:10] JingVT commented on #375
The Chrome console is: [DOM] Found 2 elements with non-unique id #register_form: (More info: https://goo.gl/9p2vKq)

[2018-03-21 13:20] tmmurali commented on #375
@JingVT please edit the title of the issue as we discussed yesterday.

[2018-03-21 14:20] JingVT commented on #375
@tmmurali I did. The current title is the edited one. Is there anything I still need to correct? Thanks.

[2018-03-22 04:17] tmmurali commented on #375
Thanks.

[2018-03-22 19:46] #374 closed

[2018-03-23 19:40] adbharadwaj commented on #341
Notification texts are available in [base.py](https://github.com/melvin15may/GraphSpace/blob/e%23264/graphspace/settings/base.py) file right now.

[2018-03-27 21:12] JingVT commented on #375
The issue can not reproduce.

[2018-03-27 21:13] #375 closed

[2018-03-28 16:50] JingVT opened #377 "Create a Google Group (Mail List) for Users of GraphSpace"

[2018-03-28 20:45] tmmurali commented on #377
I created graphspace-users@googlegroups.com

[2018-03-28 23:14] JingVT commented on #377
Got it. Thank you. @tmmurali

[2018-03-30 04:37] bruce-wayne99 commented on #359
@adbharadwaj  I have suggested two methods to solve this issue. Please consider them and suggest me if this issue can be solved in a better way. Thanks!

[2018-03-30 19:33] adbharadwaj commented on #341
Things to do
- Update the text for notifications
- Create a google doc with all notifications text and share with Murali for approval
- Update UI (things like aligning numbers and text and fixing theme of the page to match rest of the GraphSpace website)

[2018-04-06 19:41] adbharadwaj commented on #341
Add documentation here - https://github.com/Murali-group/GraphSpace/wiki/Notifications-UI

[2018-04-17 00:04] LHuang2019 opened #378 "Update cytoscape.js version"
Currently GraphSpace website supports cytoscape.js version 2.7. The newest existing cytoscape.js is on version 3.2.11.

The website should update cytoscape.js to allow user to upload graphs that comes with newer cytoscapejs features. For example, the newer cytoscape.js version supports graph that contains nodes with multiple background images, this feature is not supported by the cytoscape.js used

[2018-04-17 15:57] jlaw9 commented on #378
Updating the cytoscape.js version was discussed in #295

[2018-04-19 20:03] mitchwagner opened #379 "Side Panel Search Bar Text Unreadable"
Right now, the side panel seems to be a fixed size (I tried to make it grow by expanding my window, to no avail). Thus, the text in the search bar gets cut off. When you click on the search bar, the text also appears above the bar, and is fully readable, which renders the text in the search bar somewhat redundant.

This does not really impair site usability, but some minor UI tweaks could make thi

[2018-04-30 16:18] mitchwagner opened #380 "Front Page Hyperlink Internal Server Error"
Clicking on the "Construct graphs" link on the front page tries to redirect me to:

http://www.graphspace.org/help/programmers/#graphs

Attempting to navigate to this page results in an "Internal Server Error"

![screenshot from 2018-04-30 12-14-43](https://user-images.githubusercontent.com/5316207/39437851-1aee9984-4c70-11e8-81c0-4319fe1c0b49.png)

I believe that the URL is outdated, and should b

[2018-05-01 15:56] jlaw9 commented on #291
It shouldn't be an issue to add additional properties to the top-level of the cytoscape-style JSON. GraphSpace already adds a couple. Other applications that don't use that field/option would just ignore it.

[2018-05-10 15:34] mitchwagner opened #383 "Modified Timestamp Does Not Reflect Recent Actions"
I updated the graph in the image below within the last hour via the API. I also moved some nodes and saved a layout.

However, the "Last Modified" column on the graphs page does not appear to reflect the time these changes took place. I would expect both of the actions above to cause an adjustment in this column.

![screen shot 2018-05-10 at 11 29 47 am](https://user-images.githubusercontent.com/5

[2018-05-16 03:29] JingVT opened #384 "Unable to upload graph to graphspace locally - Error: add_node() takes exactly 2 arguments (3 given)"
When I upload the network file to graphspace locally, it shows "Error: add_node() takes exactly 2 arguments (3 given)". And when I upload the network file and style file to graphspace locally, it shows "Error: No JSON object could be decoded". Refer to #335, I re-installed and configured the elasticsearch following https://www.digitalocean.com/community/tutorials/how-to-install-and-configure-elast

[2018-05-16 13:41] jlaw9 commented on #384
@JingVT the add_node() error sounds like a networkx error from graphspace-python which currently uses networkx v1.11. See https://github.com/adbharadwaj/graphspace-python/issues/20 for how to fix that error.

I'm not sure how to fix the other error you're getting.

[2018-05-17 13:38] adbharadwaj commented on #384
Jeff is right. You need to use networkx v1.11. This problem should not
arise if you are using the virtual environment to load python packages. You
need to give more details about the other error. #335
<https://github.com/Murali-group/GraphSpace/issues/335> seems to have a lot
of discussions.

*Aditya Bharadwaj*
Graduate Research Assistant,
Department of Computer Science,
Virginia Tech
adb@vt.edu

[2018-05-18 13:07] adbharadwaj commented on #384
Are you using the virtual environment? In any case create a virtual
environment and load python packages from there. What json file are you
uploading ?

A note. I have never encountered this error. You might to debug this.

On Thu, May 17, 2018, 11:21 PM JingVT <notifications@github.com> wrote:

[2018-05-18 13:16] jlaw9 commented on #384
Yeah it sounds like whatever JSON file you're trying to upload is formatted incorrectly. Maybe try using a different one?

[2018-05-18 19:35] JingVT commented on #384
Thanks @jlaw9. You are right. I think the format of my JSON file was wrong. I create a new one and uploading graph works well now.

[2018-06-12 15:35] mitchwagner opened #389 "Make graph upload/update date accessible to users"
On the "graphs" tab, the "Last Modified" column provides a "fuzzy" time (1 year ago, 2 years ago). Outside of this, I have trouble locating a proper timestamp for the graph information.

Adding this somewhere might tie in well with the Git for Graphs GSoC project, as an important component of versioning.

[2018-07-21 18:31] annaritz opened #391 "Sort by columns doesn't work for graphs on the Groups page"
On the Groups page, the column headings indicate that you can sort by Graph Owner, Visibility, and Last Modified.  These do not work for any group that I created or that I am a member of.

Sorting by column heading **does work** on the Graphs page.

[2018-07-21 18:33] annaritz opened #392 "Add a "Save Layout" button on the Layouts pane"
Currently, the only way to save a layout is to enter the Layout Editor from the Layouts pane.

However, I often want to save the layout that I just generated (either manually or through the automatic layouts).  To do this I need to enter the Layout Editor and immediately exit the Layout Editor (the dialogue box asking to save the layout pops up then).

In fact, it would be nice to save a layout at

[2018-07-29 11:06] jahandaniyal commented on #391
Does this bug appear on the **Graphs** page or **Groups** page ? or both ?

[2018-07-29 11:11] jahandaniyal commented on #389
@mitchwagner , I had a discussion regarding this issue with @adbharadwaj and @JingVT . The issue has been resolved for all the modules I've been working on as a part of GSOC. I will send patches for existing modules after my project ends (subject to further discussion with my mentors).

[2018-08-14 15:36] #384 closed

[2018-08-27 19:57] jlaw9 commented on #291
The css field in GraphSpace which specifies the background color is in [#cyGraphContainer](https://github.com/Murali-group/GraphSpace/blob/e30eed4fbc053e4f79918c040db15c91282e9f9e/static/css/graphspace.css#L138)

[2018-08-28 18:26] adbharadwaj commented on #309
We probably want to setup a framework which allows us to add more properties like this by editing a configuration file which describes type of the style properties (color/number/text) etc.

[2018-08-28 18:33] adbharadwaj commented on #292
Once we upgrade cytoscape.js #378  we can add filter box like search box which will allows users to filter by entering queries.

[2018-08-28 18:37] adbharadwaj commented on #222
https://summerofcode17.wordpress.com/2017/05/30/using-the-graphspace-restful-api/

[2018-08-28 18:38] adbharadwaj commented on #222
Example: https://support.dnsimple.com/articles/api-access-token/

[2018-08-28 18:42] adbharadwaj commented on #148
Example: https://idratherbewriting.com/learnapidoc/docapis_doc_status_codes.html

[2018-09-03 15:34] JingVT commented on #148
Create a page for descriptions of all error statuses on https://www.graphspace.org/docs/errors/
Example: https://www.graphspace.org/docs/errors/#400 should take users to 400 error status
All error statuses included in graphspace/exceptions

[2018-09-05 10:13] jahandaniyal commented on #379
@mitchwagner  The following CSS Style should fix the cut off issue.
I have tested this on a 2736 x 1824 resolution display & zoom range 25% to 300%.

`/* all */`
`::-webkit-input-placeholder { font-size: 12px;  }`
`::-moz-placeholder { font-size: 12px; } /* firefox 19+ */`
`:-ms-input-placeholder {font-size: 12px;  } /* ie */`
`input:-moz-placeholder {font-size: 12px;  }`

![graphspace_378_fix](ht

[2018-09-13 15:20] adbharadwaj commented on #341
@sushma16 is planning to work on this issue.

[2018-09-13 15:33] adbharadwaj commented on #341
@sushma16 Another useful link:
https://github.com/Murali-group/GraphSpace/wiki/Instructions-for-GSoC-Students

[2018-09-13 15:41] adbharadwaj commented on #341
Useful link: https://www.youtube.com/watch?v=LhiVHo_hkW0

[2018-09-13 15:45] adbharadwaj commented on #341
Another useful documentation: https://github.com/Murali-group/GraphSpace/wiki/Notification-system-for-GraphSpace

[2018-09-18 17:55] JingVT commented on #291
[The CytoscapeJS and Cytoscape projects have diverged quite a bit over the years caused this issue](https://code.cytoscape.org/redmine/issues/4317#change-15944). We will wait for them to align the visual styles. The current better solution is suggesting GraphSpace users don't set background color of nodes to white.

[2018-09-26 20:13] adbharadwaj commented on #341
@sushma16 Add documentation here - https://github.com/Murali-group/GraphSpace/wiki/Notifications-UI

[2018-09-27 17:51] tmmurali commented on #291
@jlaw9 Can we close this issue now as per @JingVT's comment?

[2018-09-27 18:09] jlaw9 commented on #291
The cytoscape team said they are not planning to add background-color to the style JSON, so I don't think we should wait for them.

I still think we should be able to update GraphSpace to recognize when a special field is present at the top level of the style JSON such as "background-color" and then take the value from there and set the corresponding CSS <div> tag to that color value.

Once we hav

[2018-09-27 20:34] tmmurali commented on #291
The main concern about your approach is that it introduces yet another GraphSpace-specific style element to the JSON. I would very much like to avoid doing this.

[2018-10-22 15:14] jlaw9 commented on #295
I made an issue on Cytoscape js to see if the z-index could be set separately for the node and the node label, but unfortunately it won't be implemented (https://github.com/cytoscape/cytoscape.js/issues/1900).

[2018-10-22 15:48] JingVT opened #396 "All default layout selections under "Select Layout Algorithm" do not work after upgrade Cytoscape.js to version 3.2.17"
After we update Cytoscape.js version #378 from v2.7 to v3.2.17, all default layout selections under "Select Layout Algorithm" do not work.
![image](https://user-images.githubusercontent.com/33851894/47302714-30a83f00-d5f0-11e8-979b-b4f25733ad10.png)

[2018-10-22 21:21] JingVT opened #398 "Edit selected nodes/edges buttons not work for upgraded Cytoscape.js version 3.2.17"
After we update Cytoscape.js version #378 from v2.7 to v3.2.17, "edit selected nodes" and "edit selected edges" buttons do not work.
![eidt_node_edges_bug_example](https://user-images.githubusercontent.com/33851894/47320214-c490ff80-d61e-11e8-9538-6b8459bd9a64.gif)

[2018-10-23 00:01] JingVT opened #402 "Layouts under "Arrange nodes" not work for upgraded Cytoscape.js version 3.2.17"
After we update Cytoscape.js version #378 from v2.7 to v3.2.17, "circle", "concentric", and "grid" selections under "Arrange nodes" do not work.
![arrange_nodes_bug_example](https://user-images.githubusercontent.com/33851894/47326116-41c76f00-d635-11e8-837d-eb1223275106.gif)

[2018-10-24 20:16] adbharadwaj commented on #341
Sample notifications page from github

<img width="1440" alt="screenshot 2018-10-24 at 4 14 59 pm" src="https://user-images.githubusercontent.com/3481095/47458658-131dd580-d7a8-11e8-838e-c7dd24dedde9.png">

[2018-10-25 20:02] JingVT opened #404 "The Spring Embedder Layouts for Cytoscape.js v2.7 and v3.2.17 are different"
After we update Cytoscape.js version #378 from v2.7 to v3.2.17, the "Spring Embedder" layout is different from the old version.

Spring Embedder Layout for Cytoscape.js v2.7
![spring_embedder_2 7](https://user-images.githubusercontent.com/33851894/47526876-18922300-d86f-11e8-81e4-402d958361b1.gif)

Spring Embedder Layout for Cytoscape.js v3.2.17
![spring_embedder_3 7](https://user-images.githubuse

[2018-10-25 20:08] JingVT commented on #404
The reason could be https://github.com/cytoscape/cytoscape.js/issues/1687

[2018-10-26 18:08] adbharadwaj commented on #404
I wouldn't worry too much about. They might have changed some default setting.

[2018-10-26 18:08] #404 closed

[2018-10-26 19:31] JingVT opened #405 "Remove applyMax functions in graphs_page.js which has been deprecated."
The applyMax functions in graphs_page.js have been deprecated, so we need to remove them.

[2018-11-14 21:57] adbharadwaj commented on #341
@sushma16

[2018-11-14 22:45] adbharadwaj commented on #341
@sushma16

[2018-12-01 17:58] JingVT opened #410 "Confirm email of exist users"
We have added confirmation email to new register users. That cause existed users can not log in.
Two options:
1. Change the user_status to approved manually in the database (not a good one)
2. When existed users log in, require them to confirm their email once.

[2019-01-08 19:58] lohani2280 commented on #392
@annaritz @adbharadwaj I would like to work on this issue.

[2019-01-08 21:35] jlaw9 commented on #392
@lohani2280 you may be able to use code from #271 as it adds a save button to the layout editor mode

[2019-01-23 12:14] jahandaniyal commented on #383
@mitchwagner @adbharadwaj - This should be a neat solution to the bug. Please have a look.

[2019-01-23 12:16] jahandaniyal commented on #383
@mitchwagner @adbharadwaj - This should be a neat solution to the bug. Please have a look.

[2019-02-17 10:07] jahandaniyal commented on #336
Closing this issue as this should not be taken up by GSoC '19 prospective students.

[2019-02-17 10:07] #336 closed

[2019-02-17 14:39] theweblover007 commented on #360
@adbharadwaj Is this issue solved or not ?

[2019-05-24 11:40] lohani2280 opened #413 "Issues during signup and login"
I am running graphspace locally using the latest master branch. Whenever I try to signup or login I am facing issues. I have attatched a screenshot below:
![Screenshot from 2019-05-24 17-04-43](https://user-images.githubusercontent.com/18470647/58325230-b9b57c00-7e46-11e9-8086-e652e7c14e51.png)

[2019-05-31 12:49] lohani2280 commented on #413
Works fine now. Closing.

[2019-05-31 12:49] #413 closed

[2019-06-20 23:07] jahandaniyal opened #415 "DIFF-01 [FEAT] Implement Diff functionality for 2 Graphs"
# Purpose
Implement basic **Diff for Graphs** functionality for comparing 2 graphs.

[Add more details later]

#### Acceptance Criteria
- [x] Implements graph intersection and graph difference
- [x] Pageview user-interface
- [x] Graphical User Interface (Cytoscape canvas to render graphs)
- [ ] PR documentation
    - [ ] Document API changes
    - [ ] Document UI changes (mainly GIFs and screensho

[2019-12-10 18:53] yash170106065 opened #418 "Unable to run GraphSpace Locally"

[2019-12-10 18:57] yash170106065 commented on #418
Performing system checks...

System check identified some issues:

WARNINGS:
?: (1_8.W001) The standalone TEMPLATE_* settings were deprecated in Django 1.8 and the TEMPLATES dictionary takes precedence. You must put the values of the following settings into your default TEMPLATES dict: TEMPLATE_DEBUG.

System check identified 1 issue (0 silenced).
December 10, 2019 - 13:47:24
Django version 1.9.7,

[2019-12-11 10:40] yash170106065 commented on #418
@adbharadwaj can you help me on this?

[2019-12-11 12:29] jahandaniyal commented on #418
@yash170106065 - Can you check console of your browser (F12 for most browsers) for anything specific?

[2019-12-11 12:40] yash170106065 commented on #418
![Screenshot from 2019-12-11 18-09-50](https://user-images.githubusercontent.com/35887250/70622257-82bb8200-1c41-11ea-949b-7e141cc8d475.png)

[2019-12-11 13:22] jahandaniyal commented on #418
Bootstrap seems to be missing. Please check your **bower** installed packages in virtualenv.

[2019-12-11 13:48] yash170106065 commented on #418
No i already done bower install bootstrap-css

[2019-12-11 20:55] adbharadwaj commented on #418
@yash170106065  Can you let me know what is exception message at this location - https://github.com/Murali-group/GraphSpace/blob/master/graphspace/middleware.py#L82

You can use debug mode in PyCharm or simply print the message to find it out.

[2019-12-13 19:05] yash170106065 commented on #418
Thanks, it's running now

[2019-12-13 19:05] #418 closed

[2020-03-04 19:35] Anirbanbhk88 commented on #379
Hello Is this issue still open? Can I take this up?

[2020-03-04 23:33] adbharadwaj commented on #379
Yes. It's still open.

On Wed, Mar 4, 2020 at 2:35 PM Anirban Bhowmick <notifications@github.com>
wrote:

--
*Aditya Bharadwaj*
Graduate Research Assistant,
Department of Computer Science,
Virginia Tech
adb@vt.edu

[2020-03-05 19:09] Anirbanbhk88 commented on #379
I have used the following CSS to the searchbar input element in the html to fix the placeholder cut off issue.
.inputSrchEdgeNodes{
    padding-top: 6px !important;
    padding-right: 19px !important;
    padding-bottom: 6px !important;
    padding-left: 6px !important;
}

I also commented the following html code(in default_sidebar.html) which I suppose was causing the placeholder text to move to

[2020-03-08 09:14] jahandaniyal commented on #379
Please follow the contributor's guide and submit a Pull-Request to `develop` branch so that we can test the fix.

Cheers,

[2020-03-09 20:25] Anirbanbhk88 commented on #379
Hello,
I have made the pull request for the above issue which I have fixed.

I would also like to say that I am interested in python development and want to learn more about open source development. I went through the Google Summer of Code(GSOC) website and this project seemed to be interesting to me. So I am interested to work on this project.

My Name is Anirban Bhowmick and I am from India. I a

[2020-03-09 20:27] #415 closed

[2020-03-12 13:14] jahandaniyal commented on #379
@Anirbanbhk88  Thank you for showing your interest in GraphSpace.
I would recommend you to take up some of issues labelled as `Good First Issue` .
You can give these issue a look - https://github.com/Murali-group/GraphSpace/issues/304
https://github.com/Murali-group/GraphSpace/issues/199

[2020-03-15 12:05] Anirbanbhk88 commented on #304
@mitchwagner can you please elaborate on the issue. I also did not quite understand what did you mean by "a button beneath the rank slider."

[2020-03-15 19:24] mitchwagner commented on #304
Hi, @Anirbanbhk88 ! Thank you for taking a look at this feature request. Please note that I made it a while back, so some of the details below may need to be confirmed by someone more actively involved with the project. That said, I'll do my best to clarify.

Suppose I visit the following graph. GraphSpace gives a user the capability to assign "ranks" to nodes and edges, to filter them (See the "F

[2020-03-15 21:33] Anirbanbhk88 commented on #199
Hello @jahandaniyal @adbharadwaj @annaritz
I had used several password combinations for the passwords generated by an online password generator(https://passwordsgenerator.net/) to check their vailidity. I came up with the following obvservations:
1) Password of length 16 characters and including A-Z,a-z, special characters( e.g. @#$% ),
numbers( e.g. 123456 ), Excluding Similar Characters:( e.g. i

[2020-03-16 12:55] adbharadwaj commented on #199
This is very helpful. Thanks, @Anirbanbhk88. @annaritz I am going to close this issue for now. Let me know if you find an edge case.

[2020-03-16 12:55] #199 closed

[2020-03-17 11:24] Anirbanbhk88 commented on #304
@mitchwagner I have worked on the issue/requirement. Current I have put a button in UI that generates the rank based URL (eg- http://graphspace.org/graphs/17117?rank=21) and copies it to clipboard. currently, I have added an invisible text area and the URL is copied to clipboard from that text area. After which the text area is removed. I am posting the code below.

copyRankURL: function(){

[2020-03-20 09:14] jahandaniyal commented on #304
Hi @Anirbanbhk88 -
We want to display the URL when User changes Rank using `rank slider`. I would suggest something like a `Copy URL` button and a label which shows URL for the selected value of Rank.

This issue requires consists of two parts :
1. User speficies `rank` in the URL as a query parameter, e.g `http://graphspace.org/graphs/27858?rank=60`. Then the graph should by default show elements

[2020-04-29 16:42] annaritz commented on #274
updating a graph has gotten slower and slower.  I now need to remove the graph, wait 5-10 minutes, and then post a graph if it has the same name. I'd bump this up from an enhancement to a bug.

[2020-05-20 14:35] malabikas commented on #274
@annaritz Can you share the graph(s) with me? Want to try reproducing the issue

[2020-06-10 11:29] jlaw9 opened #427 "Edit node label does not handle new lines"
Nodes with long names would likely want to be split over multiple lines (see screenshot).
![image](https://user-images.githubusercontent.com/7592559/84262077-3068fa00-aada-11ea-8f0e-b56ffc03d1d7.png)

Unfortunately editing the label of a node through the "Edit Selected Nodes" tool of the Layout Editor does not allow for new lines, and immediately removes all newline characters in the label if any

[2020-06-10 11:48] jlaw9 opened #428 "Add a 'rotate selected nodes' tool"
Say you had a group of 15+ nodes you wanted to rotate 45 degrees. Currently you would have to move each node manually. It would be nice if the layout editor had a 'rotate selected nodes' tool.

[2020-10-29 16:41] jddanna opened #431 "About Us Page Credit"
Add a section on “How to Cite GraphSpace” in the “About” tab: If you use GraphSpace in your project, please cite our paper in your own publications as follows:

[GraphSpace: Stimulating Interdisciplinary Collaborations in Network Biology](https://academic.oup.com/bioinformatics/article/33/19/3134/3867143), Aditya Bharadwaj, Divit P. Singh, Anna Ritz, Allison N. Tegge, Christopher L. Poirel, Pavel

[2020-12-22 16:34] jddanna opened #434 "Future Maintenance Notification Message"
Add a way to notify maintenance schedule on GraphSpace using django/bash commands with environment variables.

[2020-12-27 22:25] #431 closed

[2021-01-31 18:09] #434 closed

[2021-02-03 19:10] jddanna opened #439 "Environment variables can't be read onto Apache Server"
Currently, base.py tries to read variables from environment variables but Apache does not use Linux environment variables. I suggest we create a .env file at the root and have the settings read in variables from that file. The "schedule maintenance" script could be altered to update the contents of the .env file.

[2021-02-04 21:24] jddanna opened #440 "Add a section to the Graphspace manual about Administrative details"
When user's click the help tab, they can see the Graphspace manual. Add a section after 12.Programmer's guide that highlights some administrative details about Graphspace while being sensitive about private information.

[2021-02-15 22:04] #439 closed

[2021-03-05 20:46] jddanna opened #442 "Upgrade to newest version of Django"
Update requirements.txt to newest version of Django.

I believe the issue of loading pages arises with a depreciated call of render() in Django 1.10.0:
Quote from [1.10 release notes](https://docs.djangoproject.com/en/3.1/releases/1.10/):
"Django template objects returned by get_template() and select_template() no longer accept a Context in their render() method."

[2021-03-07 18:36] jddanna opened #443 "Error message on "forgot_password" when incorrect email entered"
GraphSpace shouldn't be sending error pages when an email that is entered is either:

- blank email
- email that is not associated with an account

[2021-03-27 20:30] #443 closed

[2021-03-27 20:34] #442 closed

[2021-04-14 20:26] #343 closed

[2021-04-15 16:49] #440 closed

[2021-04-23 16:56] jddanna commented on #274
I had done a PUT request to update the contents of a graph through the REST API. It looks like the contents are being changed within 10-20 seconds but the new tags are not being reflected on the "My Graphs" list tab.

[2021-04-26 22:24] jddanna opened #453 "Title and tags not updated Graph list page after PUT request"
The tags are being updated properly on the graph itself but the changes are not being reflected on the graph list section.

Proper title and tags after PUT request:
![image](https://user-images.githubusercontent.com/35696537/116158356-86c43480-a6bc-11eb-856f-f4ef22f505af.png)

Corresponding incorrect metadata on the graph list page (uses original title and tags):
![image](https://user-images.githu

[2021-05-10 15:55] #285 closed

[2022-04-28 09:31] NargesRezaei opened #459 "Could not find suitable distribution for Requirement.parse('env_mltf.yml')"
I try to install a virtual environment from GitHub

first I made a virtual environment with Conda, then I install git in this environment. Next I cloned the project and cd to package package directory contains setup.py.

But when I try to install setup.py (pip install setup.py) I got an error:

Could not find suitable distribution for Requirement.parse('env_mltf.yml')

This is the output of my ter