[2015-03-02 22:44] tmmurali opened #14 "Only an error message shows when I try to view a graph without being logged in"
When I try to view a graph and I am not logged in, all I receive is a page with the text "Not Authorized to view this." In the Perl version of GraphSpace, I would at least get the widgets on the top that would allow me to log in.

More generally, short error messages such as this one are quite cryptic and unhelpful. Please provide users with more details. If the user is not logged in, suggest that

[2015-03-04 14:04] ategge opened #19 "Help and tutorials are only from programmers perspective"
I was going through the help/tutorials page and realized there is almost no information for a mouse/GUI only user of GS. Most all of the information is for uploading graphs, removing graphs, making groups, etc for the programmer. The one paragraph for the GUI-users is not well highlighted, and does not really contain a workflow/pipeline of how a user might use GS.

We probably expect the vast majo

[2015-03-24 17:14] annaritz opened #36 "Should edges be selectable?"
When you click on an edge, it turns red. However, you cannot move the edge.  You must select the nodes and move the nodes.

Further, when you click-and-drag, you will select nodes and some (maybe not all) edges among them.  However, when you move the selected nodes, **all** edges incident on those nodes get moved whether they are selected or not.

The only reason I can think of why we want edges t

[2015-03-24 17:15] annaritz opened #37 "Combine searching graphs and searching tags"
We discussed whether we should combine searching for graphs/nodes/edges and searching for tags into one search bar.  Think about this for the next release.

[2015-03-24 17:17] annaritz opened #38 "Invite users to groups rather than automatically adding them"
When a group owner adds a user to a group, a confirmation email should be sent to the user.  The user should click a link to confirm that they want to be added to the group.

[2015-03-27 19:22] annaritz opened #43 "Read-only REST API calls without account"
Currently, anonymous users cannot use the REST API.  Consider the situation when an anonymous user wants to download all results from a publication (e.g., a bulk download).  Is this an option that should be available for an anonymous user? @tmmurali

Note that currently all REST API calls require a username and password.

[2015-04-03 18:33] ategge opened #50 "Searching the help section"
Is there a way to be able to search the help documentation? Otherwise a user will have to read through all the documentation to find their answer.

[2015-05-15 14:54] ategge opened #66 "Preventing html dump when an error arises"
When I tried to upload a graph with incorrect json attributes, instead of an informative error message noting which attributes were incorrect, a dump of html was returned. This is very unhelpful to the user. Even if an informative error was returned somewhere, it may be hard to parse out of the error message displayed. Is there a way to prevent this return of html upon an error. Below displays the

[2015-05-15 15:18] ategge opened #68 "Uninformative error message when going to the link of a graph that does not exist"
When I go to the link of a graph that does not exist, I observe a programming error and not a graphspace handled error page. Can this be handled to say something like graph XX does not exist?

Example: http://ec2-52-5-177-0.compute-1.amazonaws.com/graphs/ategge%40vt.edu/LSEC-sansKC-GSEA-leading-edge-enriched-genesets-mcmcBPN-rat-STRING-updatedGS-045/LSEC-sansKC-GSEA-leading-edge-enriched-genesets-

[2015-05-20 16:14] ategge opened #73 "Create more precise error message that will help with debugging"
I was trying to upload some graphs, and I received the following error message when it came time to post:
{
    "Error": "Property content not in JSON for node",
    "StatusCode": 400
}
Error: cannot update or post the graph.
{
    "Error": "Property content not in JSON for node",
    "StatusCode": 400
}

Is it possible to (i) emphasize the attribute name that is missing. Here, I assume it is cont

[2015-05-20 17:27] ategge opened #75 "Message/warning needed when no graph is rendered"
I uploaded a graph with no error messages upon upload. However, when I go to view the graph, no image is rendered.

http://ec2-52-5-177-0.compute-1.amazonaws.com/graphs/ategge%40vt.edu/27360-89-0temp%3ABisphenol-A-sparse-names-error-example/

The only difference between this network and one that does render is I added a text-halign attribute to the nodes. What is causing the graph to not render? A

[2015-05-21 17:59] ategge opened #77 "Not change current view of network when deleting a layout"
Currently, if you want to save a layout with the same name as a previous layout, you need to delete the old layout before saving again. However, when the layout is deleted, and you are currently on the link of that layout, the network returns to a default layout. This is frustrating. Consider the following workflow:
- A user generates a layouts for all the nodes and saves the layout.
- After a lit

[2015-05-22 17:30] ategge opened #79 "Change highlight color of text according to background node color"
I have orange nodes in the example BPN network. When I click a node, the text turns red. The combination of the orange and red makes the text illegible. If the highlight color could be adjusted based on the background node color, then the text would be readable.

user2 has this network as an example: http://ec2-52-5-177-0.compute-1.amazonaws.com/graphs/user2%40example.com/BPN-network-liver-signali

[2015-06-01 13:43] ategge opened #83 "Page not found error from django"
If I navigate to the following location:

http://ec2-52-5-177-0.compute-1.amazonaws.com/graphs/ategge%40vt.edu/

I view a page not found error from Django. Is there any way to catch ALL django errors before they are displayed to the viewer?

[2015-06-01 14:11] ategge opened #84 "Copy layouts to other graphs"
I have been uploading the same graph with different visual styles (colors, shapes, node labels) but all nodes still having the same id in each graph. Currently, the only way to preserve the same layout is to reupload the different versions of the graph to the same graphid in which a layout is saved and export the image. It would be convenient if a user could copy a layout (how? I am not sure) and

[2015-06-01 14:49] ategge opened #85 "Reduce the spacing of the sidebar tabs on right of screen"
I find myself doing a lot of scrolling to navigate the tabs on the right of the screen. Initially, the sidebar starts with layouts, (optionally k-step), and search tabs already open. In addition, there is a lot of white space between each of the tabs. Is there any way to consolidate this section so that a user does not have to scroll through as many tabs? A user may not even know about the k-step

[2015-06-14 22:41] ategge opened #90 "Python error for graphs with no edges"
I posted a graph with no edges. I received the following error: http://graphspace.org/graphs/ategge%40vt.edu/legend-nodes-error/

It appears that the check for 'k' assumes at least one edge is in the network.

[2015-06-15 16:38] ategge opened #92 "Can view non-shared layouts using url"
A user that has access to a graph can view a layout from the url, even when the layout has not been shared. For example:
http://graphspace.org/graphs/ategge%40vt.edu/legend-nodes/?layout=OH!

is a layout I generated and has not been shared. By following the link, a user can view the layout

[2015-06-30 21:26] ategge opened #96 "My Graph has arrows on all undirected edges"
All the edges in this graph (http://graphspace.org/graphs/ategge%40vt.edu/LSEC-sansKC-GSEA-leading-edge-enriched-genesets-mcmcBPN-rat-STRING-updatedGS-045/?layout=Final_Layout) are undirected (i.e., "directed": "false" in json), yet every edge now displays an arrowhead. This holds true for all undirected edges in graphspace (using a sample of 5 graphs). This is a SUPER BIG BUG that needs to be fix

[2015-06-30 22:37] ategge opened #97 "Search tab on a group page is too low in the side bar"
The search tab on the side bar of the group page occurs as the forth tab (http://graphspace.org/groups/ategge%40vt.edu/LiverSignaling/). In my case, the tab displayed below the screen. I thought for a while that search was missing. A new user may assume that search is not an option on this page instead of scrolling down. Perhaps moving search to the second tab (and be consistent with the graph pag

[2015-07-06 23:08] ategge opened #99 "Unable to share graph layout with group"
I am trying to share the graph layout:

http://graphspace.org/graphs/ategge%40vt.edu/trail-ap1-ncipid/?layout=receptor/tf_groups

When I click the share layout button, I receive an error message stating "No groups to share with.  Either share this graph with a group first or make this graph public!", even though under the sharing tab it states the graph is shared with Crosstalk.

[2015-07-08 16:34] tmmurali opened #102 "Meaning of terms in sharing widget"
I am looking at http://graphspace.org/graphs/user1%40example.com/KEGG-Wnt-signaling-pathway/

At the moment, only user1 can see this graph. In this case, the sharing panel says

"Privately Shared"

and

"Groups shared with:"

The phrase "Privately shared" is confusing as is not seeing any group names after "Groups shared with:".

We should make the language easier to understand. If the graph is no

[2015-07-08 16:35] tmmurali opened #103 "Searching for edge"
I am searching in http://graphspace.org/graphs/user1%40example.com/KEGG-Wnt-signaling-pathway/?layout=manual-top-to-bottom

How can I find the edge BAMBI -> LRP6,LRP5 using an exact search? The user will have that expectation because she can see that edge.

[2015-07-09 17:42] ategge opened #104 "Poor visual cues for navigation when screen area is small"
When I first logged into graphspace, and the screen was not maximized, I noticed that the black header bar does not display all options. Instead, a condensed version is used. Upon logging in, I did not know what to do. Clicking the GraphSpace link took me nowhere. I eventually realized that the Graphs word had a link, and that link took me to the graphs page. I understand that as the screen size s

[2015-07-10 18:26] ategge opened #105 "No popup when deleting graphs"
Now that #71 has been implemented, there is no popup to alert a user they are deleting a graph. This is dangerous since the command is irreversible. Can we have a popup notification added when a user tries to delete a graph through the GUI?

[2015-07-16 20:59] ategge opened #107 "Title search result leads to error in search box on graph page"
This is confusing, so bear with my explanation...

I went to the graphs page and searched "wnt-insulin" to find all graphs with graphIDs that contain wnt-insulin. Three graphs were returned. When I clicked on one, the search box within the graph view displayed an error: "wnt-insulin not found!" Plus, the link to the graph now contains the partial search result. This is confusing since the search w

[2015-08-25 17:24] ategge opened #109 "Sorting by modified does not work"
I went to sort my graphs in a list by the date they were modified. I see two different sorting schemes when I click the modified button. Honestly, I have NO idea how they are being sorted, because neither one of them is actually sorted by date.

![screenshot from 2015-08-25 13 23 51](https://cloud.githubusercontent.com/assets/11236417/9474115/9a56969c-4b2c-11e5-8409-c777165b43c7.png)

[2015-08-27 17:41] ategge opened #112 "no graph displayed for some values of k filter"
We had discussed in email previously, but I will file an issue so we do not forget, that when certain values of the k-filter are used (in the case below k <=20), no graph is displayed.

http://graphspace.org/graphs/ategge%40vt.edu/HIF1-Neurotrophin-k250/

I just talked this through with Divit in person to demonstrate the bug.

[2015-10-07 15:14] annaritz opened #114 "A single tag may be associated with both public and private graphs - this is inconsistent"
I created a tag and made it public.

http://graphspace.org/groups/annaritz@vt.edu/2015PathLinkerReconstructions

There were originally 6 graphs with this tag, so they all became public.  I have been re-uploading these graphs, and the tag remains public.  However, when I upload a new graph with the same tag, it becomes private.  E.g.,

http://graphspace.org/graphs/annaritz%40vt.edu/NetPath-IL3-path

[2015-11-29 23:20] annaritz opened #115 "When uploading a JSON graph through the user interface, it is unclear what the "Title of Graph" means"
I uploaded a graph using the "Upload New Graph" button.  I assumed that entering text into the "Title of Graph" box will cause the graph title to be the text string.  Instead, what I type in is included in the URL (it's the graph ID, I believe).  The graph title is still listed in the JSON file that is uploaded.

To test this I uploaded example.json that is included in the Help section (and also i

[2015-11-29 23:21] annaritz opened #116 "When creating a group, cannot edit Description field"
When I try to create a group, I can only enter in the group name.  In order to edit the Description, I need to click on the newly-created group and then click "Change Description".  It would be nice to include a description when I create the group.

[2015-12-15 17:43] tmmurali opened #117 "Search remains persistent when the user has a different intention"
I visited http://graphspace.org/graphs/ategge@vt.edu/27360-89-0:Bisphenol-A-NCIPID-edges?layout=Final_layout&layout_owner=ategge@vt.edu

I used "MAPK" as a search term. The correct nodes received a blue border.

Next, I manually erased "MAPK" in the search box and typed in "FOXO". While the nodes with "FOXO" in them did get a blue border, the nodes matching "MAPK" did not lose their blue border.

[2016-01-07 21:03] jlaw9 opened #118 "Incorrect curl command to share graph with a group does not return an error message"
According to the graphspace help, the curl command to share a graph with a group is:

  curl -X POST "http://graphspace.org/api/users/graphs/[graph name]/share/[group_owner]/[group name]/" -F "username=[email]" -F "password=[password]"; echo

If either the [group_owner] or [group_name] is incorrect, the curl command still returns the message "Graph successfully shared with group!" with a status co

[2016-01-08 18:51] tmmurali commented on #118
Good point. In general, how does the programmer know whether the request
was successful or not? Does the documentation contain all the possible
errors or success codes for each curl command?

On Thu, Jan 7, 2016 at 4:03 PM, jlaw9 <notifications@github.com> wrote:

[2016-01-11 06:46] DSin52 commented on #118
Thanks @jlaw9 for making this an issue on GitHub.. I really like leaving a trail of progress throughout the development of GraphSpace.  I have added an error that notifies the user if the group they are trying to share graph with does not exist.  @tmmurali I tried to add error checking for the curl commands, I guess I just overlooked this error.

[2016-01-11 15:12] tmmurali commented on #118
Thanks. Do you also check if the group exists but the user is not the
owner? Will this error trigger a different message?

Divit, can you also answer "Does the documentation contain all the possible
errors or success codes for each curl command?"

On Mon, Jan 11, 2016 at 1:46 AM, Divit Singh <notifications@github.com>
wrote:

[2016-01-11 19:50] DSin52 commented on #118
No, I do not check for that error currently.  No, the documentation does not contain all the possible errors or success codes.  Instead, all of the curl commands follow a pattern: If there is an error thrown, there will be an "Error" property as part of the payload, otherwise there will be no "Error" key.  There is currently no exhaustive list of errors that GS can throw.

[2016-01-12 15:48] tmmurali commented on #118
You should check for this error as well. Let us come up with a list of
possible errors in a group meeting and then plan how to write the code.

On Mon, Jan 11, 2016 at 2:50 PM, Divit Singh <notifications@github.com>
wrote:

[2016-01-16 17:58] adbharadwaj opened #119 "Unable to reset password using password reset link"
On checking the api response in javascript console, i found the following error:-
[code]

[2016-01-16 21:28] DSin52 commented on #119
I looked into this earlier, it should be fixed.. The password associated with the GraphSpace account had changed and I forgot to update it.

[2016-01-19 22:10] adbharadwaj commented on #119
Password did reset but it gave an alert saying the REST API encountered an error and then it gave another alert saying that the password is updated and then it redirected to home page.

[2016-01-19 22:26] DSin52 commented on #119
That's so weird. @adbharadwaj thanks for following up, I'll take a loot at it again.

[2016-02-01 20:51] tmmurali commented on #112
This issue seems to have gone away. Allison, can you confirm and close the bug?

[2016-02-01 20:55] ategge commented on #112
Seems to be fixed. Granted, this bug was very hard to catch!

[2016-02-01 20:55] #112 closed

[2016-02-02 20:13] DSin52 commented on #119
I finally found the error.. accidentally!  The reason you were seeing the unsuccessful REST API error was because I was using the same ID for the reset button element as I was in another place in my code.  Upon clicking, it was actually executing two REST API calls.. one of which didn't have the correct payload hence it was originally throwing the error.  I fixed this error by changing the ID of t

[2016-02-02 22:00] tmmurali commented on #102
It looks good now.

[2016-02-02 22:00] #102 closed

[2016-02-10 14:43] ategge opened #120 "Search on tags is not intuitive"
I used the tags search and typed in "fun" in hopes to find the tag "Funtion Linkage network" (I just now noticed my mispelling of Function, but that does not negate this issue). However, no tags show up. In order for tags search to work, a user needs to know the entire name of a tag. Can this be a search similar to the graph search where we can query partial tag names to see which tags match the s

[2016-02-12 02:01] #109 closed

[2016-02-16 19:12] annaritz opened #121 ""Graph Name" is ambiguous: could refer to Graph Title or Graph ID"
The word "name" is ambiguous, since it may refer to the graph ID or the text that appears in the title. It currently corresponds to the text in the title in the JSON file, but the phrase "graph name" is used in the Help section to refer to graph ID. I suggest the following:

1. Rename "name" attribute to "title" in the JSON metadata.
2. In the Help sections, convert "graph name" to "graph ID" (or

[2016-02-16 19:13] annaritz opened #122 "Lose the tabs in the Help section under "User's Guide""
Click on "Help", and you see three sub-tabs (Tutorial, User's Guide, and Programmer's Guide).  If you click on "User's Guide", these sub-tabs disappear.

[2016-02-19 07:16] annaritz opened #123 "Typo in "Something went wrong" message"
In the message "Oops, Something went wrong! Admin has contacted..." you're missing a "been:"

Admin has **been** contacted.

[2016-02-19 17:07] annaritz opened #124 "Currently, Node IDs must be strings"
When uploading a graph with integer node IDs, you get a Type Error: can't add a string and an integer. This is because the source and tail node IDs are concatenated to become an edge ID.

To fix this, we should (1) specify what node ID python types are allowed (I suggest string, int, and float), and (2) cast the nodeID variables to a string before concatenating for an edge ID.  That is, if nodeA h

[2016-02-21 02:11] tmmurali commented on #123
Even better: "The GraphSpace administrators have been notified."

Anna, what happened to trigger this message? What you mention in the next
bug report?

On Fri, Feb 19, 2016 at 2:16 AM, Anna Ritz <notifications@github.com> wrote:

[2016-02-21 04:58] annaritz commented on #123
I do not know - one of my students pointed out the typo, but didn't explain precisely what caused it.  He was trying to post large graphs to GraphSpace (~1,000 nodes) and Cytoscape.js was having a hard time rendering it.

[2016-03-02 03:37] Pratik151 commented on #121
@DSin52  @annaritz
I think this issue can be closed as this was already fixed [here](https://github.com/Murali-group/GraphSpace/commit/29d4ce2606922d47d4448b0534c6e640ecc54991)

[2016-03-03 05:47] #122 closed

[2016-03-07 18:00] DSin52 opened #127 "Add Step Filter Paths to Default Layouts"
When selecting a default layout for a graph, the layout should also allow for step filters to be part of the layout.  When any user goes to this graph, then the default layout along with the step filter applied when saving the layout should be visible.

[2016-03-08 17:19] #114 closed

[2016-03-08 17:20] #19 closed

[2016-03-08 17:25] #66 closed

[2016-03-08 17:25] #50 closed

[2016-03-08 17:27] #68 closed

[2016-03-08 17:28] #73 closed

[2016-03-08 17:30] #83 closed

[2016-03-08 17:31] #92 closed

[2016-03-08 17:32] #96 closed

[2016-03-08 17:33] #97 closed

[2016-03-08 17:35] #99 closed

[2016-03-08 17:36] #107 closed

[2016-03-08 18:35] #121 closed

[2016-03-15 19:17] ategge opened #129 "Graph in list of graphs does not exist"
I have a graph listed in the group TFregression: [core-network-edgethreshold-5e-02](http://graphspace.org/graphs/ategge@vt.edu/core-network-edgethreshold-5e-02). This graph used to exist. When I click on the link for this graph, I see the error message:

If I try to delete this graph, I see the following popup box:

I believe this is happening because I stopped updating the graph halfway through t

[2016-03-15 19:18] ategge commented on #105
I just deleted graphs from GraphSpace and no confirmations were asked prior to deleting the graphs. Did this functionality stop working?

[2016-03-17 08:33] mishravikas commented on #117
@tmmurali adding back the line https://github.com/Murali-group/GraphSpace/blob/master/graphs/static/graphs/js/view_graph.js#L519  fixes this issue. Any reason for it being commented out?

[2016-03-17 10:46] mishravikas opened #131 "Unauthorised user is able to see json of a private graph"
Suppose you're not logged in and you try to access http://graphspace.org/graphs/user1@example.com/KEGG-Apoptosis
You will get an error message saying you need to be logged in and should have graph owner's permission to see the graph.
But if you manipulate the url to view json of that graph:
http://graphspace.org/json/user1@example.com/KEGG-Apoptosis

It doesn't give any error, when in fact it shou

[2016-03-17 11:59] mishravikas opened #132 "Unauthorized user is able to delete ANY graph owned by ANYONE"
It is possible to delete any graph without being authenticated by using simple curl requests:
Suppose I want to delete the graph
http://graphspace.org/graphs/user1@example.com/KEGG-Prolactin-signaling-pathway

All I need to do is use the following CURL command:
curl -X POST "http://graphspace.org/deleteGraph/"  -F "gid=KEGG-Prolactin-signaling-pathway" -F "uid=user1@example.com"

*I didn't run the

[2016-03-17 12:04] mishravikas opened #133 "Unauthorised user is able to change layout name for private layouts of any graph"
This is similar to #132. Here a simple CURL command can be used to change the layout name. This can be checked using the following format of the CURL command.
curl -X POST "http://localhost:8000/changeLayoutName" -F "new_layout_name=[NEW_LAYOUT_NAME_HERE]" -F "gid=[GRAPH_ID]" -F "loggedIn=[OWNER_OF_LAYOUT]" -F "old_layout_name=[OLD_LAYOUT_NAME]" -F "uid=[OWNER_OF_LAYOUT]"

@tmmurali

[2016-03-17 12:57] MridulS commented on #132
@mishravikas Yeah this is a serious bug. All views  `deleteLayout`, `makeLayoutPublic`, `getGroupsForGraph`, `deleteGraph` ...... should be protected, there is no authentication check right now.

@DSin52

[2016-03-17 13:16] mishravikas commented on #132
@MridulS Yeah I've stopped creating issues for new views now and have already added authentication check for deletion and viewing json and will be sending a pr soon.  I also found issues in group implementation, any user can create a new group and use a curl command to give access to that graph.

I think it would be better to look at Groups and permissions implementation on a more deeper level ins

[2016-03-17 14:11] tmmurali commented on #132
Thank you for opening these issues. After seeing your messages, I agree
that we may need to examine groups and permissions from the ground up.

Divit, your thoughts?
   Murali

On Thu, Mar 17, 2016 at 9:16 AM, Vikas Mishra <notifications@github.com>
wrote:

[2016-03-17 15:11] DSin52 commented on #132
I agree.  I believe the reason that the above commands didn't have any permissions checking was that those specific routes were traditionally only passed from the web application and not the REST API.  Once the user was logged in, I just used the uid (logged in user) token since Django automatically sets that.  Thank you for noticing this and yes there should have definitely been some authenticati

[2016-03-17 15:13] DSin52 commented on #117
The reason that it is commented out is because if there is a filter applied to the graph (Step through Filtering)  and the user clicks "Clear Search", then any filter that is currently applied gets cleared as well.

[2016-03-17 15:32] tmmurali commented on #117
Can we fix the bug by deleting only the CSS elements relevant to the search?
   Murali

On Thu, Mar 17, 2016 at 11:13 AM, Divit Singh <notifications@github.com>
wrote:

[2016-03-17 17:31] mishravikas commented on #117
@tmmurali I'm looking for possible solutions and will send a pr as soon as I have it.

[2016-03-17 17:39] MridulS opened #134 "Create edge with non-existent node(s)."
Currently we can create an edge with nodes not described in the nodes list of JSON. It will create an entry in the db but won't reflect in the visualisation of graph. The solution could be: we raise an error if there exists an edge between non-existent node(s) or we add node(s) with no(minimal) data associated with them.
@DSin52 @tmmurali

[2016-03-17 17:49] tmmurali commented on #134
Do you mean that the JSON can contain an edge without the nodes also being
in the JSON? If that is the case, we should raise an error and reject the
graph while also providing the reason.

We have a script called graphspace_interface.py that includes a JSON
validator that should catch these errors. It seems like we should invoke
this validator (it is in Python, though) in the GraphSpace interface

[2016-03-17 18:12] mishravikas commented on #132
@DSin52 @tmmurali Should only the owner be allowed to delete the graph or any member of the group with which the graph is shared can delete it?
Same question goes for other administrative actions like change layout name, make layout public, etc.

[2016-03-17 18:16] mishravikas opened #137 "Anyone can reset password for any user without any authentication"
It is possible to change password for any user using a CURL command.
This bug is similar to #131 #132 #133 but creating this one separately since its a very serious issue and am taking this one on priority.
@tmmurali @MridulS

[2016-03-17 18:27] MridulS commented on #134
@tmmurali  I think we should add a check for this in `validate_edge_properties` inside `json_validator.py`

BTW This is in the comments of graphspce_interface.py :smile:
[code]

We use networkx in graphspce_interface.py to create a graph and it will create an edge with non-existent nodes, by adding nodes. So probably enhancing the `json_validator.py` is something we should look into.

@DSin52 thou

[2016-03-17 20:02] MridulS commented on #137
@mishravikas @DSin52 @tmmurali Maybe we should probably revisit the authentication and views model again.

[2016-03-17 21:05] mishravikas commented on #137
@MridulS Exactly my thoughts, we should definitely revisit authentication model.
According to the current model, there's no proper way to fix this issue, or for the fact of the matter no issues relating to authenticated users since the current authentication model creates a context object 'session'[1] when you login and it embeds a 'uid' [2] in the page which is then retrieved using jquery [3] and

[2016-03-17 21:46] tmmurali commented on #132
Yes, only the owner should be allowed to delete the graph.

Each layout is owned by the user who created it. Such a user could be the
owner of the graph or a person with whom the graph is shared. Only the
owner of a layout should be allowed to change its name or delete it or make
it shared with others in the group.

On Thu, Mar 17, 2016 at 2:12 PM, Vikas Mishra <notifications@github.com>
wrote:

[2016-03-17 23:53] #131 closed

[2016-03-18 02:34] tmmurali commented on #134
Let me also get into the habit of using @ signs.

@DSin52, what do you think?
   Murali

On Thu, Mar 17, 2016 at 2:27 PM, Mridul Seth <notifications@github.com>
wrote:

[2016-03-18 13:17] mishravikas commented on #117
@DSin52 @tmmurali Is Step-Filter already implemented? I couldn't find anything about it in the source code?

[2016-03-18 13:34] tmmurali commented on #117
Depends on exactly what you are looking for. For graphs that have an
integer valued rank (or is it "r"?) attribute, the GraphSpace interface
when a user views the graph will contain a panel called "Filter paths". See
http://graphspace.org/graphs/annaritz@vt.edu/NetPath-TCR-pathlinker-top200paths
for example.

The user can move the bars around to control the number of paths shown. I
don't know wher

[2016-03-18 16:51] MridulS commented on #134
https://github.com/Murali-group/GraphSpace/pull/142

[2016-03-19 22:38] #117 closed

[2016-03-21 06:12] mishravikas opened #143 "Use local_settings.py to avoid running gs-setup.sh everytime you close the terminal"
Currently you have to run gs-setup.sh after you have closed the terminal or after the system reboot since the script creates temporary environment variables which are lost once the terminal is closed.
We can use a local_settings.py which will be added in .gitignore file hence, it will not be public and all the variables which need customization and personal value can reside in that file. Finally l

[2016-03-21 06:29] mishravikas opened #144 "Allow token based authentication in REST API"
As pointed out by @tmmurali in the comment https://github.com/Murali-group/GraphSpace/issues/88#issuecomment-110121077  It would help to have support for programmable actions like upload graph, export PNG, etc. The current implementation  of the REST API supports only server based authentication and since the HTTP protocol is stateless, which means that if we authenticate a user with a username an

[2016-03-25 20:15] ategge opened #145 "Remove default layout button does not work"
I can set a saved (and shared) layout to be the default layout. If I click on the remove default layout button, nothing changes. When I re-navigate to the page, I still see the previous default layout.

[2016-03-25 20:24] ategge opened #146 "modification timestamp reports inital upload time"
The modification timestamp reports when the graph was first uploaded and not the lasted time the graph was modified.

[2016-03-26 15:14] tmmurali commented on #145
Can you give the URL of a graph that exemplifies this bug?

On Fri, Mar 25, 2016 at 4:15 PM, ategge <notifications@github.com> wrote:

[2016-03-26 16:04] ategge commented on #145
Yes. In the following graph I have set layout_2 as the default layout. I tried removing layout_2 as the default layout so there would be no default layout for the graph. This does not remove the default layout. I can, however, switch the default layout to layout_1.

http://graphspace.org/graphs/ategge@vt.edu/LSEC_3D_HLK_d12-full-network-edgethreshold-1e-02

[2016-03-31 17:19] DSin52 commented on #144
You're completely right @mishravikas.  There definitely should be a token based authentication system in place.  I will look further into this.

[2016-03-31 17:27] DSin52 commented on #134
I think that this is a very reasonable request.  We have to be careful to update both the json validator in graphspace_interface.py and in GraphSpace to make sure they are 100% consistent.

[2016-03-31 19:01] DSin52 commented on #146
This issue should now be resolved.  I wasn't updating the modified timestamp for all shared graphs.  All the modified times should now be updated correctly.

[2016-04-04 06:03] DSin52 commented on #132
I added in the authentication checks for the above routes by utilizing the user session instead of passing the "uid" around with requests.  Thank you guys for pointing this out.  As far as reset password without any authentication, I haven't figured out my plan of attack just yet.

[2016-04-04 06:04] DSin52 commented on #133
This issue is now resolved.  I now use user session that django provides when someone signs into GraphSpace.

[2016-04-04 06:27] DSin52 commented on #145
There was some code which I had written which compared the name of the default layout to the layout that currently exists in the layouts table.  If you had changed the names of these layouts, it wouldn't be able to find them.  This is now resolved.  I reference all layouts through their unique ID's (primary key) assigned to them upon creation.  No comparison is needed.

[2016-04-04 06:33] DSin52 commented on #129
Interesting.. there is no graph in the graph table, however, since you didn't explicitly delete the graph.. there is still a reference to this since it is still shared with the group.  I will remove this graph from the group. I am not really sure how to automatically handle this case in the future though..

[2016-04-04 06:36] DSin52 commented on #137
Good catch, we definitely can't use the 'session' and 'uid' since we have no way of knowing who the user is.. A possible alternative that I can think of is using follow-up "Secret questions" like many companies use when trying to verify a user.  This seems like a very easy fix to this problem.  We can ask all users to insert some answers to basic questions and that could be a further step for veri

[2016-04-04 13:42] tmmurali commented on #129
Allison, how did you stop updating the graph halfway through the update
process? Did you kill a programme?

On Tue, Mar 15, 2016 at 3:17 PM, ategge <notifications@github.com> wrote:

[2016-04-04 13:44] tmmurali commented on #137
I don't see how secret questions can help here if the issue is that a CURL
command can be used to reset the password. @dsin52, can you explain?

@mishravikas <https://github.com/mishravikas> please send Divit and me the
curl command by email.

On Mon, Apr 4, 2016 at 2:36 AM, Divit Singh <notifications@github.com>
wrote:

[2016-04-12 16:21] annaritz opened #147 "Graphs take a long time to upload when overwriting existing graphs in DB"
When a user posts a graph that exists, it is now taking a few minutes per graph.  If the graph is deleted first (before the user uploads it) then the post is much faster (takes few seconds compared to minutes).

The users are using my "example-interface.py" code, which does the following:
(1) builds a NetworkX graph using the interface module
(2) uses a curl command to check if a graph exists.
(3a

[2016-04-13 01:32] ategge opened #148 "Documentation of unsuccessful statuscodes needed"
I am trying to upload a json to GraphSpace directly from the command line and not through the graphspace_interface.  I continue to receive the following response:

{"Error": "An error was encountered during this request.  REST API call not successful.", "StatusCode": 500}

This error message is non-informative. A table of all the status codes in the help/documentation would be very useful.

[2016-04-13 01:54] ategge commented on #148
Sometimes I receive this error even when the graph is added to GraphSpace!

[2016-04-19 16:46] annaritz opened #149 "HTML color codes are not checked"
When an HTML color code is incorrect (e.g., only five digits instead of six, such as #00000), no error is thrown BUT the graph never renders.  It just appears as a blank screen.

See, for example: http://graphspace.org/graphs/annaritz@vt.edu/badHTML

The graph above has a node colored #00000.

Anna

[2016-04-19 17:34] DSin52 commented on #149
@annaritz try not to put your password on GitHub since it is open to the public now. I'll look into this right now.

[2016-04-19 17:39] annaritz commented on #149
Right, thanks. Password is now changed.  Graphspace has been very slow on my end - I couldn't create a group and share this graph with you, and I didn't add tags so couldn't make it public easily.  These may be connectivity issues, but my students are finding that GS is slow as well.

[2016-04-19 17:48] DSin52 commented on #149
That's weird.. I'll look into seeing how much traffic we're getting.

[2016-04-19 18:26] DSin52 commented on #137
The reset password functionality has been changed in the following way..

1) If a user resets their password, they may still use the original password if they remember it.  The email will still send to the person, but if they don't go through the process of resetting their password, nothing will change for them.

2) The curl request for resetting the password now includes a code for the person who

[2016-04-19 19:35] DSin52 commented on #147
@annaritz I just looked through the queries and saw I believe I fixed the issues that were causing the slow-down.  I tried your script using (3a) as the scenario and it seems to be working fairly fast now.  Let me know if you still have issues.

[2016-04-19 19:36] #134 closed

[2016-04-20 18:10] DSin52 commented on #143
@mishravikas Thanks for the tip.. I have modified the setup script to use this instead of environment variables.  Using this approach makes the set up process a lot smoother.  I will integrate into the master branch in the near future.

[2016-04-20 18:10] #143 closed

[2016-04-26 15:35] annaritz opened #150 "Metadata tag: is it "title" or "name"?"
In the programmer's guide, http://graphspace.org/help/programmers, the text at the top of description is called "title" in the JSON example but it's listed as "name" in the table.  This needs to be consistent.

This issue may be related to #121 with "Graph Name" vs. "graphID".

[2016-04-27 00:47] annaritz opened #151 "Visibility is "Private" for public graphs"
I have made all graphs with the "AttributeGallery" tag public:

http://graphspace.org/graphs/public?tags=AttributeGallery

However, the Visibility status is still listed as Private. I also made an individual graph public, but the visibility is still listed as Private.

[2016-04-27 17:20] DSin52 commented on #151
The fix to this will be up on GraphSpace tonight.  I believe the visibility of the graphs is being set correctly, however, GS isn't showing the proper value in the table of graphs.

[2016-05-16 03:14] #14 closed

[2016-05-20 15:14] annaritz opened #153 "Searching for "Wnt" in all graphs returns an error"
I log into my account, enter "Wnt" in the search box, and hit "Search".  The URL is http://graphspace.org/graphs?partial_search=Wnt

I get a TypeError (sorry don't know how to make this a block typewriter font):

`TypeError at /graphs
'NoneType' object has no attribute '__getitem__'
Request Method:	GET
Request URL:	http://graphspace.org/graphs?partial_search=Wnt
Django Version:	1.8.7
Exception Typ

[2016-05-24 18:42] xin30hp opened #155 "Can not save manual layout"
Save button is missing, only the button of "Use Layout Editor" is there.  Can not save manual layouts outside of the "Layout Editor".

[2016-05-24 22:07] tmmurali commented on #155
@DSin52 Can we fix this error by uncommenting line 337 in v=master/graphs/templates/graphs/view_graph.html#L337?

[2016-05-25 17:21] DSin52 commented on #155
Sure, I just put it back up.

[2016-05-25 17:30] tmmurali commented on #155
Thanks. Was the fix what I suggested? I want to know to improve my
understanding of the code.

On Wed, May 25, 2016 at 1:29 PM, Divit Singh <notifications@github.com>
wrote:

[2016-05-27 15:22] tmmurali opened #156 ""Crowd" appears as an option under "Layout" in every graph"
In the "Layout" widget for a graph, apart from "Auto" and "Manual", the "Crowd" option also appears, even when a user is not logged in. An example is http://graphspace.org/graphs/annaritz@vt.edu/Wnt-ipa-nmax10-labeled

This option should appear only if any crowd layouts actually exist for the graph. Otherwise, for a vast majority of GraphSpace users, the "Crowd" option is confusing.

[2016-05-27 15:38] #155 closed

[2016-05-27 15:39] #147 closed

[2016-05-27 15:40] #137 closed

[2016-05-27 19:10] xin30hp opened #157 "Tags with ";" character are broken"
I have graphs with the tag "ErbB2;erbB2_receptor" and when I click on it the tag to see the collection of graphs with that tag, I get "It appears that you currently have no graphs uploaded that match the tag terms." and has the tag show as only "ErbB2" in the search terms.  I think its getting split with a ";" delimiter when all the tags themselves should be strings?

[2016-05-28 14:26] tmmurali commented on #157
@xin30hp, for now just change the tag to something like "Erb2-erbB2_receptor".

[2016-05-31 18:45] annaritz commented on #153
This appears to be an issue when the person searching _owns_ at least some graphs, and perhaps does not have permission to view other graphs.

[2016-05-31 18:46] #151 closed

[2016-05-31 18:48] #124 closed

[2016-05-31 18:48] #123 closed

[2016-05-31 18:52] annaritz commented on #149
Looks like @MridulS has fixed this - @DSin52, are you in charge of merging or can I go ahead and do this?

[2016-05-31 19:20] tmmurali commented on #149
@annaritz, @MridulS is adding a function to check if a named colour, e.g., AliceBlue, is legal. Once this fix is in, @DSin52 or @adbharadwaj can accept his pull request.

[2016-05-31 20:15] #146 closed

[2016-05-31 20:18] ategge commented on #145
The bug of this issue is closed. I just noticed that the same icon is used for setting and removing the same default layout.

[2016-05-31 20:18] #145 closed

[2016-05-31 20:19] ategge commented on #129
Murali, Yes, I killed the program since it was taking so long to upload.

[2016-05-31 20:19] #129 closed

[2016-05-31 20:21] #90 closed

[2016-05-31 20:21] #75 closed

[2016-06-01 19:58] DSin52 commented on #153
I believe I have fixed the error.

[2016-06-01 20:35] tmmurali commented on #153
@DSin52, can you tell us what was the reason for the bug and how you fixed
it? I do not see a commit message related to this bug. Thanks.

On Wed, Jun 1, 2016 at 3:58 PM, Divit Singh <notifications@github.com>
wrote:

[2016-06-03 18:03] #153 closed

[2016-06-03 19:46] DSin52 commented on #156
Only members/owner of the Crowd_Group owned by you can even see the Crowd tab.  A public user can't see this anymore.  I can change it to showing this option if there are Crowd layouts, however, I'm not too sure as to the visibility of those layouts.  Thoughts? @tmmurali

[2016-06-03 20:33] annaritz commented on #156
@DSin52's change seems to have fixed my issues: public graphs no longer have the "Crowd" layout tab, and when I log in I no longer see the "Crowd" tab (I am not a member of the Crowd_Group).  @tmmurali can correct me if I'm wrong, but we are fine with the Crowd tab appearing even if there are no Crowd layouts *as long as the Crowd tab appears only for members in the Crowd_Group*.  I am marking thi

[2016-06-03 20:33] #156 closed

[2016-06-03 20:57] DSin52 commented on #153
The reason this bug occurs is in models.py, public may be a NULL field.  Thus, when searching for the public property for a graph, this may return a NULL object (Python calls it a None object).  When I reference it in `get_visibility_of_graph` on line 4411, I didn't check to see if public returned is not null.

[2016-06-03 20:59] #149 closed

[2016-06-03 21:11] tmmurali commented on #153
Thanks for the explanation.

On Fri, Jun 3, 2016 at 4:57 PM, Divit Singh <notifications@github.com>
wrote:

[2016-06-06 15:40] jlaw9 opened #158 "Update graphspace_interface.py to allow any group member to share a graph with a group"
graphspace_interface.py is currently setup so that only the group owner can share a graph with the group.

I will update the code to fix this issue.

[2016-06-15 18:45] ategge opened #160 "swap tutorial and user guide tabs on the help page"
It is strange that when I go to graphspace.org/help, I am presented with the second tab and not the first tab at the top. I feel like the tab you want a user to see first should be the first tab.

Additionally, the link graphspace.org/help (which comes from the manuscript) and clicking the help tab at the top of the web page result in different pages.

[2016-06-15 18:52] ategge opened #161 "Provide an interface to alert group membersof a new graph shared with the group"
Providing a mechanism where a group member can email a message/alert to all the group members from GS is more seamless than a user going to their own email and emailing everybody.

[2016-06-16 13:23] tmmurali commented on #161
We need a general purpose notification mechanism. Can you close this issue
and open another one on notification with a list of features?

@dsin52 has implemented notifications in the past. We have not yet exposed
that functionality. Which branch is it in?

On Wed, Jun 15, 2016 at 2:52 PM, ategge <notifications@github.com> wrote:

[2016-06-16 14:20] #161 closed

[2016-06-16 14:25] ategge opened #164 "Notification mechanism"
GraphSpace needs a general notification mechanism that directly alerts users of certain tasks/features.

@tmmurali previously asked: @dsin52 has implemented notifications in the past. We have not yet exposed that functionality. Which branch is it in?

These features may include:
- email a user when they have been added to a group
- allow a group member to email updates or new uploads to all other

[2016-06-16 17:18] DSin52 commented on #164
The branch which contains the notification system is `graphcrowd`.  This was worked on only during Fall 2015 during Dr. Luther's class.

[2016-06-16 21:51] tmmurali commented on #164
@Dsin52, is it possible to extract only the changes for the notification
system into a separate branch? I realise doing so may be tough. Does the
code on GitHub also reflect the changes you must have made to the database?

On Thu, Jun 16, 2016 at 1:18 PM, Divit Singh <notifications@github.com>
wrote:

[2016-06-17 08:02] MridulS commented on #164
@tmmurali I guess we can cherry pick those commits.

https://git-scm.com/docs/git-cherry-pick

[2016-06-17 15:54] tmmurali commented on #119
@adbharadwaj can you see if we can close this bug?

[2016-06-17 15:55] tmmurali commented on #118
@jlaw9 can you check if we can close this bug?

[2016-06-17 16:09] jlaw9 commented on #118
Now if either the [group_owner] or [group_name] is incorrect, the curl command returns the message "Group does not exist" with a status code of 400.

I think that's good enough to close this bug

[2016-06-17 16:09] #118 closed

[2016-06-17 17:10] tmmurali opened #165 "Not all tags visible on the page that lists graphs"
When I visit http://graphspace.org/graphs/public to view all public graphs, the only tags I see are in the "Tags" panel on the right "pathlinker-all-netpath-pathways" and "2015-npj-sysbio-appl-pathlinker". There are three pages of results. Several graphs on page 1 have other tags (as can seen in the "Tags" column). When I go to page 2 or to page 3, I can see graphs with other tags.

@DSin52 What a

[2016-06-22 14:53] adbharadwaj opened #167 "Update graphspace documentation as per interface_branch changes."
Need to add the documentation and close the branch.

[2016-06-22 14:59] tmmurali opened #169 "Selections not working correctly in Layout editor"
@DSin52 I logged in as user1@example.com to view http://graphspace.org/graphs/user1@example.com/KEGG-Prolactin-signaling-pathway

I started using the layout editor. When I chose "Rectangle" from the list of shapes, only one of the rectangles was selected (the smaller one). Similarly, when I chose "Ellipse" not all the ellipses were selected. Moreover, when I just selected the sole background color

[2016-06-22 15:06] tmmurali commented on #167
@adbharadwaj, please list all the places where we should document and what we should add as documentation, e.g., what we say in "Feature" should be brief but what we need in "Programmer's Guide" is more elaborate. Do we need something in "User guide"?

[2016-06-22 15:08] tmmurali commented on #158
@jlaw9 Can you check if the updated graphspace_interface.py in the master branch has this functionality?

[2016-06-22 15:32] jlaw9 commented on #158
@tmmurali the graphspace_interface.py in the master branch does not have this functionality.

Currently the curl command made by the _constructShareCommand function uses the same user variable for the [group owner] and [email].

curl command:
curl -X POST "http://graphspace.org/api/users/graphs/[graph name]/share/[group_owner]/[group name]/" -F "username=[email]" -F "password=[password]"; echo

I

[2016-06-22 15:34] tmmurali commented on #158
@jlaw9 I assume you mean that you will add an optional parameter to the _constructShareCommand function.

@DSin52 @adbharadwaj @annaritz does the approach suggested by @jlaw9 seem reasonable?

[2016-06-22 15:39] jlaw9 commented on #158
@tmmurali I mean that I will add an optional parameter to the shareGraph function (in the form of group_owner=''") and a non-optional parameter to the _constructShareCommand function. Then before the shareGraph function calls _constructShareCommand, the group_owner variable will be set to the user variable if group_owner is empty.

[2016-06-22 16:07] jlaw9 commented on #158
Another comment, the execute function in graphspace_interface.py only prints an error warning if the string "ERROR" is in the curl output.

The output of a curl command in which the group does not exist is the following:
{
    "Message": "Group does not exist",
    "StatusCode": 400
}

successful share:
{
    "Message": "Graph successfully shared with group!",
    "StatusCode": 200
}

I suggest th

[2016-06-22 16:12] tmmurali opened #170 "Delete unused branches"
@adbharadwaj @DSin52 @annaritz @ategge I see several branches that may no longer be active (e.g., allison changes, bug squashing, apache instance). Can we delete those branches? Please reply here. I want @adbharadwaj to do the actual deletion of the branches.

I am opening a new branch for documentation changes.

[2016-06-22 16:14] ategge commented on #170
Sure. @adbharadwaj can delete my branch.

[2016-06-22 17:00] tmmurali opened #171 "Option to make a layout the default appears only after sharing layout"
@DSin52 When a user creates a layout, it is initially private. For such a layout, I do not see the option to make this layout the default. This option appears only after I share the layout with the group.

I want to be able to make a layout default just for myself. I think users would like that. Can you expose that option?

What should the behaviour be if the user then shares the layout? Will the

[2016-06-22 17:13] annaritz commented on #170
Please leave interface_branch. I will use this branch to add a Programmer's Guide for the Graphspace Interace, and will discuss with @adbharadwaj when I do.

[2016-06-22 17:20] annaritz commented on #158
The code is currently structured so the curl commands are built using private functions (e.g.,  _constructShareCommand)  and returned as strings, which are then executed in public functions (e.g., shareGraph()).  @tmmurali I agree with @jlaw9's proposed change to add an optional parameter to the public function shareGraph() that will pass a non-optional parameter to the private function _construct

[2016-06-22 17:48] ategge opened #172 "The tour option of the layout editor does not properly display highlighted regions"
I went to the layout editor and began the tour. Different sections of the layout editor are highlighted as the tour progresses (which is cool). However, I cannot read what the tour is actually highlighting. See image below.

![screen shot 2016-06-22 at 1 44 40 pm](https://cloud.githubusercontent.com/assets/11236417/16277151/b85b6866-387f-11e6-86e9-d43573bc2370.png)

FYI, I am using firefox on a ma

[2016-06-22 19:23] tmmurali opened #173 "local_settings.py contains variables related to GraphCrowd"
There are several variables in local_settings.py such as AWS_URL, AWSACCESSKEY, and SECRETKEY that are related to GraphCrowd. They should not be exposed in GraphSpace code.

There is also a variable called SECRET_KEY whose purpose is not documented.

[2016-06-22 19:35] tmmurali commented on #173
local_settings.py contains a variable called PATH. Does the user need to set it? If no, please remove it.

[2016-06-23 13:35] tmmurali opened #174 "urls.py generates warning: updated to Django 1.10"
I performed a fresh install of GraphSpace on a computer running Mac OS X 10.10.5. I received the following warnings about URL patterns that will be removed in Django 1.10. We should be prepared for this release of Django 1.10.

GraphSpace/graphs/urls.py:206: RemovedInDjango110Warning: django.conf.urls.patterns() is deprecated and will be removed in Django 1.10. Update your urlpatterns to be a list

[2016-06-23 13:53] tmmurali opened #175 "urls.py generates warnings related to upcoming Django 1.10"
I performed a fresh install of GraphSpace on a computer running Mac OS X 10.10.5. I received the following warnings about URL patterns that will be removed in Django 1.10. We should be prepared for this release of Django 1.10.

GraphSpace/graphs/urls.py:206: RemovedInDjango110Warning: django.conf.urls.patterns() is deprecated and will be removed in Django 1.10. Update your urlpatterns to be a list

[2016-06-23 14:06] adbharadwaj opened #176 "Setup graphspace install using virtualenv."

[2016-06-23 14:07] tmmurali commented on #174
Created #175 also by mistake, hence closing this issue.

[2016-06-23 14:07] #174 closed

[2016-06-23 14:18] tmmurali opened #177 "Improve organisation of graphs/static/graphs/js"
I see several Javascript files in **graphs/static/graphs/js**. It is not clear which files are for GraphSpace proper and which are from other JS libraries we have downloaded. Some of the files in there may not be needed at all, e.g., a colour spectrum picker and Voronoi diagram code. We need to organise this directory into sub-directories, one for GraphSpace and one for each external project. Add

[2016-06-24 01:41] annaritz opened #178 "JSON files uploaded without a title through the UI are titled with the timestamp"
When you upload a JSON file using the UI that doesn't have a "name" attribute in the metadata, the time stamp is used as the Graph Title.  See, for example,

http://graphspace.org/graphs/annaritz@vt.edu/PathLinker-Wnt-Final

(it is viewable to @tmmurali, @ategge, and @DSin52).  If a JSON file is uploaded without a "name" attribute, then there should be no title present.

[2016-06-24 14:02] jlaw9 commented on #158
@tmmurali I tried to push my commit of the shareGraph change, but I do not have permission. Can you give me permission to push to the GraphSpace repo?

Also, @annaritz do you think we should update the execute function to print the curl output if "StatusCode" != 200 and then remove the sys.exit() (postGraph uses the StatusCode to see if it should post or update an existing graph)? Or should handli

[2016-06-24 17:06] #158 closed

[2016-06-24 18:26] annaritz opened #179 "Refactor GS error message handling in graphspace_interface.py"
Following up on comment by @jlaw9 from #158: update the error handling to use the "StatusCode" tag in the execute() function.  "StatusCode" is also used in the postGraph() function to determine if the graph exists.

Another option is to have each function that calls execute (e.g., postGraph(), shareGraph(), deleteGraph()) handle error messages.  This might be messier, but I will think about it and

[2016-06-30 18:53] annaritz opened #181 "Remove thesis_defense network from user1@example.com"
There is a stray network for user1.  Remove this network so user1 only owns 33 graphs, as described in the supplement.

http://graphspace.org/graphs/user1@example.com/thesis_defense

[2016-06-30 20:49] annaritz commented on #181
Right, I can do this as user1.  I deleted the network.

[2016-06-30 20:49] #181 closed

[2016-07-05 17:34] jlaw9 opened #182 "Graphs with '%' in the title are broken"
When I tried uploading a graph with '%'  in the title using curl, I got a "400 Bad Request" back html page from the server.

I tried uploading the same graph/title using the upload graph button on graphspace.org. I got the message:
"Graph is now viewable at: http://graphspace.org/graphs/jeffl@vt.edu/Milbemectin_(mixture_of_70%_Milbemcin_A4,_30%_Milbemycin_A3)_34742!"
but when I clicked on it, I go

[2016-07-05 17:40] jlaw9 opened #183 "Fix Broken Links"
The "documentation" and "example JSON" links are broken on this page: http://graphspace.org/graphs/upload.

The "documentation" link is: `http://graphspace.org/graphs/help/#upload_graphs`
should be replaced with: `http://graphspace.org/help#upload_graphs`

The "example JSON" link is: `http://graphspace.org/graphs/help/programmers/#example`
should be replaced with: `http://graphspace.org/help/progr

[2016-07-06 00:28] jlaw9 commented on #183
False alarm. The links work fine. I may have had an old version of the webpage stored by my browser or something

[2016-07-06 00:28] #183 closed

[2016-07-06 14:08] tmmurali opened #184 "Change "Manual" to "Saved" in the Layouts panel"
The "Manual" tab in layouts panel in a graph view is misnomer. Its true purpose is for the user to access saved layouts, whether they are created using automatic algorithms, the layout editor, or manual manipulation of node positions. Hence, we should rename this tab to "Saved". We also need to update the screenshots and text in the documentation and the tutorial.

[2016-07-06 20:46] jlaw9 commented on #182
Graphs with square brackets '[' or ']' in the title (i.e., 4,4'-Sulfonylbis[2-(prop-2-en-1-yl)phenol])  cause the curl commands to fail (curl: (3) [globbing] bad range in column XX), but uploading a graph with that title via the browser works fine.

[2016-07-15 16:59] adbharadwaj opened #185 "Use the default layout for a graph uploaded by an anonymous user if available."

[2016-07-15 18:28] MridulS opened #186 "Error after a fresh install"
I cloned the repo and went through the steps in the readme for a fresh install.
`python manage.py runserver` executed without any problem.
But when I tried to create a new user account through the browser I got this message.
[code]

@DSin52 @adbharadwaj Any clue?

[2016-07-15 20:45] adbharadwaj commented on #186
I think it's because of some package version conflict.

I solved it by creating a virtual environment for the application. Take a
look at virtualenv package.

Hope it helps.

*Aditya Bharadwaj*
Graduate Research Assistant,
Department of Computer Science,
Virginia Tech
adb@vt.edu

I cloned the repo and went through the steps in the readme for a fresh
install.
python manage.py runserver executed wit

[2016-07-15 21:39] tmmurali commented on #186
@adbharadwaj Your solution will not work for anyone who follows the instructions we currently have on GitHub for installing GraphSpace. Can either you or @MridulS dig in and find out what have replaced the ffi function/variable in newer versions?

Does https://github.com/SimonSapin/cairocffi/issues/62 shed any light? Please discuss in this thread before committing a fix.

[2016-07-15 22:06] adbharadwaj commented on #186
I am not sure which package is causing a conflict. This is a common problem
and is usually handled using well required packages file with compatible
versions

But I have already implemented the standard installation solution for
Graphspace. This solution fixes two things - python dependency management
and settings management for multiple environment.

I am talking about the first two commits in th

[2016-07-15 22:08] adbharadwaj commented on #186
About  SimonSapin/cairocffi#62
<https://github.com/SimonSapin/cairocffi/issues/62> , I did try this to no
success.

*Aditya Bharadwaj*
Graduate Research Assistant,
Department of Computer Science,
Virginia Tech
adb@vt.edu

On Fri, Jul 15, 2016 at 6:05 PM, Aditya Bharadwaj <adb@vt.edu> wrote:

[2016-07-15 22:10] tmmurali commented on #185
I think that our policy is not to allow an anonymous user, that is, an user who has not registered to create a default layout. If we make changes to this policy, it must be an explicit decision.

[2016-07-15 22:23] tmmurali commented on #186
OK. These changes are very good. @adbharadwaj Let me know when you change the README so that I can review it.

[2016-07-17 21:03] MridulS opened #187 "Log of errors during installation"
@adbharadwaj is currently working on updating the settings and requirements file in the branch https://github.com/Murali-group/GraphSpace/commits/%23176 .
I just wanted to keep a log of errors if one installs the graphspace repo on a clean ubuntu 14.04 machine using the instructions on README page.

[code]

Solution to error:

[code]

Reason for error:
https://github.com/Murali-group/GraphSpace/bl

[2016-07-17 21:38] MridulS commented on #187
NOTE: all these tests including above are ran using non-root accounts.
NOTE: This installation is done on a fresh ubuntu 14.04 machine.
NOTE: Using virtualenv as for installation rather than `sudo pip`

after executing `python local_settings.py`
Error:
[code]
Solution: run `pip install django`
Reason: not sure about this, but it can be problematic if you install with `sudo` inside a `virtualenv` w

[2016-07-18 16:29] jlaw9 opened #188 "Inconsistent color of selected section/tab"
Minor issue. Might not be an issue at all.
The 'Private' and 'Users Guide' screenshots show blue when selected.
In the 'Owner of' and 'Public Graphs' screenshots, the selected section/tab is white with black text.
- 'Private' is selected:
  ![screenshot from 2016-07-18 12 21 11](https://cloud.githubusercontent.com/assets/7592559/16922134/514c5b0e-4ce2-11e6-9971-b9fb32d19199.png)
- 'Users Guide' is

[2016-08-10 14:00] jlaw9 commented on #171
Another related issue is that only the owner of the group a graph is shared to can make a shared layout default. It seems like any member of a group should be able to set a layout as default

[2016-08-10 15:13] tmmurali commented on #171
Is it the owner of the graph or the owner of the layout that can make it
the default?

On Wed, Aug 10, 2016 at 10:00 AM, Jeff Law <notifications@github.com> wrote:

[2016-08-10 15:39] ategge commented on #171
I wanted to add in another thought. Say I upload a network and set a layout to be the default. Jeff comes along and sets his layout to be the new default. I return to the network and no longer see my layout as the default. I might wonder (at least for a few moments) what happened. Would this be confusing? I do not know if the answer is yes or no, but it is something to think about.

[2016-08-10 16:02] jlaw9 commented on #171
@tmmurali Sorry I was mistaken in my earlier comment. Only the owner of a graph can make a layout default. In the screenshot, jamogh owns the graph and I am logged in as jeffl
![image](https://cloud.githubusercontent.com/assets/7592559/17561008/310c9aee-5ef2-11e6-9a9a-30b319ddb2a6.png)

@ategge Maybe that would be a good part of the notification framework. If the layout has changed since you last

[2016-08-10 16:18] tmmurali commented on #186
@adbharadwaj @MridulS Can we close this issue now?

[2016-08-10 16:19] tmmurali commented on #171
@ategge The default-layout-stomping-on-each-other should be a separate issue. I think I have discussed it with @adbharadwaj. We need a policy for this.

[2016-08-10 16:25] adbharadwaj commented on #186
@MridulS <https://github.com/MridulS> can you close this issue since you
opened it.

*Aditya Bharadwaj*
Graduate Research Assistant,
Department of Computer Science,
Virginia Tech
adb@vt.edu

On Wed, Aug 10, 2016 at 12:18 PM, T. M. Murali <notifications@github.com>
wrote:

[2016-08-10 16:36] MridulS commented on #186
Yeah, it is fixed now.

@adbharadwaj Thanks :)

[2016-08-10 16:36] #186 closed

[2016-08-10 17:00] jlaw9 opened #192 "Unable to delete a private layout of a graph not owned by you"
For example, jamogh uploads a graph. jamogh shares the graph with a group I'm a member of. I create a private layout. If I try to delete that private layout, I get the error message 'Layout does not exist!'

Not a big issue, but it's still an issue

[2016-08-10 20:52] jlaw9 opened #193 "validate_edge_properties() in graphspace_interface.py not validating edge properties"
networkx must have changed or something.
`validate_edge_properties(G)` for loop:
`for edge_id in G.edge:
    check edge properties of G.edge[edge_id]`
`edge_id` is the source and `G.edge[edge_id]` contains a dictionary of targets and the corresponding properties.

I propose to change this for loop to loop over each source and target pair:
`for source in G.edge: for target in G.edge[source]: valida

[2016-08-10 21:10] tmmurali commented on #193
@jlaw9 I am not sure why you are making this change. Can you explain? What do you think has changed in networkx? Can you check with the networkx documentation?

[2016-08-10 21:29] jlaw9 commented on #193
@tmmurali sorry I should've made it clearer.

edge properties of the json file were not being validated because the code was checking the list of targets for edge properties rather than the actual edge properties of the edge.

For example, suppose there is an edge from `node1` to `node2` with the property `'target_arrow_shape': 'error'`.
The networkx Graph.edge object would look like this:
`{'node

[2016-08-11 00:02] tmmurali commented on #193
Thanks for the explanation. What bothers me about both the old and the new version is that they assume the data structure for G.edge has a certain format. It is much safer to invoke a NetworkX function that iterates over edges in the graph and checks the appropriate attributes for each edge. That way the validator does not depend on how NetworkX stores a graph internally. Can you check and let me

[2016-08-11 14:25] jlaw9 commented on #193
@tmmurali There are NetworkX functions that iterate over edges and attributes in the graph. For example: `G.edges(data=True)` is used in our graphspace_interface.py [convertNXToDict(G)](https://github.com/Murali-group/GraphSpace/blob/master/graphspace_interface/graphspace_interface.py#L744). We could certainly use that here.

However, this point brings the other graphspace_interface.py functions i

[2016-08-11 18:41] adbharadwaj commented on #193
I think it has nothing to do with networkx's functionality. The implementation of `validate_edge_properties` was wrong in the first place. The reason behind this confusion is the method name [validate_json(G)](https://github.com/Murali-group/GraphSpace/blob/b1a284ed0b503f58b3bc8b83fe8defbc4fa414a3/graphspace_interface/graphspace_interface.py#L91) which calls `validate_edge_properties(G)`. From the

[2016-08-12 16:06] jlaw9 opened #194 "Layout Stores Node Background Color"
On the graph [Lovastatin_20784_color](http://graphspace.org/graphs/jeffl@vt.edu/Lovastatin_20784_color), I tried changing the color of the node "MAP2K1" from green to red. For some reason, the color didn't completely update.
green:
![screenshot from 2016-08-12 11-45-50](https://cloud.githubusercontent.com/assets/7592559/17628650/6c056188-6084-11e6-9af7-64d387dcc774.png)
red:
![screenshot from 2016

[2016-08-12 16:09] annaritz commented on #194
Hi @jlaw; this might be an issue with the "bubble_effect" function I wrote in the graphspace interface.  Try looking there, and let me know if I can help.

[2016-08-12 16:28] jlaw9 commented on #194
Thanks for the suggestion @annaritz. I just figured out the problem.

For some reason, when I removed the default layout, the background color of node MAP2K1 changed from green to red. So for whatever reason, the default layout seems to store the background color of the node along with the position

[2016-08-12 18:05] tmmurali commented on #194
@jlaw9 Should the bug title be "**Default** layout ..." or is that every layout stores colors as well?

[2016-08-12 20:19] jlaw9 commented on #194
@tmmurali Every layout I tested stored the color as well.

[2016-08-12 20:24] tmmurali commented on #194
Thanks for confirming.

On Fri, Aug 12, 2016 at 4:19 PM, Jeff Law <notifications@github.com> wrote:

[2016-08-16 20:29] jlaw9 opened #195 "Node IDs with certain special characters aren't selected by the layout editor"
When choosing a color or shape from the layout editor, not all of those nodes are selected if they have certain special characters in the node ID.

**Not selected / Don't work**:  forward slash ('/'), comma (',')
**Selected / Work**: underscore ('_'), hyphen ('-')

For example: Each of the grey nodes that should be selected in the screenshot below have a forward slash ('/') in their ID.

![image](

[2016-08-19 23:05] annaritz opened #196 ""color" is not a node attribute"
The documentation says that "color" is an attribute in the Programmer's Guide: http://graphspace.org/help/programmers

`color: The colour of the nodes's content.`

However, the proper attribute is "background_color".  This is illustrated in the Sample JSON file included further down the page.

[2016-08-20 15:04] tmmurali commented on #196
@annaritz Do we need to change just the documentation or the code itself?

[2016-08-20 15:37] annaritz commented on #196
@tmmurali just the documentation on the help page.

[2016-08-20 22:50] tmmurali commented on #196
Thanks. @annaritz We also have a line for background_color.

background_color	The background color of the node. It may be the names of colors or hexadecimal values of the colors.

Should we move this text to the line for color or just change color to background_color?

[2016-08-20 22:56] annaritz commented on #196
After a more careful read, "content" means the text displayed inside the node. So the color property should change the color of the text - I will check and report back.

[2016-08-20 23:00] annaritz commented on #196
Yes that's what it means, so it is technically correct.  To clarify, I propose that we replace the text

`The colour of the nodes's content`

to

`The colour of the text displayed inside the node`

[2016-08-20 23:03] ategge commented on #196
Can we be consistent with our spelling of 'color'? It is a little strange to have the attribute name 'color' and the description include 'colour.'

[2016-08-20 23:46] annaritz commented on #196
It didn't bother me too much, but I can see how that is inconsisent.

We would need to change "colour" to "color" then - since "color" is a Cytoscape.js attribute: http://js.cytoscape.org/#style/node-body

[2016-08-21 03:16] tmmurali commented on #196
Thanks @annaritz @ategge. I will make these changes.

[2016-08-26 12:55] tmmurali commented on #193
@adbharadwaj @jlaw9 Thanks for the explanation. One of you can go ahead with this change.

How does this code interact with the validator in graphspace_interface.py? It is also incorrectly named as validate_json().

[2016-08-27 23:45] adbharadwaj commented on #193
@jlaw9 Are you making the changes ?

[2016-08-27 23:52] adbharadwaj commented on #193
@tmmurali

**validate_edge_properties** is called inside **validate_json** method. Both methods do not return anything.

**find_property_in_array** method is called inside **validate_edge_properties** method.

**find_property_in_array** method looks for a required property in the NetworkX object. If the property exists nothing happens else it raises an exception. This exception is then propagated

[2016-08-28 11:15] jlaw9 commented on #193
Yes I made the changes in my fork, I just need to make the pull request now.

[2016-08-30 09:10] jlaw9 commented on #179
A temporary fix is to print the output of each executed curl command (i.e., add `print out` to the bottom of the `execute()` function. That way the user can see if posting and/or sharing a graph was successful or not.

[2016-08-30 17:49] annaritz opened #198 "Document illegal characters for GraphID"
The graphID (called "graphname" in the [Programmer's Guide](http://graphspace.org/help/programmers) cannot contain **spaces** or **question marks**.  This will introduce a space in the URL.

I have not thoroughly checked, but I bet that [other characters not allowed in URLs](https://perishablepress.com/stop-using-unsafe-characters-in-urls/) will also be problematic.
- These should be documented in

[2016-08-30 17:52] annaritz opened #199 "Illegal characters in password?"
Someone used a password generator, and the password caused some GraphSpace errors.  I don't know what those errors were, but are there any characters that are not allowed in the password?

[2016-08-30 18:30] annaritz opened #200 "Attribute "mid_source_arrow_shape" requires "source_arrow_shape" attribute to be set"
The attribute "mid_source_arrow_shape" places an arrow in the middle of the edge, pointing towards the source.  The "mid_target_arrow_shape" places an arrow in the middle of the edge, pointing towards the target.

First, the documentation in the [Programmer's Guide](http://graphspace.org/help/programmers) duplicates the descriptions for "target_arrow_shape" and "mid_target_arrow_shape" (as well as

[2016-08-30 19:47] jlaw9 commented on #198
@annaritz I also ran into this problem trying to posts graphs with a chemical name as the ID. See Issue #182

[2016-08-30 19:51] tmmurali commented on #198
@jlaw9 @annaritz Can one of you mark one of the issues as a duplicate? Thanks.

[2016-08-31 21:04] adbharadwaj commented on #199
@annaritz Do you know the size of password fed by the password generators ? Can you give some examples ?

Mitch, I was talking about these [validators](http://docs.sqlalchemy.org/en/rel_0_9/orm/mapped_attributes.html#simple-validators).

[2016-08-31 21:41] annaritz commented on #199
Sorry, I don't know, unfortunately.  If a student has the same issue I'll let you know more details.

[2016-09-06 10:54] philosopherstoneguy opened #201 "No local packages or download links found for SQLAlchemy==1.0.14* even after installing sqlalchemy"
Searching for SQLAlchemy==1.0.14*
Reading https://pypi.python.org/simple/SQLAlchemy/
Download error on https://pypi.python.org/simple/SQLAlchemy/: Tunnel connection failed: 407 Proxy Authentication Required -- Some packages may not be found!
Couldn't find index page for 'SQLAlchemy' (maybe misspelled?)
Scanning index of all packages (this may take a while)
Reading https://pypi.python.org/simple/
D

[2016-09-06 13:42] adbharadwaj commented on #201
`pip` has issues working behind the proxy. I believe you are living in a hostel, hence the proxy issue. There is no well-defined way of handling this issue. Here are some links which may help:

- http://stackoverflow.com/questions/14149422/using-pip-behind-a-proxy
- https://github.com/pypa/pip/issues/1182

If these links do not help, I suggest you do the following after running `source venv/bin/ac

[2016-09-07 10:55] philosopherstoneguy commented on #201
pip is working fine I already used required commands to  work behind the proxy and i installed these required packages  after the running the source venv/bin/activate command

[2016-09-07 19:42] adbharadwaj commented on #201
May be !! Can you run pip install command for each required package and start working for now. We can resolve this issue later.

[2016-09-10 23:21] annaritz opened #202 ""Set layout as default" option only appears once layout is shared"
When you first make a layout, the options are "Delete", "Share", "Edit", and "Link".

![screen shot 2016-09-10 at 4 15 07 pm](https://cloud.githubusercontent.com/assets/1457970/18414074/f9bba308-7771-11e6-863e-3254d947fbd4.png)

When you share the layout, the options become "Unshare","Edit","Link", and "Set as Default".

![screen shot 2016-09-10 at 4 16 06 pm](https://cloud.githubusercontent.com/a

[2016-09-11 01:12] tmmurali commented on #202
Duplicate of #171.

[2016-09-11 01:12] #202 closed

[2016-09-11 01:12] tmmurali commented on #202
@annaritz This issue is a duplicate of #171. Please add comments to #171.

[2016-09-19 21:35] annaritz opened #203 "Offer "bulk addition" of group members (or copying of group membership)"
It would be nice to be able to add multiple users at once as members of a group.  Another nice feature would be to "copy" the existing members of a group to a new group.

[2016-11-14 20:31] #201 closed

[2016-11-14 20:32] tmmurali commented on #195
Commas in node ids are also a problem. This might not be a problem with GraphSpace per se but with Cytoscape.js not liking some characters in node ids.

[2016-11-14 20:32] tmmurali commented on #195
To follow up to @jlaw9 last line in the issue report, hyphens also work fine.

[2017-01-09 20:20] #176 closed

[2017-01-18 18:35] jlaw9 commented on #169
Duplicate of #195. Closing this issue as there is more discussion there.

[2017-01-18 18:35] #169 closed

[2017-01-18 18:37] jlaw9 commented on #195
Here is an example of commas in node ids
user1@example.com, http://graphspace.org/graphs/user1@example.com/KEGG-Prolactin-signaling-pathway

[2017-02-09 15:06] kluther opened #208 "Wed meeting"
Lee: fully create 5 personas: computational biologist, biologist, student, amateur, crowd worker.

David: create Flud user on GraphCrowd and generate layouts that will be posted on Flud. Pull in layouts to Flud database.

[2017-02-10 15:38] #208 closed

[2017-02-15 18:14] gwizdala opened #209 "Create "My Layouts" tab"
Currently when a user creates a graph layout, if it is not from a graph that they own there is no user flow to access it. Adding a layouts tab would be useful for viewing these creations.

[2017-02-16 21:18] adbharadwaj opened #210 "Find out how NDEX supports annotations."
Comment from the reviewer:

**We need to find out how NDEX supports annotations and how is it useful.**

[2017-02-16 21:20] adbharadwaj opened #211 "Fix node and edge search on graph page."
It seems that node and edge search are not working on old graphs.

[2017-02-16 21:22] adbharadwaj opened #212 "Tooltip for layout edit button in layouts tab on graph page is wrong."
![image](https://cloud.githubusercontent.com/assets/3481095/23041780/24ef3df4-f464-11e6-88dc-524ebaf4bffb.png)

[2017-02-16 21:24] adbharadwaj opened #213 "Start supporting cyjs style files."
We want the users to able to export the graph from cytoscape into Graphspace with the layout information.

[2017-02-16 21:26] adbharadwaj opened #214 "Support alias search on GraphSpace."

[2017-02-16 21:31] adbharadwaj commented on #214
We don't want to add an alias attribute to start supporting alias search because if we do we will be reinventing the wheel. We want to use the existing format as much as possible.

[2017-02-16 21:51] adbharadwaj opened #215 "Allow users to join group using a activation link."
In order to invite users to a group it is necessary to know what email address they used to register. Typically this means that one has to contact that person via email or phone or any other way (i.e. outside of the proposed system) to find out what email address one should use to invite them. Invitations with an activation link could be sent to the provided email address instead, avoiding these u

[2017-02-16 21:51] adbharadwaj opened #216 "Add a node and edge property editing tool."

[2017-02-16 21:54] adbharadwaj opened #217 "Graphspace 2.0 doesnt provide hyperlinks to edge search and node searches."
Add node and edge search query param in the url and handle it.

[2017-02-16 21:57] adbharadwaj opened #218 "Remove `Maximum rank` filter from graph page."

[2017-02-16 21:58] adbharadwaj opened #219 "Add graph information tab"

[2017-02-16 22:11] adbharadwaj opened #220 "Find out why node search is slower than edge search in GraphSpace 2.0"

[2017-02-16 22:48] adbharadwaj opened #221 "Show loading sign while search results are loading."
When a user searches on graphs search page. The count of a graph on the tabs persists for the previous query. This can be confusing.

Visually show the user that their request is processing.

[2017-02-17 18:45] adbharadwaj opened #222 "Add a page where user can get auth_token."

[2017-02-17 18:45] adbharadwaj commented on #222
User needs auth_token to access the REST APIs.

[2017-02-21 18:27] adbharadwaj opened #223 "There is no way to set a default layout for a graph in GraphSpace 2.0"

[2017-02-21 18:29] adbharadwaj opened #224 ""powered by Django" in the footer has relative position."
When increasing the list of graphs to 100, “powered by Django …” shows up in the middle of the list
It also shows up in the middle of graph details

[2017-02-21 18:29] adbharadwaj commented on #224
Fixed by removing the footer for now.

[2017-02-21 18:29] #224 closed

[2017-02-21 18:31] adbharadwaj opened #225 "The layouts, nodes, and edges tabs don’t do anything."
- The layouts, nodes, and edges tabs don’t do anything. (http://52.38.106.43/graphs/11709#graph_nodes_tab)

- Clicking in the order Graph Visualization->Nodes doesn’t change the display to node list. Same with Edges. Works if I click Graph Details.? [Happened with http://52.38.106.43/graphs/11725#graph_visualization_tab]

[2017-02-21 18:32] adbharadwaj commented on #225
This could be due to an unclosed HTML tag in the graph description field. Will need to find a way to sanitate the description field.

[2017-02-21 18:37] adbharadwaj opened #226 "There is no way to edit the existing layout."
Jeff: I saved the layout “l1”. Then I made some modifications and tried to save the layout as “l1” again, and got the error “(psycopg2.IntegrityError) duplicate key value violates unique constraint “ in json format.
Also, it would be nice if you could overwrite or “update” a previous element instead of creating a new layout for every change you make. Then you could make changes to a default layout

[2017-02-21 18:37] adbharadwaj opened #227 "Error message on saving layout is not handled properly."
Jeff: I saved the layout “l1”. Then I made some modifications and tried to save the layout as “l1” again, and got the error “(psycopg2.IntegrityError) duplicate key value violates unique constraint “ in json format.

[2017-02-21 18:38] adbharadwaj commented on #227
Need to create a error code for such kind of errors.

[2017-02-21 18:39] adbharadwaj opened #228 "No indication of table reload on changing the sorting criteria on Graphs page."
Whenever I try to resort the list of graphs the list of graphs doesn’t give any indication that it is refreshing, and then suddenly updates.

[2017-02-21 18:41] adbharadwaj opened #229 "Support pagination via query parameters."
Doesn't return back to the same page in the list of graphs after finished viewing a graph

[2017-02-21 18:49] adbharadwaj opened #230 "Submit button needs to be disabled while graph upload is processing."
Submit button on /upload can be clicked before response even returns, then says that that the graph already exists if clicked quickly enough.

[2017-02-21 18:51] adbharadwaj opened #231 "Graph detail missing on a graph page."
When accessing a graph (e.g. linker-q_0.5-query_HSL1-path_k_50 ) as an anonymous user (or as a real user (Mitch)), the graph details page displays

[2017-02-21 18:52] adbharadwaj opened #232 "Export Graph does nothing in Firefox in any format."
None of the buttons work.

[2017-02-21 18:52] adbharadwaj commented on #232
Will need to test compatibility on different browsers.

[2017-02-21 18:53] adbharadwaj opened #233 "Search on graphpage not working on Firefox"
Used a firefox browser.

- http://52.38.106.43/graphs/17003#graph_visualization_tab
- Query: PIK3CG

[2017-02-21 18:54] adbharadwaj commented on #233
@amoghpj Can you test this URL and see if the search still doesn't work.

[2017-02-22 03:13] amoghpj commented on #233
This still doesn't work. Other queries don't work either.

[2017-02-22 04:10] adbharadwaj opened #234 "Error message on unshare a public graph is not formatted."
The error message when I tried to unshare a public graph is not “clean” : This is what I get: “{"status_code": 403, "http_request": "PUT /ajax/graphs/4025", "error_message": "You are not authorized to access this resource, create an account and contact resource's owner for permission to access this resource.", "error_code": 1004, "error_details": "https://www.graphspace.org/docs/errors/1004"}”

[2017-02-22 04:13] adbharadwaj commented on #234
There are two things we need to do:
- Error message on unshare/share a graph is not formatted.
- A user should not be allowed to share/unshare a public graph unless he/she is the owner.

[2017-02-22 04:17] adbharadwaj opened #235 "Non-owner can see the option to update the group."
He/she can see the option but gets an error on updating. They should even see an option to update the group.

Also handle formatting of error when a user tries to update a group.

[2017-02-22 04:17] adbharadwaj opened #236 "forgot password feature doesn’t do anything when typing in associated email."

[2017-02-22 04:18] adbharadwaj commented on #236
I think it is because the email server was not setup.

[2017-02-22 04:19] adbharadwaj opened #237 "Cola layout option needs to removed from Graphspace v2."
“Cola” Layout is shown twice on the change layout menu that pops up (Mitch, Firefox, logged in). Clicking on tree then cola (second one) then tree makes the graph change slightly from the tree layout.

[2017-02-22 04:20] adbharadwaj opened #238 "Link to `Forgot Password` from any page EXCEPT the index page causes an error"
Clicking on Log In > Forgot Password from any page EXCEPT the index page causes an error. Either an “Oops” page appears or a 404 error page appears. You can log in from any page.

[2017-02-22 04:20] adbharadwaj opened #239 "Sorting by “is directed”/Tail node in the edge table does not work."

[2017-02-22 04:21] adbharadwaj opened #240 "Add a autocomplete for adding users to a group."
Simple typo. When trying to add a user (that does not exist) to a group a message is displayed that says “User does not exit”.

[2017-03-06 00:07] adbharadwaj opened #241 "“Last Modified” says 2 days ago for a group/graph I just created"

[2017-03-06 00:08] adbharadwaj opened #242 "Change the change layout menu to a submenu like filter and layout editor"

[2017-03-06 00:10] adbharadwaj opened #243 "Add a border to the graph viewing area on graph page."
t is not clear where on screen it stops/starts zooming-in/out vs. scrolling up and down the page. Or add a border for the graph view.

[2017-03-06 00:10] adbharadwaj opened #244 "Edges in the edge table are “Node1-Node2”, while the pop-up shows “Node1->Node2”. Have a uniform style."

[2017-03-06 00:11] adbharadwaj opened #245 "No indication of who group owner is in a group"

[2017-03-06 02:23] adbharadwaj commented on #231
Redirect request to /images to /static/images

The problem is that the link to images folder was hardcoded previously in the popups.

[2017-03-06 05:48] #219 closed

[2017-03-06 05:49] #212 closed

[2017-03-06 05:49] #214 closed

[2017-03-06 05:49] #218 closed

[2017-03-06 05:49] #217 closed

[2017-03-06 05:51] adbharadwaj commented on #220
It is because during a single term search we do both Graph search and node search. On the other hand during the edge search, we do a search only on edges.

[2017-03-06 05:51] #220 closed

[2017-03-06 05:51] #221 closed

[2017-03-06 05:53] adbharadwaj commented on #211
The problem was that some of the nodes had comma in their identifiers. The way we were selecting nodes were using the standard '#id' selector - which doesnt work with commas and spaces. There we used "node[id='<id>']" selector instead.

[2017-03-06 05:53] #211 closed

[2017-03-06 06:23] #231 closed

[2017-03-06 06:28] #234 closed

[2017-03-06 06:41] adbharadwaj commented on #232
Programmatic click on <a>-tag was not working in Firefox. Solved using the sample code available here: http://stackoverflow.com/questions/32225904/programatical-click-on-a-tag-not-working-in-firefox

[code]

[2017-03-06 06:41] #232 closed

[2017-03-06 09:00] #223 closed

[2017-03-06 09:54] #238 closed

[2017-03-06 09:55] #244 closed

[2017-03-06 09:55] #237 closed

[2017-03-06 09:55] #227 closed

[2017-03-06 10:14] #225 closed

[2017-03-06 10:27] #245 closed

[2017-03-06 10:30] #235 closed

[2017-03-06 10:49] adbharadwaj commented on #239
is_directed set to 1 for all edges in old graphs. It seems edge table was populated wrongly. We can try to do this at low priority. This doesnt effect the functionality at all. I am disabling the is_dierected column in edge table.

[2017-03-06 17:46] tmmurali commented on #239
@adbharadwaj Please add a new issue with a later milestone to process directed edges correctly. By the way, can we know from the JSON whether an edge is directed?

[2017-03-06 20:22] adbharadwaj commented on #239
@tmmurali Yes we can get the directedness from the JSON.

[2017-03-07 08:46] adbharadwaj opened #246 "Add a show label toggle to the layout editor menu"

[2017-03-07 20:12] #246 closed

[2017-03-07 20:12] #242 closed

[2017-03-07 20:12] #215 closed

[2017-03-07 20:48] #228 closed

[2017-03-07 23:20] adbharadwaj commented on #230
Used loading state of the buttons supported by Bootstrap. Refer to - http://getbootstrap.com/javascript/#buttons

[2017-03-07 23:23] #230 closed

[2017-03-08 00:10] adbharadwaj commented on #241
## Calculate timestamps within your DB, not your client

For sanity, you probably want to have all datetimes calculated by your DB server, rather than the application server. Calculating the timestamp in the application can lead to problems because network latency is variable, clients experience slightly different clock drift, and different programming languages occasionally calculate time slightl

[2017-03-08 00:10] #241 closed

[2017-03-08 01:47] #240 closed

[2017-03-08 23:02] adbharadwaj opened #247 "Add style attributes to the exportable JSON."
Currently, JSON file which can be exported from graph page doesn't have style attributes for nodes and edges. In order to add style attributes to the exportable JSON, we will have to parse stylesheet and add the style to the exportable JSON.

[2017-03-09 01:31] adbharadwaj opened #248 "Graph deletion now takes a lot of time because of foreign key references."

[2017-03-09 01:46] #247 closed

[2017-03-09 02:03] adbharadwaj opened #249 "Support undo redo for style changes as well."

[2017-03-09 03:02] adbharadwaj commented on #213
Using the feature, a user can go to the layout editor and Cytoscape style JSON files. Although Cytoscape style JSON files allow users to choose how selected elements are shown/styled, we do know allow it on GraphpSpace to keep the user experience across all graphs and layouts.

In case a user uploads a file with invalid format, we just simply show an error saying - `Invalid cytoscape stylesheet fi

[2017-03-09 03:02] #213 closed

[2017-03-09 04:56] #249 closed

[2017-03-09 06:07] adbharadwaj commented on #248
Removes the graph row from the table and notifies the user - `Submitted the request to delete the graph. The graph will be deleted in some time.`. Once the graph is deleted, user gets a notification -  `Successfully deleted the graph with id=xyz`

[2017-03-09 06:07] #248 closed

[2017-03-09 18:34] adbharadwaj commented on #222
The aim is to provide the auth token on the API documentation page.

[2017-03-10 14:51] #243 closed

[2017-03-10 15:00] adbharadwaj commented on #233
The problem is that there is no node or edge in the node/edge table for this graph.
**Solution** - Run a migration script which checks for such instances and creates edge and node entries based on graph json.

[2017-03-13 09:11] adbharadwaj opened #250 "No validation for target-arrow-shape style attribute"
With [separation of graph json and style json](https://github.com/Murali-group/GraphSpace/wiki/JSON-structures-stored-in-GraphSpace-databases), and we will not be able to validate properties in style json based on data properties of the corresponding element. This is because we will be using the stylesheet format used by cytoscape.js. This format uses selectors to define styles. Since there is no

[2017-03-19 22:40] adbharadwaj opened #251 "Support bulk upload via REST APIs"

[2017-03-21 21:25] mitchwagner opened #252 "Create Account Button Not Working"
Platform: Mac, Firefox

Create Account Button disappears when clicked, but stays on the same page.

[2017-03-21 21:35] lnaler opened #253 "Could not export images and cyjs of a graph"
When attempting to export jpg, png or cyjs of 5-Fluorouracil on Chrome, I get download failed - network error. I can only download the .json.

This is the graph http://35.163.136.54/graphs/21327?user_layout=911 .

[2017-03-27 10:09] #252 closed

[2017-03-28 19:54] adbharadwaj opened #254 "Add option to change arrow heads in edge editor."

[2017-03-28 19:55] #233 closed

[2017-03-28 19:55] #216 closed

[2017-03-29 19:00] jlaw9 opened #255 "Layout Editor Node Selection"
When selecting colors and node shapes using the layout editor, the selected colors and shapes are applied separately when they selection criteria should be applied together. For example, when trying to select all gray circles, all gray nodes and all circles are selected instead (see screenshot)

![image](https://cloud.githubusercontent.com/assets/7592559/24471488/3b48e28e-1490-11e7-8f5f-9b440f0d63

[2017-03-29 19:08] jlaw9 opened #256 "Unable to change color for text, border, and bubble"
Changing the node background works well, but I am unable to change the other colors in the node such as the node border, text, and the text border or "bubble" around the text. In the screenshot, the nodes were purple and I changed the color to neon green

![image](https://cloud.githubusercontent.com/assets/7592559/24471823/633a446c-1491-11e7-9d9c-a54ab430ac68.png)

[2017-03-29 19:29] jlaw9 opened #257 "Store rank filter with layout"
If we could store the rank filter with the layout to be able to share and present smaller sections of the graph (without showing the whole graph or having to upload a new graph with just those paths).

[2017-04-04 20:09] lnaler opened #258 "Error when creating a group without the descriptor"
When attempting to create a group without a descriptor, the following error pops up:

{"status_code": 400, "http_request": "POST /ajax/groups/", "error_message": "(psycopg2.IntegrityError) null value in column \"description\" violates not-null constraint\nDETAIL:  Failing row contains (Best Group Ever, lnaler@vt.edu, null, 90, 2017-04-04 20:01:11.215975, 2017-04-04 20:01:11.215975, SSP3YOS7DB).\n

[2017-04-06 21:36] rishabhsethi opened #259 "Get graphs by tags via REST APIs"
The REST API currently doesn't have a method to get all graphs with a particular tag. This seems like an important use case.

[2017-04-09 08:19] adbharadwaj commented on #259
This feature is already supported. Please refer to http://manual.graphspace.org/en/latest/Programmers_Guide.html for more details.

[2017-04-09 08:19] #259 closed

[2017-04-09 11:17] rishabhsethi commented on #259
Thanks for the clarification. I looked at the code and it seems like [urls.py](https://github.com/Murali-group/GraphSpace/blob/master/graphs/urls.py) is missing the endpoint for the [get_all_graphs_for_tags](https://github.com/Murali-group/GraphSpace/blob/master/graphs/views.py#L2513) method.

[2017-04-09 12:15] rishabhsethi commented on #259
I realize I was looking at the master branch instead of the current development branch. Please keep the issue closed.

[2017-04-10 14:47] jlaw9 opened #260 "Problem with PNG and JPG export"
Exporting to PNG or JPG normally works, but when I try to export this graph ([http://35.163.136.54/graphs/21333](http://35.163.136.54/graphs/21333)) to PNG or JPG by clicking on the "Network Graphics" options of export, nothing happens. Exporting to CYJS or JSON works fine.

I'm wondering if it's because of the large 200x200 nodes?

[2017-04-12 08:06] adbharadwaj commented on #260
This is a problem with using href attributes to download files. I used the solution given in this post (via Blobs in Javascript).

http://stackoverflow.com/questions/23301467/javascript-exporting-large-text-csv-file-crashes-google-chrome

[2017-04-12 08:07] #260 closed

[2017-04-12 08:09] adbharadwaj commented on #253
Duplicate issue #260

[2017-04-12 08:09] #253 closed

[2017-04-12 08:29] #258 closed

[2017-04-12 08:33] adbharadwaj commented on #255
Thanks @jlaw9. I have fixed the node selection logic. So if a user selects ellipse and grey color, it should select grey ellipse shaped nodes only.

[2017-04-12 08:33] #255 closed

[2017-04-12 08:36] adbharadwaj commented on #257
The latest version allows users to store layouts on filtered graphs. I have tried that before.

[2017-04-12 08:42] adbharadwaj commented on #256
It was because text-outline-color and node background color are supported via different properties in Cytoscape.js. I have fixed this issue by changing both of them when a user changes the background of a node. Making sure that background color and text outline color is always matching.

[2017-04-12 08:42] #256 closed

[2017-04-12 08:43] #254 closed

[2017-04-12 08:53] adbharadwaj commented on #203
Group owners can add members by sharing the group signup link with group members now. This should make the bulk addition easier.

[2017-04-12 08:53] #203 closed

[2017-04-12 08:57] adbharadwaj commented on #200
GraphSpace doesn't use `mid_source_arrow_shape` or `source_arrow_shape` data attribute anymore. The style information is supported via [Style attributes](http://manual.graphspace.org/en/latest/GraphSpace_Network_Model.html#style-properties) now. The compatibility of these attributes will completely depend on Cytoscape.js support.

[2017-04-12 08:57] #200 closed

[2017-04-12 09:02] adbharadwaj commented on #198
- GraphSpace doesn't allow users to add graph ids anymore. We create a integer ID for each graph on creation.
- Users can use any character supported by UTF-8 character set for a string field like `name` of the graph.

[2017-04-12 09:02] #198 closed

[2017-04-12 09:04] adbharadwaj commented on #182
Please see the response in #198 .

[2017-04-12 09:04] #182 closed

[2017-04-12 09:06] adbharadwaj commented on #182
![image](https://cloud.githubusercontent.com/assets/3481095/24950072/c0dee440-1f3d-11e7-8f45-db05f1bf9799.png)

[2017-04-12 09:14] adbharadwaj commented on #194
The latest version of GraphSpace allows users to save style information along with node positions as part of layouts. This bug is not relevant anymore.

[2017-04-12 09:14] #194 closed

[2017-04-12 09:16] adbharadwaj commented on #178
Users can no longer upload a graph with no name.

[2017-04-12 09:16] #178 closed

[2017-04-12 09:19] adbharadwaj commented on #171
- The option to set a layout as default is available only when the layout_owner has shared the layout.
- Only layout owner can set a layout as default. This solved the `default-layout-stomping-on-each-other` problem mentioned by Murali.

[2017-04-12 09:19] #171 closed

[2017-04-12 09:23] adbharadwaj commented on #170
@annaritz Documentation is supported via a [different repository](https://github.com/adbharadwaj/graphspace-manual) now. I am going to transfer the ownership to Murali's Organization soon.

Deleted the unused branches.

[2017-04-12 09:23] #170 closed

[2017-04-12 09:26] adbharadwaj commented on #167
We already added the documentation and closed the branch.

Documentation is maintained now maintained via a [different repository](https://github.com/adbharadwaj/graphspace-manual). The instructions to update the documentation is available in the [README](https://github.com/adbharadwaj/graphspace-manual/blob/master/README.md) file.

[2017-04-12 09:26] #167 closed

[2017-04-13 13:19] jlaw9 commented on #255
Thanks @adbharadwaj!

[2017-04-13 13:42] jlaw9 commented on #257
Thanks Ted, this is mostly fixed, but doesn't work completely as expected.

If I set the filter to 100 and then save the layout as _layout1_, the filter is still applied if I reload the page. However, if I change the filter value to 200 and then re-select _layout1_, the filter remains at 200 and is not set back to 100.

This is not a big issue, but it seems like it could be improved.

[2017-04-13 13:44] jlaw9 commented on #188
This is not a problem in the new version of GraphSpace as the tabs and colors are different

[2017-04-13 13:44] #188 closed

[2017-04-13 13:50] jlaw9 opened #262 "Unable to save layout outside of "Layout Editor" mode"
If I change the filter, use a layout algorithm or move node positions around, I cannot save the layout unless I click on "Use Layout Editor." Even then, the only way to save a layout is to click on "Exit Layout Editor". I'm not sure why I didn't notice this earlier.

Can we add a save layout button to the main and Layout Editor modes to be able to save a layout from anywhere?

[2017-04-13 17:00] sandeepm96 commented on #251
I would like to work on this. I had a doubt. Will there be a separate API endpoint for this or will it be implemented in the /graphs endpoint itself?

[2017-04-14 02:24] adbharadwaj commented on #251
We plan to make a separate endpoint. Since the bulk upload will take a lot
of time (indexing will take a lot of time), we cannot make the users wait
till all the graphs have been added.

*Aditya Bharadwaj*
Graduate Research Assistant,
Department of Computer Science,
Virginia Tech
adb@vt.edu

On Thu, Apr 13, 2017 at 1:00 PM, Sandeep Mahapatra <notifications@github.com

[2017-04-14 08:22] sandeepm96 commented on #251
I read up on this [blog post](http://restlet.com/company/blog/2015/05/18/implementing-bulk-updates-within-restful-services/) that implementing separate endpoints will not be RESTful. We can also do it by having different content types or different action identifiers for the same post request. @adbharadwaj What should be our best approaach considering the above?

Also I read up about asynchronous p

[2017-04-23 22:54] adbharadwaj commented on #210
NDEX supports annotations using nodeAttributes, networkAttributes, edgeAttributes aspects. They must be using some kind of indexing engine like Lucene, ElasticSearch to provide searching capability on these attributes.

[2017-04-23 22:54] #210 closed

[2017-04-23 22:55] adbharadwaj commented on #236
This feature is working. It required a fix in SMTP server configuration. Hence no commit is attached to this pull request.

[2017-04-23 22:55] #236 closed

[2017-04-23 23:10] adbharadwaj commented on #257
@jlaw9 Thanks for testing out this scenario thoroughly. My personal opinion is that layout has nothing to do with filter functionality. When the user filters a graph and stores the layout. They are choosing to store the layout (style and position) not the filter value.

On the other hand, if we do not change the filter value with the layout, user might get confused. For example, they may see the m

[2017-04-23 23:21] adbharadwaj commented on #262
@jlaw9 Providing `save layout button` in multiple places might confuse a lot users. We want the users to use the layout editor as the only option to save layout. We want to separate the exploration mode (when a user explores the graph details) from editing mode (when  a user changes the graph visual styles).

You also raised a valid point about `Exit Layout Editor` button. I think we can add a `sa

[2017-04-23 23:28] adbharadwaj commented on #251
@sandeepm96 You are right that implementing separate endpoints will not be RESTful. This [blog post](http://farazdagi.com/blog/2014/rest-long-running-jobs/) points out the correct specification for the REST APIs. This solution will require a usage of a queueing system like [Kafka](https://kafka.apache.org/intro).  This might not be an ideal start for you learn about the GraphSpace ecosystem.

[2017-04-23 23:30] #250 closed

[2017-04-23 23:32] adbharadwaj commented on #229
Since graphs page has multiple tabs. It would be confusing to support pagination via query parameters. Hence this feature will not be fixed.

[2017-04-23 23:32] #229 closed

[2017-04-23 23:36] adbharadwaj commented on #196
This issue is not relevant anymore after the release of GraphSpace 2.0. Hence I am closing this issue. GraphSpace 2.0 supports all style properties defined by Cytoscape.js. Please refer to [graphspace network model documentation](http://manual.graphspace.org/en/latest/GraphSpace_Network_Model.html#stylesheet-json-format) for more details.

[2017-04-23 23:36] #196 closed

[2017-04-23 23:38] adbharadwaj commented on #195
This issue ceases to exist in GraphSpace 2.0.

[2017-04-23 23:38] #195 closed

[2017-04-23 23:40] adbharadwaj commented on #193
This issue is not relevant in GraphSpace 2.0

[2017-04-23 23:40] #193 closed

[2017-04-23 23:41] adbharadwaj commented on #187
The installation procedure has been streamlined in GraphSpace 2.0. Please refer to README.md for instructions on how to install GraphSpace.

[2017-04-23 23:41] #187 closed

[2017-04-23 23:43] adbharadwaj commented on #184
This issue is not relevant to GraphSpace 2.0. Please refer to the [documentation](http://manual.graphspace.org/en/latest/Interacting_with_Graphs.html#change-layout) to learn how to change layout in Graphspace 2.0.

[2017-04-23 23:43] #184 closed

[2017-04-23 23:45] adbharadwaj commented on #177
The javascript is organized by pages now. Each page has a separate js file and each page is divided into js modules.

[2017-04-23 23:45] #177 closed

[2017-04-23 23:46] adbharadwaj commented on #192
This is fixed. Now the user will get an error saying that the user has no access to the given resource.

[2017-04-23 23:46] #192 closed

[2017-04-23 23:47] adbharadwaj commented on #185
anonymous user is not allowed to create or upload a layout to GraphSpace. They can only upload a graph anonymously.

[2017-04-23 23:47] #185 closed

[2017-04-23 23:50] adbharadwaj commented on #179
This issue is not relevant in GraphSpace 2.0. graphspace_interface has been replaced by [graphspace_python](https://github.com/adbharadwaj/graphspace-python) library. Any issue related to the library should be reported on the graphspace-python project's issues list.

[2017-04-23 23:50] #179 closed

[2017-04-23 23:54] adbharadwaj commented on #173
This file has been replaced by [local.py](https://github.com/Murali-group/GraphSpace/blob/master/graphspace/settings/local.py). The local.py does not contain any sensitive production information. It is available for use in dev environment and as a template for production.py which is ignored from the github project and can never be added to the project.

[2017-04-23 23:54] #173 closed

[2017-04-23 23:57] adbharadwaj commented on #120
GraphSpace now allows substring search on tags. Please refer to the [docs](http://manual.graphspace.org/en/latest/Searching_Graphs.html) for further details.

[2017-04-23 23:57] #120 closed

[2017-04-24 00:09] adbharadwaj commented on #157
@xin30hp Ideally if a user wants to add multiple tags they should provide multiple tags for the graphs instead of providing a string separated by semi-colon. In GraphSpace 2.0, since semi-colon is a special character,"ErbB2;erbB2_receptor" will be split into multiple tokens. Therefore the search query will be equivalent to "tags:ErbB2" AND "tags:erbB2_receptor"

[2017-04-24 00:09] #157 closed

[2017-04-24 00:10] adbharadwaj commented on #165
This issue is not relevant to GraphSpace 2.0. There is no special search bar for tags anymore.

[2017-04-24 00:10] #165 closed

[2017-04-24 00:12] adbharadwaj commented on #160
Help page has been replaced by sphinx documentation. The documentation is managed on different project right now.

https://github.com/adbharadwaj/graphspace-manual

[2017-04-24 00:12] #160 closed

[2017-04-24 00:13] adbharadwaj commented on #150
This issue is fixed the documentation. http://manual.graphspace.org/en/latest/GraphSpace_Network_Model.html

[2017-04-24 00:13] #150 closed

[2017-04-24 00:14] adbharadwaj commented on #144
This issue has addressed in GraphSpace 2.0. GraphSpace now uses basic auth for token based auth now.

[2017-04-24 00:14] #144 closed

[2017-04-24 00:15] adbharadwaj commented on #132
I have added authentication checks to all CRUD operations in graphspace. This issue is solved in GraphSpace 2.0

[2017-04-24 00:15] #132 closed

[2017-04-24 00:17] adbharadwaj commented on #105
This issue doesnt seems to exist in GraphSpace 2.0.

[2017-04-24 00:17] #105 closed

[2017-04-24 00:23] adbharadwaj commented on #84
Users can now export [network stylesheet](http://manual.graphspace.org/en/latest/Interacting_with_Graphs.html#export) which is basically exportable layout of the graph. This layout stylesheet JSON file can be imported while uploading the graph or in the layout editor.

[2017-04-24 00:23] #84 closed

[2017-04-24 00:24] adbharadwaj commented on #85
This is not relevant in GraphSpace 2.0. The UI has changed completely.

[2017-04-24 00:24] #85 closed

[2017-04-24 00:25] adbharadwaj commented on #79
The highlight color has been changed. Details are available [here](http://manual.graphspace.org/en/latest/Viewing_Graphs.html#highlighted-graph-elements).

[2017-04-24 00:25] #79 closed

[2017-04-24 00:30] adbharadwaj commented on #103
If a user searches for `BAMBI::LRP6,LRP5`. GraphSpace will search for edge between BAMBI and LRP6 and a node LRP5. Since comma is a special token in our search semantics. This scenario is unavoidable.

[2017-04-24 00:30] #103 closed

[2017-04-24 00:44] adbharadwaj commented on #43
We would want to track the programmatic requests to GraphSpace server. Consider this situation, let's say a user starts downloading a lot of data from GraphSpace server and causes DoS. In such a scenario our easiest defense would be to deny further requests to that user which will impossible if we cannot track the users account back.

Plus this would discourage the users from signing up.

[2017-04-24 00:45] adbharadwaj commented on #43
I am closing this issue with a wontfix label so that we revisit the request later.

[2017-04-24 00:45] #43 closed

[2017-04-24 00:46] adbharadwaj commented on #37
This issue is fixed in GraphSpace 2.0. Refer to http://manual.graphspace.org/en/latest/Searching_Graphs.html

[2017-04-24 00:46] #37 closed

[2017-04-24 00:48] adbharadwaj commented on #38
This might be a useful feature. We can send an email to a user with signup link if the user has no account on GraphSpace else we can add the GraphSpace user to the group.

[2017-04-24 00:49] adbharadwaj commented on #36
Edges can be selected to view pop up information or edit style in the layout editor.
Refer to
- http://manual.graphspace.org/en/latest/Viewing_Graphs.html#node-and-edge-popups
- http://manual.graphspace.org/en/latest/Editing_Layouts.html#edit-selected-edges

[2017-04-24 00:49] #36 closed

[2017-04-24 00:57] adbharadwaj commented on #104
- Burger icon is the standard icon for mobile interfaces. Using any other icon will be against the rules of consistency in UX design.
- However, we have added buttons and hyperlinks to the home screen to provide ample visual cues to GraphSpace features.

![image](https://cloud.githubusercontent.com/assets/3481095/25319038/18045a3e-2867-11e7-86fe-21e4f5ca21d1.png)

[2017-04-24 00:57] #104 closed

[2017-04-24 01:07] adbharadwaj opened #264 "Notification system for GraphSpace"
Here is the updated description of the project for GSoC 2017:

## Background

[GraphSpace](http://graphspace.org/) is an easy-to-use web-based platform collaborating research groups can use for storing, interacting with, and sharing networks. A GraphSpace user can upload graphs through a REST API, import graphs created in Cytoscape, interact with graphs (view them, customize layouts, and save layo

[2017-04-24 01:08] adbharadwaj commented on #164
Closing this issue. This is similar to #264

[2017-04-24 01:08] #164 closed

[2017-04-24 01:12] adbharadwaj commented on #77
This issue will be resolved by allowing users to edit existing layouts #226

[2017-04-24 01:12] #77 closed

[2017-04-24 01:14] #133 closed

[2017-04-24 13:56] tmmurali commented on #236
@adbharadwaj Have you documented how to set up the SMTP server in the installation instructions? If not, please add this information.

[2017-04-30 18:21] sandeepm96 commented on #222
@adbharadwaj Could you provide some more details as in what technique we would be using to generate auth token that is to be provided to the user?

[2017-05-02 03:35] adbharadwaj commented on #222
We use basic authentication to generate auth token right now.

*Aditya Bharadwaj*
Graduate Research Assistant,
Department of Computer Science,
Virginia Tech
adb@vt.edu

On Sun, Apr 30, 2017 at 2:21 PM, Sandeep Mahapatra <notifications@github.com

[2017-05-02 08:16] sandeepm96 commented on #222
To provide the auth token on API documentation page, we need to make changes to the docs in the [graphspace-manual](https://github.com/adbharadwaj/graphspace-manual) repository. We can get the username and password from the user and generate the auth token by base64 encoding. But how will we ensure that the user credentials are correct or the user is signed up for graphspace or not?

[2017-05-03 00:53] adbharadwaj commented on #222
What we want to do is create a user page. This page will provide users details like
- Email
- Auth Token
- Name (probably in future)

This will require following tasks:
- Create a HTML page for showing user details.
- Add a url route to this page.
- Add a view function to handle the new route, get the user object and render the new html page.
- Update the controller function which returns user obj

[2017-05-18 23:26] melvin15may opened #267 "Improve documentation for "Running GraphSpace locally""
I get the following error on Step 6: Finally, start the GraphSpace server: `python manage.py runserver --settings=graphspace.settings.local`

  File "manage.py", line 10, in <module>
    execute_from_command_line(sys.argv)
  File "/home/melvin/Documents/GSoC/doc_graph/GraphSpace/venv/local/lib/python2.7/site-packages/Django-1.9.7-py2.7.egg/django/core/management/__init__.py", line 353, in execute_

[2017-05-26 14:41] adbharadwaj opened #270 "Write up a tutorial on how to use GraphSpace RESTful APIs."
@sandeepm96

- Introduction to GraphSpace REST APIs.
- Introduction to Postman and installation steps.
- Explain how to use Postman for `/graphs` endpoint for GET, POST, PUT.
- Find out how to export a Postman collection and share with public. Are there security concerns for sharing a postman collection?

[2017-06-01 17:42] melvin15may opened #272 "Implement continuous integration"
Plugin continuous integration tools like Travis CI or Circle CI, to test code before merging changes to develop or master branch.

[2017-06-08 01:53] adbharadwaj commented on #272
I have asked Sandeep to write a tutorial on how to used CI plug-ins like
Travis in a python project. We will follow that to setup Travis CI for
Graphspace.

Thanks for creating this issue.

On Jun 1, 2017 11:12 PM, "Melvin Mathew" <notifications@github.com> wrote:

[2017-06-13 18:39] jlaw9 opened #274 "Slow Update Graph"
Posting a small graph (~100 nodes, ~300 edges) takes only a few seconds. But to update a small graph that is already posted, it takes about 30 seconds.

Is there a way to speed up the update process?

[2017-06-14 14:07] jlaw9 opened #275 "Slow showing "My Graphs" page"
I have ~3,000 graphs and it currently takes about 8 seconds to load the [http://graphspace.org/graphs/#owned_graphs](http://graphspace.org/graphs/#owned_graphs) page. What is making the process so slow?

Can this be sped up by showing the first X rows and then showing the rest of the graphs?

[2017-06-14 14:55] jlaw9 opened #276 "Move set default layout button to the layouts tab"
Currently to set a layout as default, you have to share the graph, then share the layout, then go to the graph vizualization page, then refresh, then click the "set as default layout" button.

It would be more intuitive and quicker if the "set as default" option were on the layouts tab instead.

[2017-06-14 20:11] tmmurali opened #277 "View name of the group with which a graph is shared"
If a graph is shared with a group, there seems to be no away to find that group easily from the page for the graph. It will be useful to add the name(s) of the group(s) to the "Graph Information" or to the area above the tabs that list the owner, graph id, and tags.

[2017-06-15 19:36] jlaw9 opened #278 "Share through the API"
Sharing a graph with a group is an important functionality currently missing in the API.

It would also be nice if we could share layouts and set a layout as default through the API.

[2017-06-16 17:17] jlaw9 opened #279 "Search for nodes and edges not working on private graphs"
The search for nodes and edges bar (on the graph visualization page) is not doing anything no matter what I try. Seems to be broken.

[2017-06-18 03:15] tmmurali commented on #279
@jlaw9 I do not have a problem whether I am logged in or not. Does it
happen only to graphs you own, graphs shared with you, public graphs, or
all of them?

On Fri, Jun 16, 2017 at 1:17 PM, Jeff Law <notifications@github.com> wrote:

[2017-06-20 14:52] sandeepm96 opened #280 "Add new group API not working"
The endpoint for creating a new group of the REST API is not working. Even if a proper JSON body is provided with valid owner_email field, it throws error.

Request body:
![body](https://user-images.githubusercontent.com/15105247/27339624-eb1618ac-55f5-11e7-99d7-d411698ccdfa.png)

Response:
![response](https://user-images.githubusercontent.com/15105247/27339664-ff501732-55f5-11e7-849a-7029852945a2

[2017-06-20 16:24] sandeepm96 commented on #280
Closing this issue since it turns out that the API endpoint for group creation needs `Content-Type` to be `x-www-form-urlencoded` rather than raw json data.

Request body:
![body](https://user-images.githubusercontent.com/15105247/27344123-e3185338-5602-11e7-9f01-edba0bdfa3e6.png)

Response:
![response](https://user-images.githubusercontent.com/15105247/27344132-eb0a1f0e-5602-11e7-99f1-dc6f4865411

[2017-06-20 16:24] #280 closed

[2017-06-20 17:05] jlaw9 commented on #279
@tmmurali The search is working on public graphs, but not on private graphs that I own.

[2017-06-22 15:13] tmmurali commented on #280
Should the error message indicate that the Content-Type is incorrect?

Moreover, the error_details point to the wrong docs location. Visiting this
site gives an error.

On Tue, Jun 20, 2017 at 12:24 PM, Sandeep Mahapatra <
notifications@github.com> wrote:

[2017-06-22 15:33] sandeepm96 commented on #280
Yes. It would be better if the error message indicates that the content received on the backend is empty and a change in Content-Type might be needed, so that the user can understand that the content is not being sent properly and hence can change Content-Type.

There is no documentation of the GraphSpace API errors. A part of my project involves documenting them and after that we can provide the

[2017-06-27 15:10] adbharadwaj commented on #279
Can you send me the url of the graph and the search query you were trying ?

[2017-06-27 16:51] jlaw9 opened #281 "Zoom too fast"
While viewing a graph, it is useful to be able to zoom in or out with the scroll bar. However, currently the zoom happens much too quickly, especially while on a laptop. With just a quick little scroll to zoom out, the user is sent far away from the graph. I think if we divided the current zoom speed by half it would be much better. I attached a screenshot, but I think you get the idea.

![image](

[2017-06-29 17:52] antonwats commented on #267
Having a similar issue:

WARNINGS:
?: (1_8.W001) The standalone TEMPLATE_* settings were deprecated in Django 1.8 and the TEMPLATES dictionary takes precedence. You must put the values of the foll.
Traceback (most recent call last):
  File "manage.py", line 10, in <module>
    execute_from_command_line(sys.argv)
  File "/home/yurelw/Coding/summer_project/GraphSpace/venv/lib/python2.7/site-packages

[2017-06-29 18:32] melvin15may commented on #267
@antonwats Double check the postgres username and password.

[2017-06-29 20:18] antonwats commented on #267
Ah thank you, do you know where would I go to find where that is or what it is set to?

[2017-06-29 20:48] melvin15may commented on #267
You can update the credentials in the `/graphspace/settings/local.py` file. Look for `DATABASES` variable.

[2017-06-29 21:54] antonwats commented on #267
Okay, I actually messed around with this file earlier, though I'm not completely sure what it should be set to. First the username was 'adb' but I set it to my own thinking that it would then work with my own postgres installation, but that doesn't seem to be the case. Should I be editing my postgres installation instead?

[2017-06-29 22:14] melvin15may commented on #267
You can follow the steps given [here](https://www.digitalocean.com/community/tutorials/how-to-install-and-use-postgresql-on-ubuntu-16-04) and create a new role and give permission to that role to access the database (one you use with graphspace).

[2017-07-05 18:46] mitchwagner opened #283 "PostgreSQL Integrity Error"
I got this error sharing what I think was the first graph created on a new database. Not sure what exactly went wrong, or if it was an issue, but an error popped up in red.

(psycopg2.IntegrityError) duplicate key value violates unique constraint "group_to_graph_pkey" DETAIL: Key (graph_id, group_id)=(1, 1) already exists. [SQL: 'INSERT INTO group_to_graph (graph_id, group_id) VALUES (%(graph_id)s

[2017-07-05 18:53] mitchwagner commented on #283
So, I was able to get a similar error when creating a group. I believe it may be caused by clicking a button more than once, and having the action complete the first time while rejecting the action the second time. In other words, various buttons need to be disabled when clicked.

[2017-07-06 14:31] adbharadwaj commented on #283
You identified it correctly. I agree we need to disable the submit button
once the form has been submitted.

*Aditya Bharadwaj*
Graduate Research Assistant,
Department of Computer Science,
Virginia Tech
adb@vt.edu

On Wed, Jul 5, 2017 at 2:53 PM, mitchwagner <notifications@github.com>
wrote:

[2017-07-11 18:22] rishabhsethi opened #284 ""Last Modified" time stamp for a graph not updated on graph update"
On updating the graph through the Rest API, the time stamp remains the same as the creation of the graph.

[2017-07-14 19:18] jlaw9 opened #285 "Update layout editor tools to work correctly with compound nodes"
Parent/compound nodes should not be selected when selecting ellipses or the color of the parent node using layout editor tools (see screenshots below). Parent nodes are stored as 'ellipses', so it makes sense why they are selected. They are automatically positioned and sized so that all of the children are inside of them. However, the parent nodes make the layout editor tools behave badly when sel

[2017-07-14 19:28] jlaw9 opened #286 "Delay for selecting node after editing a node's style"
Currently after you edit a node's style in the layout editor tool, there is a delay for selecting nodes (even after exiting the layout editor). For [this graph](http://graphspace.org/graphs/21923?user_layout=1205#), the delay was 3 seconds. Refreshing fixes the delay.

[2017-07-14 19:39] jlaw9 opened #287 "Add cola and other automatic cytoscape js layouts to GraphSpace"
One of the difficulties for implementing cola and other layouts in GraphSpace is the fact that they do not work very well for complex graphs. I was able to get a good looking result for one of my complex graphs using cola with parent/compound nodes (see screenshot below). It would be great if if I could set cola as the default layout for my graphs on GraphSpace!

![image](https://user-images.githu

[2017-07-17 18:38] tmmurali opened #288 "Some "Last modified" values show times in the future"
I have noticed this issue for public graphs uploaded from another time zone, e.g., for graphs uploaded on Jul 17, 2017. The last modified column says "In 3 hours" or "In 4 hours". Could this be an issue related to time zone calculations?

[2017-07-20 13:12] jlaw9 opened #289 "Add functionality for default layout and settings"
In the metadata of an uploaded JSON file, we currently store the graph 'description', 'title', 'tags'. I propose we also allow storing a 'default_layout' option which can be set to any of the available layouts (such as 'cola' or 'spring_embedder'). We would also then need a 'layout_options' dictionary which would store the options the user wants set for the specified layout.

This also leads to an

[2017-07-20 14:38] jlaw9 opened #290 "Store only x and y corrd. of nodes for layout"
Currently when you save a layout, the entire style JSON file is stored. This is presumably because the layout editor now supports changing node and edge styles instead of just moving nodes around. This has an unwanted side-effect of losing your layout when you update the graph through the REST API (the layout still exists, but if you select the layout, the updates you made to the style JSON are no

[2017-07-24 13:59] jlaw9 opened #291 "Set dark background color"
This is currently a problem because nodes with a white background are not visible (see this [example](http://graphspace.org/graphs/22413))

Looks like the cytoscape style JSON only sets the styles of nodes and edges. The [tokyo-railways example](https://github.com/cytoscape/cytoscape.js/tree/master/documentation/demos/tokyo-railways) sets the background color on line 15 of [style.css](https://gith

[2017-07-25 18:18] jlaw9 opened #292 "Allow users to create their own filters"
Often users would like to be able to filter or show results based on different threshold values or settings in their data (such as an edge weight filter). Currently GraphSpace supports a `k` or rank filter. Ideally, each user would be able to set their own filters based on their data.

Here's my idea:
Add a 'filters' array in the JSON object to upload which stores a map for each filter. Each filte

[2017-07-28 09:49] jlaw9 opened #293 "Layout overwrites 'font-size' node attribute"
Looking in the style JSON file after the layout is saved, the 'font-size' attribute is set to '16px' for all nodes, overwritting the 'font-size' of 24 I have set for some nodes.

Before saving layout (Sources 'font-size' is 24):
![image](https://user-images.githubusercontent.com/7592559/28712141-ff171d68-7357-11e7-9c7f-b8cc00e9c958.png)

After saving layout (Sources 'font-size' is 16):
![image](ht

[2017-07-29 14:08] sandeepm96 opened #294 "REST APIs providing error response on local server"
I am getting an error whenever I try to access any REST API endpoint of GraphSpace on local server.

The error description in the response goes like this:
ConnectionError(<urllib3.connection.HTTPConnection object at 0x7f8b9c323950>: Failed to establish a new connection: [Errno 111] Connection refused) caused by: NewConnectionError(<urllib3.connection.HTTPConnection object at 0x7f8b9c323950>: Faile

[2017-07-29 14:09] sandeepm96 commented on #294
It was because Elastic Search was not installed. You can follow the setup instructions [here](https://github.com/Murali-group/GraphSpace/wiki/Steps-for-setting-up-ElasticSearch-on-AWS).

[2017-07-29 14:10] #294 closed

[2017-07-31 12:44] jlaw9 opened #295 "Z-index not supported"
When I upload a CYJS and an accompanying style JSON file, the "z-compound-depth" and "z-index-compare" attributes do not seem to be stored or used for drawing the graph. When I download the style JSON file (after uploading), the "z-compound-depth" and "z-index-compare" attributes I had set are gone.

I'm trying to set the parent nodes to draw on top of edges so the text can be seen.
![28386139-9fe

[2017-07-31 19:10] adbharadwaj commented on #295
Do you know which version of cytoscape js are you using ?

On Jul 31, 2017 8:44 AM, "Jeff Law" <notifications@github.com> wrote:

[2017-07-31 19:38] jlaw9 commented on #275
Changing the # of rows to show to 100 instead of 10 makes the process much slower (~45 seconds)

[2017-08-01 18:15] mitchwagner opened #297 "Registration asks for an email address but does not validate the field properly"
Currently, we ask users for an "email" when they sign up, but if you check the code, it really doesn't have to be an email.

Also (it has been a bit since I checked), the validation either allows the email to be too big, or forces it to be too short (I cannot remember which).

Proper email requirements can be found on Wikipedia, though Django or some JavaScript library should probably be used for

[2017-08-01 18:32] mitchwagner commented on #291
I agree, I think it would be better from a user perspective to have the option to set it permanently. But, do we want to modify/add non-standard options to the cytoscape style JSON format we use?

Are we already doing that, or would this make us incompatible? Would adding such an option complicate export from GraphSpace?

[2017-08-01 18:38] mitchwagner opened #298 ""Forgot password" does not work"
This should be a top priority. Without this, users unable to log in are at risk of never returning to the site.

[2017-08-02 02:31] tmmurali commented on #298
@mitchwagner Please provide more details, including what happens (or does not) when you use the "Forgot password" link.

[2017-08-02 11:55] jlaw9 commented on #278
Fixed by PR #282

[2017-08-02 12:10] jlaw9 commented on #293
This is due to the current implementation of the 'Show node labels' option, which sets the font-size to 0 to 'remove' the labels, and then sets it back to 16 to 'show' the labels.

This option should be setting cy element's option 'hideLabelsOnViewport' to true/false rather than changing the font-size of the labels.

[2017-08-02 13:11] mitchwagner commented on #298
The page currently appears as follows:

![page](https://user-images.githubusercontent.com/5316207/28875054-2f138f34-7762-11e7-9e67-bfe9894ce37b.png)

Upon entering one's email and clicking the "send email" button, the user is taken to this page:

![error2](https://user-images.githubusercontent.com/5316207/28875056-3270d9ca-7762-11e7-87ff-b9edc5555ea7.png)

To my understanding, this has been the st

[2017-08-02 13:49] jlaw9 commented on #293
Nevermind, I misunderstood that option. It only hides labels when nodes are being selected.

Seems like the best option is to store the font-sizes so they can be reset to the original value instead of to 16

[2017-08-02 14:03] jlaw9 commented on #298
I was able to reset my password just find using my email username. I was also able to re-create this issue by putting a non-email in the email field (such as 't').

This issue seems to be a result the fact that we do not require an email as a username (issue #297)

[2017-08-02 15:12] mitchwagner commented on #298
I stand corrected. I was operating under the assumption that I had created an account on GraphSpace.org with the email I used, but it must have been the test server.

What this indicates then is that GraphSpace displays what appears to be an error to the user if they enter in an email that is not stored with the system. So, in addition to #297, it might be better to display a "user not found" mess

[2017-08-03 17:24] YoonjinTKim commented on #293
Check out pull request #299

[2017-08-04 16:19] mitchwagner commented on #297
Note: this issue also affects the "Forgot Password" page, as the maximum length of that form's username/email input seems to be 32 characters. However, the local part of an email can be up to 64 characters (see Wikipedia link above), and the entire email can be up to 254 characters long.

[2017-08-04 17:03] adbharadwaj opened #301 "Shared layouts not showing up on the graph page for public graph."

[2017-08-04 17:05] adbharadwaj commented on #301
Since we were not loading the layouts table. The JS callback which populated the layout option in the change layout menu was called.

Solution: Load the layouts table without showing it to the logged off user.

[2017-08-04 17:06] #301 closed

[2017-08-04 17:12] adbharadwaj commented on #295
This issue is happening because we are using cytoscape.js version 2.7 whereas properties like `z-compound-depth` are supported by version 3.3 onwards. I tried updating our version to the latest version. But it leads to incompatibility issues with a lot other cytoscape.js extension.  Additionally, latest versions do not support event attribute called cyTarget which has led to issues with our popup

[2017-08-04 19:01] mitchwagner commented on #175
Can we close this issue? Searching out repository for django.conf.urls shows only seven documents, and none of them seem to involve the outdated patterns module.

Similarly, searching for "pattern" yields no results. The server no longer generates this error on startup.

[2017-08-04 19:23] mitchwagner commented on #257
@adbharadwaj Could you elaborate on your concern about user confusion? Where would they see the maximum rank, other than the slider for rank, such that they would not be able to see a node with that rank?

Or, are you worried that when creating a layout, a user might not be able to see all the nodes if they don't have the rank selector at its highest value? This might be a problem, and perhaps we

[2017-08-04 19:27] mitchwagner opened #304 "URL Option to Show Rank"
It would be useful if GraphSpace supported a URL option, something of the form ?r=_n_, where _n_ is the rank you want to visualize. This would allow distribution of, essentially, multiple views on the same graph.

Such a feature would also necessitate a way for the user to obtain the URL. For example, a button beneath the rank slider.

Inspired by #257

[2017-08-04 19:38] mitchwagner opened #305 "Force Layout Editor to Show Graph at Highest Rank"
The layout editor presently will manipulate nodes outside of a current rank during editing. For example, the following is a possible workflow:

1. User views graph of blue and green nodes at rank 5, and sees 2 nodes of each color.
2. User select blue and green nodes and manipulates them into a square using a layout button, and notices some empty spaces in the square.
3. User exits the layout edito

[2017-08-04 20:23] mitchwagner opened #306 "HTTPS"
GraphSpace should support HTTPS.

[2017-08-04 20:47] mitchwagner commented on #116
Seems this has been fixed in the most recent version of GraphSpace.

[2017-08-04 23:15] jlaw9 commented on #305
Another perspective is a user posts that 1000 paths, and then only wants to layout the top 50. In that case, it would be much better to be able to use the automated layouts and layout editor on only the visible nodes.

[2017-08-04 23:23] jlaw9 opened #307 "Set cose or cola as default layout instead of random"
We have some pretty good automated layouts like cose (spring embedder) and cola available. If there are no x and y node positions provided, why not use one of those as default instead of random? Then you can open your newly posted graph to at least a somewhat friendly/interpretable view :)

[2017-08-05 01:38] mitchwagner commented on #305
@jlaw9 that is a very  good point, but this is still complicated by the fact that the layout manager currently takes those unseen nodes into account and will leave holes in the square or circles it creates, which limits this functionality.

I can post images as examples soon.

[2017-08-05 03:27] jlaw9 commented on #305
@mitchwagner yes you're right. Forcing the layout editor to show all of the nodes and edges is better than the current functionality, but my preferred solution is to fix the layout manager so that the hidden nodes are not included in layout. If we removed the filtered nodes and edges instead of hiding them, the layout manager would operate correctly. That would require that we store two copies of

[2017-08-07 14:22] jlaw9 opened #308 "Add tools to select edges by color and/or arrowhead/style to the layout editor"
This will allow users to modify the style of all edges of a certain color and/or arrowhead (and maybe edge style) directly on GraphSpace

[2017-08-07 14:44] jlaw9 opened #309 "Add more style editor tools to edit selected nodes and edges"
Ideally we would be able to edit any of the styles cytoscape js supports.

The more common styles we edit that would be nice to have tools for are:
- [ ] border color/style/size
- [ ] opacity
- [ ] text border color/width

[2017-08-08 01:13] jlaw9 commented on #290
I figured out a simple work-around for the tutorial to keep node positions after updating a graph. Here's the code I used:

[code]

[2017-08-08 19:41] Chaosye opened #310 "Previously saved layouts override current node color settings."
Hey there!

I'm one of Anna Ritz's students over at Reed College, and I've run into a bug when overwriting old graphs with new ones with different color assignments.

I have a layout saved from a previous version of the graph, which had different coloration from the new graph.  When applying the saved layout to the new version, however, it resets the coloration that previous version.

Between both

[2017-08-08 22:28] adbharadwaj commented on #310
Hi,
I couldn't really understand the query. But it would be helpful if you could answer the following queries?

1. What kind of output were you expecting?
2. What did the previously saved layout do?
3. Do you mean to say that layout overrides current node shape settings?

[2017-08-11 19:34] jlaw9 commented on #310
I think this is related to issue #290. @Chaosye currently layouts store not only the x and y positions, but also all of the style attributes for nodes and edges. So if you make an update to the graph after creating a layout, the layout will still have the old styles and such. In that issue, I suggest a workaround to set the x and y positions of the old layout to the updated graph.

[2017-08-11 19:41] jlaw9 opened #311 "Build graph descriptions and node/edge pop-ups from JSON instead of HTML"
Here's my idea for node and edge pop-ups:

The most common features I put in node and edge popups are:
1. external links

[2017-08-11 19:50] Chaosye commented on #310
I think @jlaw9 is right - it's a really similar issue to #290, just that the style attributes are for colors in this case.  Thanks for the link to that thread!

[2017-08-14 15:43] jlaw9 opened #312 "Add interactive edge bend editing"
The [edge-bend-editing extension](https://github.com/iVis-at-Bilkent/cytoscape.js-edge-bend-editing) from the iVis group at Bilkent seems like it would work for us.

Looks like they have some other potentially useful libraries
- [Node resize tools](https://github.com/iVis-at-Bilkent/cytoscape.js-node-resize)
- [Export to/from GraphML](https://github.com/iVis-at-Bilkent/cytoscape.js-graphml)

[2017-08-16 21:17] jlaw9 opened #316 "Give users more control of group membership"
I have a growing list of groups of which I am a member. It would be nice if I could remove myself from some old groups I didn't create.

If I click the remove button for a group owned by another user, I get this error:
[code]

Here are some more ideas:
1. When a user is added to a group, send user an email/give a notification with an invitation to join a group. They have to click the link/notifica

[2017-08-16 22:06] #116 closed

[2017-08-17 15:12] jlaw9 opened #317 "Modify graph metadata using UI"
The main missing UI features to modify graph metadata are:
- [ ] Modify graph title
- [ ] Add/remove tags
- [ ] Modify Graph Information / Legend

[2017-08-17 15:16] jlaw9 commented on #311
When we plan on implementing something like this, we should keep in mind that it would be nice to be able to view these attributes on the node/table tabs and to search/select/filter based on node/edge attributes. Not sure how we could incorporate this.

[2017-08-18 14:50] #288 closed

[2017-08-18 16:27] jlaw9 opened #319 "Add versioning / provenance tool/tab for graphs"
We should track every update made to a graph
- initial post
- update to graph
- update to metadata
- layout added(?)

[2017-08-18 16:48] jlaw9 opened #320 "Graph title limit too small"
The UI has a limit for the graph title when uploading a graph while the REST API seemingly does not. The database, UI and REST API should all have the same limit.

[2017-08-18 16:48] adbharadwaj commented on #307
Similar to #289. Closing this issue.

[2017-08-18 16:50] #284 closed

[2017-08-18 16:51] adbharadwaj commented on #283
- We need to disable buttons on submit
- Improve the error messages

[2017-08-18 16:51] #278 closed

[2017-08-18 16:57] adbharadwaj commented on #270
@sandeepm96 can you add links to the tutorial here ?

[2017-08-18 16:59] #262 closed

[2017-08-18 17:10] jlaw9 commented on #127
Duplicate of #257

[2017-08-18 17:10] #127 closed

[2017-08-18 17:11] adbharadwaj commented on #115
Closing this issue since it has been made clear in latest documentation.

http://manual.graphspace.org/en/latest/GraphSpace_Network_Model.html?highlight=title#graph-data-attributes-attributes-treated-specially-by-graphspace

[2017-08-18 17:11] #115 closed

[2017-08-18 17:18] #38 closed

[2017-08-18 17:53] sandeepm96 commented on #270
Here is the link for the tutorial of using GraphSpace REST API: [https://summerofcode17.wordpress.com/2017/05/30/using-the-graphspace-restful-api/](https://summerofcode17.wordpress.com/2017/05/30/using-the-graphspace-restful-api/)

[2017-08-18 17:55] sandeepm96 commented on #272
I have implemented Travis CI for the `graphspace-python` library repo. The setup steps for the same have been documented by me in this blog post: [https://summerofcode17.wordpress.com/2017/07/30/integrating-travis-ci-with-your-github-project/](https://summerofcode17.wordpress.com/2017/07/30/integrating-travis-ci-with-your-github-project/ )

[2017-08-18 17:58] jlaw9 opened #321 "View node and edge attributes in tables"
I'm thinking of having something similar to Cytoscape where you can see node and edge attributes in a table form. It would be nice to be able to view these attributes on the node/edge table tabs and to search/select/filter based on node/edge attributes. Not sure how we could incorporate this.

[2017-08-18 18:23] jlaw9 commented on #307
@adbharadwaj this issue is different because I'm suggesting to change the default layout for GraphSpace internally rather than have the user set it. I don't know of any other graph viewing tool/website that uses random positions as the default.

[2017-08-18 20:57] tmmurali commented on #115
Looks like some of the pages linked from this part of the documentation do
not exist yet. I visited
http://manual.graphspace.org/Viewing_Graphs.html#graph-visualization-tab
for example.

On Fri, Aug 18, 2017 at 1:11 PM, Aditya Bharadwaj <notifications@github.com>
wrote:

[2017-08-18 20:59] tmmurali commented on #270
The tutorial looks very good. Once it is finalised (if it is not yet
completed), can we move it to some location on manual.graphspace.org?

On Fri, Aug 18, 2017 at 1:53 PM, Sandeep Mahapatra <notifications@github.com

[2017-08-21 19:41] jlaw9 commented on #287
It would also be great to add the automatic layout algorithms we're implementing for flud as a button in GraphSpace.

[2017-08-22 00:38] tmmurali commented on #287
In principle, the idea is very good. Let us wait till the Flud algorithms
become a bit more mature, support laying out nodes using both x- and
y-coordinates, and we have tested them throughly on a wide variety of
networks.

On Mon, Aug 21, 2017 at 3:41 PM, Jeff Law <notifications@github.com> wrote:

[2017-08-22 14:45] adbharadwaj commented on #295
This issue requires some investigation into what changes are required to make this update.

[2017-08-22 15:34] jlaw9 commented on #275
Fixed! Thanks @adbharadwaj

[2017-08-22 15:34] #275 closed

[2017-08-22 15:47] jlaw9 opened #322 "Bulk edit, remove, and share graphs in the UI"
Currently there is no way to remove or share more than one graph at once in the UI. It would be great to be able to select multiple graphs and then operate on them in the following ways:
  - sharing/unsharing them with a group
  - modifying their tags
  - removing them

[2017-08-22 20:49] adbharadwaj opened #323 "Disable buttons on submit"

[2017-12-03 00:51] AkshayGoelTech opened #328 "Speeding up queries progress report"

[2017-12-03 00:51] AkshayGoelTech commented on #328
--In Progress--

[2017-12-07 22:21] AkshayGoelTech opened #331 "Speeding up 'Shared Graphs'"
## Documentation In Progress

[2017-12-13 19:05] #281 closed

[2017-12-19 01:15] adbharadwaj opened #332 "Add a `getting started` documentation for RESTful APIs"
Migrate documentation from the following blog by @sandeepm96  to GraphSpace documentation.

Blog Link: https://summerofcode17.wordpress.com/2017/05/30/using-the-graphspace-restful-api/

Aim of the documentation is to introduce developers to GraphSpace APIs and explain how to start using our APIs.

[2018-01-14 18:21] bruce-wayne99 opened #333 "Error on trying to start the GraphSpace server"
When I am trying to start the GraphSpace server **sqlalchemy.exc.ProgrammingError** occurred.
Please Help.
Screen shots of the error:
![hosting_error](https://user-images.githubusercontent.com/25129274/34919374-c11d2162-f988-11e7-9cd8-28b1ec58dbf5.png)
![hosting_error2](https://user-images.githubusercontent.com/25129274/34919378-d5f80a34-f988-11e7-86de-3f7ac86d2696.png)

[2018-01-15 15:30] jlaw9 commented on #333
I also get this error when setting up the GraphSpace server locally.  Try running this psql command to to setup the extension, where `username` should be whatever username you setup the database with (in `graphspace/settings/local.py`)
[code]
Then if you get the error `sqlalchemy data type character varying has no default operator class for access method "gin"`, like I did, the suggestion from [he

[2018-01-15 17:34] bruce-wayne99 commented on #333
@jlaw9 Thanks for the help!! :)

[2018-01-15 17:44] tmmurali commented on #333
@adbharadwaj @jlaw9 Shouldn't these commands be part of the installation instructions? Can an install script run these commands automatically?

[2018-01-17 20:59] bruce-wayne99 commented on #317
I would like to work on this issue.

[2018-01-18 03:58] tmmurali commented on #317
@jlaw9 @adbharadwaj Can you help @bruce-wayne99 to get started on fixing this issue?

Thanks for the offer, @bruce-wayne99. We welcome new contributors!

[2018-01-18 19:33] adbharadwaj commented on #317
@bruce-wayne99,  Thanks for offering to work on this issue.

### Step 1
You can find detailed documentation on how the graph information, tags, title, and legend is populated using the following link.

[Graph Data Attributes Attributes Treated Specially by GraphSpace](http://manual.graphspace.org/en/latest/GraphSpace_Network_Model.html#graph-data-attributes-attributes-treated-specially-by-graphspa

[2018-01-18 19:48] #333 closed

[2018-01-18 20:34] HitRam opened #334 "Label not shown after changing some attributes"
If I untick the show node labels option in layout editor and then make some changes (for eg changing the color of node) and then select the show node labels, labels are not shown.

Here is an image for the issue.

<img width="1279" alt="screen shot 2018-01-19 at 1 56 20 am" src="https://user-images.githubusercontent.com/19632768/35120060-eb523abc-fcbc-11e7-95ac-36cb26fe5dd7.png">

[2018-01-19 16:06] bruce-wayne99 commented on #317
@adbharadwaj I actually thought of adding buttons like 'Edit name', 'Add Tag', 'Remove Tag', 'Edit description' in the graph table. As shown in the figure below.
![present-UI](https://user-images.githubusercontent.com/25129274/35159587-ad0c3ce0-fd60-11e7-9c7c-d140db5143a6.png)
 Correct me if there is a better way to provide UI to modify graph meta data.

[2018-01-19 16:15] tmmurali commented on #317
@bruce-wayne99 In principle, this UI is good but a challenge is that as we expand the list of items we want to be editable the number of buttons increases.

Another option to consider is show an "Edit" icon (usually looks like a pen). Upon clicking this icon, either (i) a new page opens up that allows editing of all metadata associated with the graph or
(ii) the appropriate columns in the table be

[2018-01-22 12:23] bruce-wayne99 commented on #317
@tmmurali So, Iam thinking of implementing an **Edit** icon for each graph and on clicking the Edit option a new modal opens up just like the way for  **Remove** where for each meta data field an input tag can be specified where he can enter new values for the data and clicking the submit button triggers an AJAX request.
Suggest me if this could be done in a better way.

[2018-01-22 20:31] HitRam opened #335 "Unable to setup graphspace locally"
I have successfully installed graphspace but when I run it locally it shows -
"Oops, something went wrong! The GraphSpace administrators have been notified. Sorry for the inconvenience!"

and I get a warning on terminal -
<img width="1280" alt="screen shot 2018-01-23 at 1 59 32 am" src="https://user-images.githubusercontent.com/19632768/35242990-590007ac-ffe1-11e7-8e97-bcf6d91fc5d7.png">

I am usi

[2018-01-23 22:11] adbharadwaj commented on #335
It seems to be a server-side error. Can you tell me what is the error message on server-side? You can use debugging tools to debug the response from the server.

[2018-01-23 22:18] adbharadwaj commented on #317
I like what @tmmurali  suggested in option (i).

Another option would be to create a new page for editing and that means you will have to add a new url-route. I would rather create a client-side util on the graph page.

So instead of editing from the graphs list page, users should be editing on the page for a given graph. Something like edit description feature in GitHub.

![Edit description](http

[2018-01-23 22:25] adbharadwaj commented on #334
@HitRam, Thanks for creating this issue. Can you fix this issue? This might be because you saved the labels as empty using the `Edit selected nodes` feature.

We can handle this in two ways:

1. Show a warning to user when the labels are getting overwritten
2. Change the `show node label` implementation - instead of just hiding and showing, add and remove mapping from `label` data attribute to lab

[2018-01-23 22:28] adbharadwaj commented on #298
Closing this issue because its duplicated.

[2018-01-23 22:28] #298 closed

[2018-01-23 22:32] adbharadwaj commented on #283
#323

[2018-01-23 22:33] adbharadwaj commented on #283
Closing because its duplicated.

[2018-01-23 22:33] #283 closed

[2018-01-23 22:33] adbharadwaj commented on #279
Fixed.

[2018-01-23 22:33] #279 closed

[2018-01-23 22:38] adbharadwaj opened #336 "Allow users to fork/clone a graph."
Add a fork button to allow a user to make a copy of a graph.

[2018-01-24 04:19] mitchwagner commented on #297
As #298 was closed due to duplication:

I believe that this component of #298 is unresolved and belongs here.

"What this indicates then is that GraphSpace displays what appears to be an error to the user if they enter in an email that is not stored with the system. So, in addition to #297, it might be better to display a "user not found" message, or something along the lines of "If so and so user

[2018-01-24 04:54] tmmurali commented on #336
@adbharadwaj Isn't this a part of the "Git for Graphs" project we are proposing for 2018 GSoC? Implementing cloning/forking might require thinking about all the requirements for "Git for Graphs".

[2018-01-24 07:31] lohani2280 opened #337 "Unable to run GraphSpace locally"
[code]
I am new to GraphSpace. I tried installing GraphSpace locally and got stuck here.Please help.

[2018-01-24 07:51] lohani2280 commented on #337
Sorry, I have resolve the above `password authentication` failure. However, still when i run                  `sh install.sh`
i  get following error:
[code]

[2018-01-24 10:24] HitRam commented on #335
@adbharadwaj here is what I get in console

<img width="1280" alt="screen shot 2018-01-24 at 3 53 18 pm" src="https://user-images.githubusercontent.com/19632768/35327130-d095096e-011e-11e8-9b9d-b6d05f053144.png">

[2018-01-24 10:27] HitRam commented on #334
@adbharadwaj  Sure I'll try this once #335 this gets fixed.

[2018-01-24 10:46] lohani2280 commented on #337
I have gone through the issue https://github.com/Murali-group/GraphSpace/issues/333 and it helped me to resolve my issue. However, when i start my development server at http://127.0.0.1:8000/ , the UI is quiet inconsistent. Here is the image-
![screenshot from 2018-01-24 15-58-09](https://user-images.githubusercontent.com/18470647/35327866-b8696cde-0120-11e8-9c1c-45f98f026630.png)

Also when i log

[2018-01-26 13:13] bruce-wayne99 commented on #317
@adbharadwaj i have implemented editing **name** and **title** of the graph.  The following is a gif of the implementation. Please have a look at it.
![updating_name_title](https://user-images.githubusercontent.com/25129274/35440408-46c7494c-02c5-11e8-8af2-549055a4ae6c.gif)
But the page must be reloaded to view the updated table.
I though of two options for handling this scenario:
(i) This could b

[2018-01-27 06:38] lohani2280 commented on #337
I have installed the GraphSpace. However, when I try to upload graph by filling the graph name and a .cyjs network file and then when i click the submit button, i get following error-

![screenshot from 2018-01-27 12-05-28](https://user-images.githubusercontent.com/18470647/35469424-58d2478c-035a-11e8-9571-e8893d200404.png)

![screenshot from 2018-01-27 12-05-34](https://user-images.githubusercont

[2018-01-28 05:42] melvin15may commented on #337
`CSRF verification failed` is a common error with Django. Follow [this](https://stackoverflow.com/questions/9692625/csrf-verification-failed-request-aborted-on-django) stackoverflow answer.

[2018-01-28 05:51] melvin15may commented on #335
This is not helpful. Can you share the error response (probably a 500 error) from the **Network** tab.

[2018-01-28 08:29] HitRam commented on #335
@melvin15may  I was initially using higher version of Django. Later I installed the correct version and it works fine now. But as mentioned #337 , The UI is inconsistent and bower install doesn't help.
It is unable to load tooltip.js and popover.js

And while uploading a graph, I get the following error -

<img width="1280" alt="screen shot 2018-01-28 at 1 58 26 pm" src="https://user-images.github

[2018-01-28 20:52] sagarvijaygupta commented on #335
I am getting the same issue while trying to upload a graph.

[2018-01-28 21:16] melvin15may commented on #335
@HitRam Seems to be an elasticsearch issue. Try if you can connect to elasticsearch using `curl localhost:9200`. The [git issue](https://github.com/elastic/elasticsearch-py/issues/63)/[stackoverflow answer](https://stackoverflow.com/a/39447756) regarding this says to re-install elasticsearch and setup correctly. Follow [these](https://github.com/Murali-group/GraphSpace/wiki/Steps-for-setting-up-El

[2018-01-28 21:28] lohani2280 commented on #335
I solved this issue for myself. Yes, its an elasticsearch issue. It took me some time to configure the elasticsearch(earlier my elasticsearch was not configured) and now I can upload the graph successfully.
@HitRam Please google to how configure elasticsearch.  I found this article quiet useful https://www.digitalocean.com/community/tutorials/how-to-install-and-configure-elasticsearch-on-ubuntu-14

[2018-01-28 21:32] lohani2280 commented on #337
@melvin15may Thanks for your help. I have solved the upload graph issue. The problem was basically with my elasticsearch configuration. I am still getting facing problems with UI working. I have configured the proxy for bower but still the issue is not getting resolved for the UI.
![screenshot from 2018-01-29 03-02-56](https://user-images.githubusercontent.com/18470647/35487378-e1b63ae4-04a0-11e8-

[2018-01-29 00:26] melvin15may commented on #337
@lohani2280 Not sure why its not working. These files are not able to find `Popper.js` and probably the first 2 errors are also something similar.

[2018-01-29 00:29] lohani2280 commented on #289
@adbharadwaj @jlaw9  I am a newcomer here. I want to work on this issue. I have installed GraphSpace locally. Can you please elaborate the issue a bit more?

[2018-01-30 03:24] adbharadwaj commented on #337
@lohani2280 Did bower install run successfully ?? I would recommend deleting the `bower_components` folder and reinstalling the dependencies. This time using `sudo bower install`.

[2018-01-30 03:25] adbharadwaj commented on #297
Thanks @mitchwagner for bring that up. I am adding the `good-first-issue` tag to it. Hopefully somebody will pick that up.

[2018-01-30 03:29] adbharadwaj commented on #336
@tmmurali it is but I added this issue as good exercise for anyone trying to apply for `Git for graphs` project. Aim is to build a proof of concept functionality. Conceptually, its a easy implementation. All we have to do is fetch the graph json and style son for a graph and clone by uploading them for the current user.

[2018-01-30 03:33] adbharadwaj commented on #317
@bruce-wayne99 Looks promising!
Can you make it look like Github? You can refer to the GIF in my previous comment. Ideally we wouldn't wanna hide the graph while editing the name and description.  For tags, you can refer to Github's tags edit functionality. Let me know if you have more questions.

[2018-01-30 03:51] adbharadwaj commented on #335
@lohani2280 @HitRam @sagarvijaygupta Thanks for collaborating with each other on this. This thread brought an idea to my mind. I think we should start a wiki page where we should document common errors faced while setting up GraphSpace. It would be really helpful. Most of the issues report related to installation are redundant and can be solved with help of a guide which contains solutions to them

[2018-01-30 03:52] adbharadwaj commented on #335
@HitRam were you able to solve the issue related to popover.js and tooltip.js ?

[2018-01-30 04:01] adbharadwaj commented on #337
@lohani2280 found the solution. Run the following command to fix the issue.

[code]
The problem was that bootstrap dependency was missing from bower.json file and `bower install bootstrap` command installs bootstrap V4 which doesn't come with plugins like popover.js by default anymore.

I am fixing this issue by adding bootstrap dependency with proper version number.

[2018-01-30 04:05] adbharadwaj commented on #337
@lohani2280 please close the issue if problem is resolved.

[2018-01-30 04:07] adbharadwaj commented on #335
@HitRam  found the solution. Run the following command to fix the issue.

[code]
The problem was that bootstrap dependency was missing from bower.json file and `bower install bootstrap` command installs bootstrap V4 which doesn't come with plugins like popover.js by default anymore.

I have fixed this issue by [adding bootstrap dependency with proper version number](https://github.com/Murali-group

[2018-01-30 04:07] #335 closed

[2018-01-30 04:20] tmmurali commented on #336
OK. Makes sense.

[2018-01-30 04:33] adbharadwaj commented on #289
1. You should refer to the [Default Layout](http://manual.graphspace.org/en/latest/Interacting_with_Graphs.html#default-layout) documentation.

2. Currently a user can save layouts using `Layout Editor` only. Once a user has saved a layout they can set it as default.

3. But what if a user wants to save an [automatic layout option](http://manual.graphspace.org/en/latest/Interacting_with_Graphs.htm

[2018-01-30 08:10] lohani2280 commented on #337
@adbharadwaj Thank You so much for the help. Yes, now the problem is resolved. I am closing this  issue.

[2018-01-30 08:10] #337 closed

[2018-01-30 18:23] jahandaniyal commented on #336
Hi Mentors,

I would love to work on the **"Git for graphs"** project as a part of **2018 GSOC**.
In order to familiarize myself with the source code of **Graphspace** I will try my hands on some of the 'good first issues'. I'm in the process of completing the local setup (currently on a windows 10 surface tablet - though I will be working mostly on Ubuntu ). I have read few sections of the **Grap

[2018-01-30 19:10] jlaw9 commented on #289
So my goal was to allow someone who's posting a graph through the API to be able to have an automatic layout applied automatically without needing to click anything.  I think the second point is what would need to be implemented for that to work. I don't think the issue you bring up about not saving the exact layout is a problem because I just want the automatic layout to be applied. If I wanted t

[2018-01-30 19:23] tmmurali commented on #289
To implement "allow someone who's posting a graph through the API to be able to have an automatic layout applied automatically without needing to click anything" shouldn't we first add a property to the graph JSON that specifies the name of the layout algorithm, as Jeff suggests in the definition of the issue?

In the UI, adding a row for each algorithm seems clunky (the second approach suggested

[2018-01-30 19:25] adbharadwaj commented on #336
Hi Daniyal,

Any kind of contribution to README.md will be helpful. Thanks.

Although for the GSoC project we would be evaluating on the basis of the
patch submitted for one of the Github issues. I would recommend you to take
up this issue if feasible.

https://github.com/Murali-group/GraphSpace/issues/336

*Aditya Bharadwaj*
Graduate Research Assistant,
Department of Computer Science,
Virginia Te

[2018-02-02 20:37] adbharadwaj opened #341 "Implement a notifications UI on top of current notifications system."

[2018-02-02 20:53] adbharadwaj commented on #341
@heidict  Refer to the following links:

- https://github.com/Murali-group/GraphSpace/pull/315
- https://github.com/Murali-group/GraphSpace/wiki/GraphSpace-and-Docker
- Clone https://github.com/melvin15may/GraphSpace/tree/e%23264

[2018-02-03 13:34] lohani2280 commented on #297
@adbharadwaj  I want to work on this issue. Can you please sum up what else needs to be done besides validating the field of an email address?

[2018-02-03 15:40] guruhegde opened #342 "GraphSpace installation failure: ENORESTARGET No tag found that was able to satisfy ^3.3.7"
I tried installing graphspace locally. I have all the dependencies covered.

Installation not complete due to the following error:

bower bower#^3.3.7                           ENORESTARGET No tag found that was able to satisfy ^3.3.7
Additional error details:
No versions found in https://github.com/theshock/atomjs.git

Any clue what is wrong? let me know if you need any further details.

[2018-02-04 04:44] guruhegde commented on #342
I got around the problem by modifying version requirement for bower to * (any matching version)

[2018-02-05 09:31] jahandaniyal commented on #342
I had faced the same problem while building on 3 different PCs. The resolution was setting bower="*" in the Bower.json file.
@adbharadwaj I mailed you regarding Build problems on Windows and Ubuntu, and also about issue #336 . I look forward to your suggestions.

[2018-02-05 09:42] jahandaniyal opened #343 "UI of Export button on Graphs page behaves abnormally"
This is a minor bug and doesn't affect the functionality of Graphspace in any way.
**Bug :**  Export button is always at the top because of an unusually high z-index value of 20000. The problem is that when the user wants to sign-out the export button hides the sign-out drop-down menu. Also, while scrolling down, export button goes above the main header of the page.
I believe the z-index was set t

[2018-02-05 16:37] jahandaniyal commented on #336
I have implemented the following features for a proof of concept - **Fork** functionality :
1. User can fork any public/shared graph. Anonymous Users cannot fork.
2. The forked graph gets added to **My Graphs** list of the current user. Visibility is set using the **is_public** variable.
3. The **owner_email** field is overwritten **uid** of the current user i.e the email ID of the user who forked

[2018-02-05 16:40] jahandaniyal commented on #342
I had faced the same problem while building on 3 different PCs. I solved it by setting bower="*" in the Bower.json file.

[2018-02-05 16:49] tmmurali commented on #336
@jahandaniyal This is an excellent start! You have added very useful functionality. The points you are raising about additional features are very valid.

Maintaining a link to the parent graph is essential. So that seems to be critical functionality to implement, especially after a bit more thought and design. It will require change to the PostgreSQL database, unless we can figure out how to keep

[2018-02-05 18:04] adbharadwaj commented on #342
This shouldn't happen now. I fixed it. It was meant to be bootstrap, not bower.

[2018-02-05 18:04] #342 closed

[2018-02-05 19:02] jahandaniyal commented on #336
prof. @tmmurali I have kept ownership of the forked graph to Private by default.

For maintaining link to the parent graph, we could take advantage of the fact that each graph is referenced by an unique graph_id in the database. Based on this reasoning, I have thought of 2 possible options which might fit the requirement :
1. Add an extra field to Graph data structure.
This would require making ch

[2018-02-07 14:13] jlaw9 commented on #289
I agree with @tmmurali. The real reason I opened this issue is for the following scenario:

Suppose I post 100+ graphs and I make them public along with a published manuscript. If someone new to GraphSpace opens one of those graphs, I want to have the cola layout with specific settings applied automatically without requiring me to manually set the default layout for each of those 100+ graphs.

Thi

[2018-02-07 16:22] mitchwagner opened #345 "Uninformative UX / Grammatical Error"
When one attempts to delete a graph, they receive the following message:

"The graph will be deleted in sometime."

At a minimum, this should read "The graph will be deleted in some time."

Even this message is vague, however. It might be helpful to add the name of the deleted graph as a sort of confirmation. It would also be very helpful/comforting to a user to provide an upper range of when the

[2018-02-07 16:39] tmmurali commented on #345
I agree. The message has to be more precise. @adbharadwaj can you remind me why deletion takes time? Does the graph owner know when the deletion operation completes?

Does our notifications infrastructure handle deletions? I can imagine that both the graph owner and users with who the graph is shared get one notification when the owner "presses the delete button" and another when GraphSpace actual

[2018-02-07 17:59] adbharadwaj commented on #297
We need to do two things.

- Validate email address - entered value should be valid email
- Change the error message to - "You will receive an email with link to update the password" even if the email id doesn't exist.

[2018-02-07 18:24] guruhegde commented on #345
Hello, my name is guruprasad, i am interested in this project. Can I take this up?

I scanned through the code and from my understanding on delete request from the client, deletion done at the server without any fixed delay(it may delay because of network latency or high load).

Fix 1: "Submitted the request to delete the graph with id $id. The graph will be deleted in some time."

or

Fix 2: "Sub

[2018-02-07 18:50] adbharadwaj commented on #343
@jahandaniyal  can you fix this and send a pull request.

[2018-02-07 19:17] tmmurali commented on #343
Is there a way to fix this issue without hardcoding a z-index value?

On Wed, Feb 7, 2018 at 1:50 PM, Aditya Bharadwaj <notifications@github.com>
wrote:

[2018-02-07 23:45] jahandaniyal commented on #345
@mitchwagner  Did you mean something like the UX in the gif below ?
we can display the **graph name** in bold font instead of the **graph id** as you suggested earlier .

![propose 345](https://user-images.githubusercontent.com/4581090/35947195-99d37d48-0c5e-11e8-92f6-596543c355bf.gif)

[2018-02-08 01:33] mitchwagner commented on #345
@jahandaniyal Yes, this is very close to what I was envisioning, with the following caveat:

As @guruhegde pointed out, the delete request can take longer than a few moments. For those cases, a different solution for notifying the user (such as email, or the notification framework developed over the last summer) may be more appropriate than a pop-up, since it will be hard to guess when the deletio

[2018-02-09 12:50] jahandaniyal commented on #345
@mitchwagner  Perhaps I'm wrong, but I think the notification framework has not been integrated in the current release of Graphspace.
Any suggestions on how to use the notification framework would be helpful.
If this issue is not yet assigned, then I would like to take it.

[2018-02-09 17:49] jahandaniyal commented on #336
@tmmurali @adbharadwaj
I have tried to implement link to the parent graph, similar to the behaviour we have in Github.
I would like to demonstrate the following scenarios :
1. A user opens a graph he had uploaded himself.
**Observation -** UI has no **Fork Button** or **forked from message**.
2. User opens a graph he had forked earlier.
**Observation -** forked from **parent_graph_owner's_email /

[2018-02-09 19:02] mitchwagner opened #348 "Duplicate Group Name Error Message"
On a whim, I attempted to create a group with the same name as a previous group I am the owner of. I received the following error message:

![screen shot 2018-02-09 at 1 55 48 pm](https://user-images.githubusercontent.com/5316207/36044609-36a5efbe-0da1-11e8-8146-36d1f92d0d72.png)

While not a high priority, a more informative error message that anticipates this mistake and makes the error clearer

[2018-02-09 19:26] tmmurali commented on #348
@mitchwagner Would you like to fix this bug? It should not take much work, I think. The violated constraint makes me think that there is no check with the database to see if this group already exists.

[2018-02-09 19:58] mitchwagner commented on #345
The notification framework is currently on this fork, with an open pull request to our development branch: https://github.com/melvin15may/GraphSpace

Information on how this framework is implemented is here: https://gist.github.com/melvin15may/2ae50b6904844a8fa390030321394a3f

It might be best to hold off on this issue until that pull request goes through (unless we want a stop-gap solution), but

[2018-02-09 19:59] mitchwagner commented on #348
Sure, I will give it a shot!

[2018-02-09 21:07] HitRam commented on #348
@mitchwagner  I have already fixed this bug in #338

[2018-02-09 21:30] adbharadwaj opened #349 "Error while installing GraphSpace using docker image"
@melvin15may One of the undergraduate students (@heidict) in our lab is having issues installing GraphSpace using docker. Can you help? Here is the error she is getting while following the instructions given [here](https://github.com/Murali-group/GraphSpace/wiki/Setup-and-run-graphspace-docker-image).

[code]

[2018-02-09 22:40] adbharadwaj commented on #349
We get the same error when we try the following [instructions](https://github.com/Murali-group/GraphSpace/wiki/Build-and-run-GraphSpace-docker-image-using-DockerFile).

[2018-02-09 22:41] melvin15may commented on #349
Can you check if you have `docker_command.sh` file in the GraphSpace root directory.

[2018-02-09 22:41] melvin15may commented on #349
The branch containing the file `docker_command.sh` has not been merged.

[2018-02-09 22:42] adbharadwaj commented on #349
Yeah, it is there. I also updated the docker file to point to your fork (e#264 branch) instead of master repo.

[2018-02-09 22:44] melvin15may commented on #349
Point it to `e#264-docker-diff`

[2018-02-09 22:44] adbharadwaj commented on #349
I updated the Dockerfile [here](https://github.com/melvin15may/GraphSpace/blob/e%23264/Dockerfile#L51) to

[code]

[2018-02-09 22:45] melvin15may commented on #349
Just update the branch, should work

[2018-02-09 22:45] adbharadwaj commented on #349
@melvin15may whats wrong with `e#264-docker-diff`? I thought that was the final code.

[2018-02-09 22:59] melvin15may commented on #349
Sorry about that, just went through e#264 branch. It should work. Can you paste the error message.

[2018-02-09 22:59] adbharadwaj commented on #349
[code]

[2018-02-10 00:44] adbharadwaj commented on #349
@melvin15may @heidict The solution was to clear the old images, containers, and volumes.

Refer to following article on how to do it.

https://www.digitalocean.com/community/tutorials/how-to-remove-docker-images-containers-and-volumes

[2018-02-10 00:58] mitchwagner commented on #348
@HitRam Awesome, good to know!

[2018-02-10 07:54] bruce-wayne99 commented on #317
@adbharadwaj since the graph visualization and graph information are on different panels, should i display the name, description, tags, title for the graph in the visualization tab and then provide edit/cancel options for the user in the visualization tab?

[2018-02-10 16:58] tmmurali commented on #345
@jahandaniyal The key question here is figuring out when the graph will be completely deleted from the database. If the deletion code can update the notification infrastructure when the delete operation completes, then we can notify the graph owner and other users with whom the graph is shared

@adbharadwaj Can we write some code to update the notifications list when the delete completes?

[2018-02-11 04:06] adbharadwaj commented on #343
@tmmurali I dont think there is a way to fix it without hardcoding z-index value.

[2018-02-11 04:30] tmmurali commented on #343
OK. Thanks.

On Sat, Feb 10, 2018 at 11:06 PM, Aditya Bharadwaj <notifications@github.com

[2018-02-11 04:45] adbharadwaj commented on #336
@jahandaniyal I like the demo. It showcases all of the basic use cases required for fork/clone functionalities. I think this is a good POC for Git `Diff` project.

Here is what I think of the two options suggested by @jahandaniyal.

1. First option will require a db change. The problem is that most of the time the column will be empty and would refer to any graph which will be a waste of space.

2

[2018-02-11 04:52] adbharadwaj commented on #317
@bruce-wayne99 We need to split this into two parts.

1. On graph visualization page, we should allow a user to edit the name, title, and tags of the graph.
2. On graph information page, we should allow a user to edit all of the [graph data attributes](http://manual.graphspace.org/en/latest/GraphSpace_Network_Model.html#graph-data-attributes) like name, title, tags, description etc.

[2018-02-11 05:05] adbharadwaj commented on #345
@tmmurali Yes, we can write a code to update the notifications list when delete completes. Because all calls in python are blocking calls, we can simply add the code to notify the user after the deletion.

[2018-02-11 06:32] jahandaniyal commented on #336
For the POC demonstration I have used the 2nd method. So, the entry for 'data' now has 'description', 'tags', 'names', and 2 other fields.
I will implement the changes @adbharadwaj  mentioned above. I would also like to work on the **Git diff** POC if it's available.
May I commit the changes I've done so far? Or should I commit to my forked repository for the time being.

[2018-02-11 06:39] adbharadwaj commented on #336
You don't have to implement the Diff feature. It's a separate feature and part of a different project.

You can send a pull request with the changes. The aim of this issue is to just allow users to clone graph.

[2018-02-11 11:16] sanket0211 commented on #297
Hi @adbharadwaj,
I am currently working on this issue. I want to confirm somethings:
1. At present, the Max input length of email on the registration page is 100 characters. Should I increase it to 254? I have changed the code in such a way that now it accepts only valid email as input. In reality, the total length of Email can be 254 characters.
[Email validation I am doing using regular expressi

[2018-02-11 15:51] lohani2280 commented on #297
Hey @sanket0211 I am already working on this issue. If you don't mind can you please take up any other issue?

[2018-02-11 16:41] tmmurali commented on #320
@sanket0211, thank you for your interest. Can you work on this issue?

[2018-02-11 21:52] sanket0211 commented on #297
Hey @lohani2280,
I am really sorry. You can surely continue with this issue.

The following might help you while you deal with this issue:

1. To deal with "Issue: Validate email address - entered value should be valid email"
a. File - /GraphSpace/application/users/forms.py. This file contains a function RegisterForm which generates the signup form on the homepage. Here you can change the input fi

[2018-02-11 23:14] sanket0211 commented on #320
Respected prof. @tmmurali,
I am working on this issue. Will just increasing the allowed input size to 254 in the HTML page of upload graph work? I have checked the database schema. There is no limit defined for the column. The database stores Graph name in the form of a string whose max_length is not defined so I assume that it can store at least 254 characters.
Thank you.

[2018-02-12 07:35] lohani2280 commented on #297
Hey @sanket0211
Thank You so much for the favour and for your valuable suggestions.

[2018-02-12 08:44] lohani2280 opened #352 "Add GraphSpace documentation link in the README.md"
Currently, the README.md file does not contain the documentation link. I think it would be a good idea to add this link http://manual.graphspace.org/en/latest/index.html to our README

[2018-02-12 08:46] bruce-wayne99 commented on #317
@adbharadwaj I have implemented editing name,title,description functionality.  gif of the implementation :
![final](https://user-images.githubusercontent.com/25129274/36088891-1e900b70-0fff-11e8-873c-ef7137b244ec.gif)
I have gone through the tags implementation github but there are using a new page for displaying all the tags and editing them as shown in the screen shot.
![screenshot from 2018-02-

[2018-02-12 15:09] tmmurali commented on #320
@adbharadwaj What do you think?

[2018-02-12 15:49] tmmurali commented on #317
Thanks. This implementation looks nice.

Is the edit button seen only by the user of the graph?

On Mon, Feb 12, 2018 at 3:46 AM, Subramanyam Makam <notifications@github.com

[2018-02-12 15:49] tmmurali commented on #317
Sorry. I meant to say "owner of the graph".

On Mon, Feb 12, 2018 at 10:49 AM, T. M. Murali <murali@cs.vt.edu> wrote:

[2018-02-12 16:26] bruce-wayne99 commented on #317
Yes, the edit button will only appear if user-id is same as the owner-id.

[2018-02-12 16:56] adbharadwaj commented on #352
Makes sense. Can you send a patch for this as well?

[2018-02-12 17:15] tmmurali commented on #352
Add a section to README.md titled "Documentation" with one sentence

"GraphSpace has extensive documentation on the user interface, the REST
API, and a Python package for programmatic interaction."

You can hyperlink each of "user interface" "REST API" and "Python package"
to appropriate portions of docs.graphspace.org

On Mon, Feb 12, 2018 at 11:56 AM, Aditya Bharadwaj <notifications@github.com

[2018-02-12 17:19] adbharadwaj commented on #320
Few things to clarify!

- The UI only allows users to set the name of the graph. [Title](http://manual.graphspace.org/en/latest/GraphSpace_Network_Model.html#graph-data-attributes-attributes-treated-specially-by-graphspace) is a different field.
- The graph table has no `title` column. The title is stored in [graph data attributes](http://manual.graphspace.org/en/latest/GraphSpace_Network_Model.ht

[2018-02-12 17:23] tmmurali commented on #320
If we enforce a restriction on the length of an attribute, we need to
document this restriction. Where do we document it? Do we document why we
have such a restriction?

On Mon, Feb 12, 2018 at 12:19 PM, Aditya Bharadwaj <notifications@github.com

[2018-02-12 17:27] adbharadwaj commented on #320
The reason is to avoid very long graph names which can hamper the search page look and feel.

We can document it above the input field in HTML code.

[2018-02-12 17:33] tmmurali commented on #320
Yes, there but also in the main documentation of GraphSpace, both in docs
of the user interface and the docs for the REST API/GraphSpace Python.

On Mon, Feb 12, 2018 at 12:27 PM, Aditya Bharadwaj <notifications@github.com

[2018-02-12 20:11] adbharadwaj commented on #320
As of now, there is no limit check on API code. @sanket0211 Can you make that change and update docs for the REST API>

[2018-02-13 07:40] lohani2280 commented on #352
@adbharadwaj @tmmurali  Thanks. I will send the patch for this very soon.

[2018-02-13 18:16] sanket0211 commented on #320
Prof. @tmmurali, @adbharadwaj Sir,
sorry for late reply. I was not keeping well yesterday.

Prof. @tmmurali, thank you for your reply. @adbharadwaj Sir, yes I 'll make that change and also update the corresponding docs too.

Thank you.

[2018-02-13 21:07] adbharadwaj commented on #317
@bruce-wayne99 Looks great. Few more suggestions.

- The edit panel should be spread across the entire width of the screen i.e width 100%, instead of centering them.
- Change color of cancel button to red - you can use `danger` class in bootstrap
- To edit tags, you refer to [Manage Topics](https://help.github.com/articles/classifying-your-repository-with-topics/) feature on GitHub. You can refer

[2018-02-13 21:15] adbharadwaj commented on #317
This is how add topics look like on GitHub.
<img width="1109" alt="screen shot 2018-02-13 at 4 14 36 pm" src="https://user-images.githubusercontent.com/3481095/36174062-126c4130-10d9-11e8-909c-c84f9d67d9a6.png">

[2018-02-13 21:24] sanket0211 commented on #320
@adbharadwaj  Sir,
I have added a patch. Can you please review and let me know if any changes are required?
Thank you.

[2018-02-13 21:47] sanket0211 commented on #332
@adbharadwaj  Sir,
Should I take up this issue? I can take inspiration from @sandeepm96 's blog and create documentation for usage of GraphSpace APIs.
Thank you.

[2018-02-15 10:14] sanket0211 commented on #332
@adbharadwaj Sir,
I have submitted a patch for this issue. https://github.com/Murali-group/GraphSpace/pull/356. Can you please check if its fine.

Thank you.

[2018-02-15 14:05] manishkk opened #357 "[GSoC 2018] Interested in the project: Implement a machine-readable graph legend interface"
Hi,
I'm Manish Kumar, a master's student at TU Kaiserslautern, currently writing my thesis at Max Planck Institute for Software Systems in Kaiserslautern, Germany. I have been using Python for quite some time for my academic and hobby projects and also have a fair amount of experience in Django. I have also contributed to Mozilla.

GraphSpace as a tool seems very interesting to me and I would like

[2018-02-15 14:20] manishkk commented on #322
Hi, I would like to work on this issue.
Sharing/Unsharing and removing seems to be straightforward and should be easy to implement and so is adding tags. But for modifying existing tags I'm assuming we show only those tags which are present in all of the selected graphs?

Two options for the above implementation:(i) I can maintain a list of all the selected graphs client side and then send ajax re

[2018-02-15 20:30] bruce-wayne99 commented on #317
@adbharadwaj Sir, @tmmurali  Sir,
- I have spread the edit panel 100% across the screen.
- Added red color to cancel button (shown in the gif for editing tags).
- Implemented editing/adding tags same as Manage Topics on github
- GIF of the implementation.
![tags](https://user-images.githubusercontent.com/25129274/36279400-06ce45d6-12bd-11e8-8fcf-64ad031e41fb.gif)
- Please suggest me if any changes

[2018-02-15 22:25] jahandaniyal opened #358 "Bug in node select/deselect feature of layout Editor"
I found the following issues with the layout editor -

1. Open **layout editor** and select rectangle/triangle or any other node. Then toggle **show node labels**.
**Observation -** It toggles all the nodes irrespective of the selected ones. Perhaps, it is by design.
Can there be a case where a user only wants to toggle the label of selected nodes?

![layoutbug01](https://user-images.githubusercon

[2018-02-16 07:33] jahandaniyal commented on #305
@adbharadwaj I see this issue has not been assigned yet. Can I take this issue ?

[2018-02-16 07:48] jahandaniyal commented on #319
Hi @jlaw9  Could you please elaborate the requirements of provenance tool/tab you mentioned.
Will the versioning tab serve only as a log of changes made or should it allow user to go back to the state of the Graph?

[2018-02-16 09:46] jahandaniyal commented on #305
@mitchwagner @jlaw9 Did you envision something like this ?

![bug 334](https://user-images.githubusercontent.com/4581090/36301682-9959d5c4-12fd-11e8-88f5-0b4b383128fb.gif)

[2018-02-16 13:17] jlaw9 commented on #257
@mitchwagner, I don't think we want a different layout as you move through the ranks either. The main use case I'm thinking of for this issue is the following:

1. Set the filter to view the top 20 paths (out of 200)
2. Layout the top 20 paths
3. Save set as default layout and share
4. Instead of seeing the nicely laid out 20 paths when opening the graph, the user or whomever the graph is shared w

[2018-02-16 13:17] jlaw9 commented on #305
@jahandaniyal Looks great! This is the functionality I was expecting. Also somewhat related to this issue is #257 (if you save the layout with a filter/rank, the filter setting should also be saved).

[2018-02-16 14:26] jlaw9 commented on #319
Hi @jahandaniyal Just saw you were working on #336. This is another step in the "git for graphs" project. We are planning on versioning graphs and allowing users to go back to previous states of the graph as well as features like migrate a layout from a previous version.

[2018-02-16 20:15] adbharadwaj opened #359 "Validate email addresses on server side"
Currently, we only validate the email addresses on the client side. We would want to validate email values before we save them in the database. If the email address is not valid, we would have to generate a proper error message for the user.

Refer to this [PR to find out how we validate email addresses on client side](https://github.com/Murali-group/GraphSpace/pull/351#pullrequestreview-95822081)

[2018-02-16 20:23] adbharadwaj opened #360 "Confirm email addresses by sending a confirmation email to users."
When a user creates an account on GraphSpace, we want to send them an email with a confirmation link. Unless a user has confirmed their email address we would want to restrict some functionalities. This way we can ensure that all of our users have a valid and genuine email address. For information refer to the following discussion on [StackExchange](https://ux.stackexchange.com/questions/70157/wha

[2018-02-16 20:30] adbharadwaj commented on #319
@jahandaniyal I will answer your query in two parts.

**First**, the overall goal of this issue is to implement a simple version of "Git for Graphs", which will allow users to track changes made to a graph, to describe these changes, as well as to easily undo these changes. This feature will help users to document the process and workflow that produced the given graph. Here is a list of features t

[2018-02-16 20:38] bruce-wayne99 commented on #359
I would like to work on this issue.

[2018-02-16 20:52] lohani2280 commented on #360
@adbharadwaj I would like to work on this Issue.

[2018-02-16 22:08] adbharadwaj commented on #360
@lohani2280 👍

Let us know if you have any questions.

[2018-02-16 22:08] adbharadwaj commented on #359
@bruce-wayne99 👍

Let us know if you have any questions.

[2018-02-16 22:14] adbharadwaj commented on #257
@jlaw9 @mitchwagner  I am not sure how I would implement this feature.

[2018-02-16 22:16] adbharadwaj commented on #358
@jahandaniyal did you figure out the reason for this error?

[2018-02-16 22:27] adbharadwaj commented on #317
@bruce-wayne99 A few more suggestions,

- Font size of Manage tags link looks inconsistent with tags font size left to it.
- Arrange the input field and two buttons in such a way that buttons aligned on the right side and field is bigger size s.t there are no awkward big empty area between field and buttons.
- Edit button is too close to export button. distance should be same as with share button.

[2018-02-16 22:50] adbharadwaj commented on #357
@manishkk I am going to close this issue. All non-technical communications should be done using email. We have seen your comment on [NRNB issue 114](https://github.com/nrnb/GoogleSummerOfCode/issues/114). Please go ahead and start working on the patch.

[2018-02-16 22:50] #357 closed

[2018-02-16 22:52] jlaw9 commented on #257
@adbharadwaj I was thinking of just storing the current filter value in the style/layout JSON when the layout is saved, and then when that layout is opened for the graph, automatically apply the filter level stored in the style JSON. Would that work?

[2018-02-16 22:54] adbharadwaj commented on #332
@sanket0211 I have commented on it.

[2018-02-16 22:59] adbharadwaj commented on #257
The problem with that solution is that filter is not a layout concept. If we add rank value to layout json, it will violate the fact that currently layout JSON stores only things that can be edited within the layout editor. One possible solution would be to add rank filter widget to layout tool and communicate the consequences properly in the documentation.

Another issue is that, if we fiddle aro

[2018-02-17 00:00] jlaw9 opened #361 "Permissions issue after opening an uploaded graph through UI"
Steps to recreate issue:

1. Go to http://graphspace.org/upload
1. Enter a name and select a network (cyjs or JSON) file
1. Click submit.
1. Click the link generated on the page to view your uploaded graph
    - User is greeted with a great "you don't have permission to view this graph" message
1. Remove "www." from the url. Graph is now viewable

[2018-02-17 00:25] jlaw9 commented on #257
Makes sense to me to have the filter be edited within the layout editor if we're going to allow the user to save the filter.

The rank filter is already not compatible elsewhere. And if we add a field like `"rank_filter": 20` to the top level of the style JSON, I'm pretty sure it will simply be ignored by other Cytoscape.js applications. At least GraphSpace ignores it if I add it to a style JSON f

[2018-02-17 05:48] mitchwagner commented on #257
@jlaw9, I am not suggesting a different layout as one moves through the ranks. I am suggesting something like a simple URL option, such that when that specific URL is accessed, the proper number of ranked items is shown according to the layout. Functionally, it seems very similar to what you are suggesting.

1. Set the filter to view the top 20 paths (out of 200)
2. Layout the top 20 paths
3. Save

[2018-02-17 06:39] sanket0211 commented on #361
Hi @jlaw9,
I tried to recreate the issue, but was unsuccessful. Can you please give me more details on it which can help recreate this issue?
When you click on the link, please make sure that you are logged in the account from which you uploaded the graph, else you will get something like this.
![issue_per_graph](https://user-images.githubusercontent.com/9818825/36338660-4b475a94-13db-11e8-8e73-7b

[2018-02-17 07:26] jahandaniyal commented on #361
@sanket0211 If the user uploads a graph without logging in to his account, then the graph is uploaded as Anonymous User and is accessible by everyone (logged and not logged in users both). Also, graph uploaded by a user is not visible to other users unless the owner shares it.

@jlaw9  I too tried to recreate the issue - both as Anonymous User and as logged-in user, but the generated link worked j

[2018-02-17 08:35] jahandaniyal commented on #305
@jlaw9 Thanks. I will check #257.
@adbharadwaj Can I work on this issue? I think I might have a solution (requires minimal changes).

[2018-02-17 08:46] jahandaniyal commented on #319
@jlaw9 Indeed, I was working on #336. I am planning to apply for `Git for graphs` project for GSOC '18 and this issue seems to be related, hence my interest.
@adbharadwaj Thank you. Can I work on this issue? Maybe make a POC like I did for #336?.

[2018-02-17 09:07] jahandaniyal opened #362 "Add section - Running Graphspace locally on Windows in the README.MD"
Currently, there are no instructions to build Graphspace locally on windows.
I have tested windows 10 build thoroughly and I think having the option to build on Windows would make it much more flexible.

[2018-02-17 09:40] lohani2280 commented on #352
@adbharadwaj  This issue has been solved in the PR https://github.com/Murali-group/GraphSpace/pull/355 . Therefore, I am closing this issue.

[2018-02-17 09:40] #352 closed

[2018-02-17 09:42] lohani2280 commented on #277
@tmmurali @adbharadwaj This issue has been addressed in the PR https://github.com/Murali-group/GraphSpace/pull/347 . Therefore, I think this can be safely closed.

[2018-02-17 10:28] lohani2280 opened #363 "Add License and author info in the README.md"
Its generally a good practice to include a brief section in the README about the License and author info.Providing licensing and contact information is important to clarify the legal status of the project.Most of the open-source projects follow this practice.While crawling over the web, I came across this famous [gist](https://gist.github.com/PurpleBooth/109311bb0361f32d87a2) which contains a temp

[2018-02-17 11:52] bruce-wayne99 commented on #317
@adbharadwaj Sir,
- I have used to `bootstrap hyperlink` to display `Manage tags`.
- I have aligned `Save` and `Cancel` buttons to the right and spread the `input element` across the whole edit panel in case of both **Add/Remove Tags** and **Edit Name/Description/Title**.
- I have aligned `Edit` button properly with equal spaces between all the buttons.
- GIF of the impelementation:
![ui](https://

[2018-02-17 16:22] jlaw9 commented on #257
Thanks @mitchwagner yeah I agree adding the filter to the url only fixes half the problem. I think a layout database entry that stores the rank filter would work.

So I just tested this issue again by saving a layout with a filter set, and the functionality was better than I thought. If I reload the page with that layout, the filter I saved the layout with is set. What I didn't know is that if ano

[2018-02-17 16:22] #257 closed

[2018-02-17 16:36] jlaw9 commented on #305
Another aspect of this issue is the automatic layouts. If set the rank filter to the top 20 paths, I would expect an automatic layout such as Spring Embedder or Grid to be applied only on the nodes currently seen (i.e., not filtered out).

@adbharadwaj what do you think?

Also, @jahandaniyal did you test the "Arrange nodes" tools in the layout editor?

[2018-02-17 17:18] mitchwagner commented on #363
We have LICENSE.md for the license component of this issue. You are right that a quick scan over the README, LICENSE, and CONTRIBUTING files do not seem to have contact information in the form of emails. The repository itself does allow users to post issues, but it might be good to have another channel for communication.

[2018-02-18 03:37] tmmurali commented on #305
@adbharadwaj @mitchwagner @jlaw9 @jahandaniyal

There are at least two related issues on the layout editor. We have to consider all of them together and come up with a solution where the semantics of the operations are consistent across different scenarios.

My worry is that a discussion broken up across different issues on GitHub is going to lead to a messy solution. Can we create a Wiki page tha

[2018-02-18 11:40] jahandaniyal commented on #305
@jlaw9 Its possible! The `cy.layout()` function also works on a subset of the Graph. `cy.layout({graph_Subset}) `will apply layout only to the subset and, since it returns a layout object we could store its reference to track changes to the graph layout (Git for graphs).
[http://js.cytoscape.org/#eles.layout](url)

All of the layouts work fine except Cola. Cola is only working if we select the ent

[2018-02-18 13:25] lohani2280 commented on #363
@mitchwagner Yes, I have seen the  LICENSE.md. But what I meant is that we should also add a License  section to the README.md with a small description like "GraphSpace is available under the GNU General Public License v2.0 license. See LICENSE.md for more information" . I have seen many open source projects following this practice and that's why just though to put up my suggestion.

[2018-02-18 19:37] tmmurali commented on #317
@bruce-wayne99 @adbharadwaj This implementation looks good. Two points:

1. Having both an "Edit" button and a "Manage tags" button is bound to be confusing. The user will wonder (before clicking "Edit") about what it does. Can we not unite them in one button?

2. Are we changing the database to record these edits? Will other users who can see the graph get a notification of the changes and what t

[2018-02-18 19:40] tmmurali commented on #362
Yes, this would be a very useful addition. Can you update README.md with Windows-specific instructions?

Once we merge notifications, installation on all OSes becomes much harder. I think @heidict has successfully installed the notification branch on Windows. @jahandaniyal please coordinate with @heidict on this addition to the README.

We can update the README.md first for GraphSpace without noti

[2018-02-18 19:42] tmmurali commented on #361
@jlaw9 is this a reproducible issue?

[2018-02-18 19:47] tmmurali commented on #363
It is a good idea to add a brief section on the licence to README.md. @lohani2280 please send a patch.

[2018-02-18 23:33] bruce-wayne99 commented on #359
@adbharadwaj  I think there are two ways to handle this issue.
We can use built-in email validators of django (or) Write our own util function using regular expressions for the server side validation.
- As @mitchwagner  suggested in  [PR for validating email addresses on client side](https://github.com/Murali-group/GraphSpace/pull/351) that we should make sure the regexes used on both ends are the

[2018-02-18 23:46] tmmurali commented on #359
@abharadwaj, I thought that the consensus we had reached in our internal
discussions in our group at Virginia Tech was to send email to the user in
order to validate the address, at least at the point of account creation or
email update. Am I missing something?

On Sun, Feb 18, 2018 at 6:33 PM, Subramanyam Makam <notifications@github.com

[2018-02-18 23:53] adbharadwaj commented on #359
Oh yeah that's true. I have created a separate issue for that.

On Feb 18, 2018 6:46 PM, "T. M. Murali" <notifications@github.com> wrote:

[2018-02-19 00:01] tmmurali commented on #359
Then close this issue and refer to that one?

On Sun, Feb 18, 2018 at 6:53 PM, Aditya Bharadwaj <notifications@github.com>
wrote:

[2018-02-19 00:03] adbharadwaj commented on #359
Oh no!  I am creating two separate issues for server-side email validation which requires two parts. This issue is one of them.

- [Validation of email column](https://github.com/Murali-group/GraphSpace/issues/359).
- [Validation of email by sending a confirmation email](https://github.com/Murali-group/GraphSpace/issues/360).

[2018-02-19 04:41] tmmurali commented on #319
@jahandaniyal a proof of concept implementation will be very welcome. Thanks for the initiative.

[2018-02-19 04:46] tmmurali commented on #336
I have been thinking about how to refer to the parent graph from the forked graph. Adding a field to the JSON of the forked graph seems to be ripe for misuse.

A user could add this field to their graph's JSON and make it appear that it is forked from some other graph when it is truly is not. It might also happen due to a mistake in a script.

GraphSpace must record the fork in its database to pre

[2018-02-19 05:18] HitRam commented on #358
@jahandaniyal @adbharadwaj  This issue is duplicate of #334